﻿@model StirCrazy.Admin.Models.PromotionModel

<div class="col-lg-12">
    <h2><strong>Promotion</strong> Code</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Promotion</strong> Details</h3></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Type</label>
                                    <div class="controls">
                                        @Html.EnumDropDownListFor(model => model.PromotionType, "-- Choose Type --", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Code</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Adjustment</label>
                                    <div class="controls">
                                        @Html.EnumDropDownListFor(model => model.AdjustmentType, "--", new { @class = "form-control", style = "width: 100px" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Adjustment, new { @class = "form-control", style = "width: 100px" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Expires (Date)</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Expired, new { @class = "form-control datepicker" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
