﻿@using StirCrazy.Core.Utilities
@model StirCrazy.Admin.Models.PromotionModel

<div class="col-lg-12">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Promotion</strong> Details</h3></div>
                <div class="panel-body">
                    <div class="row">
                        @Html.ValidationSummary(true)
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Type</label>
                                <div class="controls">
                                    @Model.PromotionType
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Code</label>
                                <div class="controls">
                                    @Model.Code
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Adjustment</label>
                                <div class="controls">
                                    @Model.AdjustmentType.GetDisplayName()
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Amount</label>
                                <div class="controls">
                                    @Model.Adjustment
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Description</label>
                                <div class="controls">
                                    @Model.Description
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Expires (Date)</label>
                                <div class="controls">
                                    @Model.Expired.Date.ToString("D")
                                </div>
                            </div>
                        </div>
                        @Html.ActionLink("Go Back", "Index", null, new { @class = "btn btn-default btn-rounded" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
