﻿@using StirCrazy.Core.Utilities
@model List<StirCrazy.Admin.Models.PromotionModel>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading bg-dark">
            <h3 class="panel-title"><strong>Promotion </strong></h3> <a href="/Promotion/Create" class="btn btn-default btn-rounded btn-sm pull-right"><i class="fa fa-plus"></i> Promotion</a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive filter-right">
                    @if (!Model.Any())
                    {
                        <div class="alert bg-gray-light">
                            It doesn't look like you have any promotions currently.
                            <a href="/Promotion/Create">Create a new promotion?</a>
                        </div>
                    }
                    else
                    {
                        <table id="datatable" class="table table-striped table-hover table-dynamic table-dark dataTable">
                            <thead>
                                <tr>
                                    <th>Promotion</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Adjustment</th>
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => item.PromotionType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.Code)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.Description)
                                        </td>
                                        <td>
                                            @HtmlHelperExtensions.GetDisplayName(item.AdjustmentType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.Adjustment)
                                        </td>
                                        <td class="text-right">
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                            @Html.ActionLink("Remove", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>