﻿@model StirCrazy.Admin.Models.Carousel.CarouselModel
<div class="col-lg-12">
    <h2><strong>Carousel</strong> manager</h2>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading bg-dark">
            <h3 class="panel-title"><strong>Carousel </strong> manager</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                @using (Html.BeginForm("Create", "Carousel", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <input type="file" name="carouselImage" id="carouselImage" class="btn btn-default">
                        @Html.DropDownListFor(model => model.Transition, Model.TransitionsList, "-- Choose Transition --", new { @class = "form-control", style = "width: auto" })
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(model => model.IsActive)
                        <label>Hidden</label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save"></i> Save & Finish
                            </button>
                            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>