﻿@model IEnumerable<StirCrazy.Core.Domain.MediaFile>
<div class="col-lg-12">
    <h2><strong>Carousel</strong> manager</h2>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading bg-dark">
            <h3 class="panel-title"><strong>Carousel </strong> images</h3> <a href="/Carousel/Create" class="btn btn-default btn-rounded btn-sm pull-right"><i class="fa fa-plus"></i> Carousel Image</a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive filter-right">
                    @if (!Model.Any())
                    {
                        <div class="alert alert-info">No Carousel Images Found.</div>
                    }
                    else
                    {
                        <table id="datatable" class="table table-striped table-hover table-dynamic table-dark dataTable">
                            <thead>
                                <tr style="text-align: left">
                                    <th>Image</th>
                                    <th>Transition</th>
                                    <th style="width: 10px; text-align: center">Displayed</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="carousel">
                                @foreach (var carousel in Model)
                                {
                                    <tr id="@carousel.Id">
                                        <td style="width: 125px">
                                            <img src="@carousel.FilePath" width="140" height="90">
                                        </td>
                                        <td style="width: 150px">
                                            @carousel.Transition
                                        </td>
                                        <td style="width: 10px; text-align: center">
                                            <i class="@((carousel.IsActive) ? "fa fa-check" : "")"></i>
                                        </td>
                                        <td style="width: 200px">
                                            @Html.ActionLink("Edit", "Edit", new { id = carousel.Id })<br />
                                            <a href="#" class="remove-item" data-id="@carousel.Id" data-url="/Carousel/Remove">Remove</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#carousel").sortable({
            stop: function (event, ui) {
                var pages = [];
                $(this).children().each(function (index) {
                    pages.push({
                        'id': $(this).attr('id'),
                        'order': index
                    });
                });

                $.post("/Media/UpdateIndex", { 'jsonRequest': JSON.stringify(pages) }, "json");
            }
        });
    });
</script>