﻿@model StirCrazy.Admin.Models.Party.PartyPackageModel

<div class="col-lg-12">
    <h2><strong>Package</strong> Builder</h2>
    <p>
        Use the package builder to create and manage party packages for the party booking system.
        Create a new package below by provided the nessersary information and clicking the create button.
    </p>
    <br>
    @using (Html.BeginForm())
    {
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Package</strong> Details</h3></div>
                    <div class="panel-body">
                        <p>
                            Provide a few details below about this package such as the duration time, number of included guests and a description.
                            This information will be provided to the customer upon choosing their party package.
                        </p>
                        <br />
                        <div class="form-group">
                            <label class="form-label">Package Name</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Price</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="ui-checkbox">
                                <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off">
                                    Include Cake
                                    @Html.CheckBoxFor(model => model.HasCake)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Guests</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Guests, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Guests, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Max. Guests</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.MaxGuests, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.MaxGuests, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Package Description</label>
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @style = "min-height: 160px" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Included</strong> Addons</h3></div>
                    <div class="panel-body">
                        <p>
                            Choose the included addons below and enter the minium required guests to trigger the addon.
                            Remember entering a zero value for the required guests will mean the addon is always included within this package.
                        </p>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Type</label>
                                        <div class="controls">
                                            @Html.EnumDropDownListFor(model => model.AddonType, "-- Choose --", new { @class = "form-control", id = "addon-type" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">Quantity</label>
                                        <div class="controls">
                                            @Html.TextBox("Quantity", "", new { @class = "form-control", id = "addon-quantity", style = "width: 40px" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">Min. Guests</label>
                                        <div class="controls">
                                            @Html.TextBox("RequiredGuests", "", new { @class = "form-control", id = "addon-requiredGuests", style = "width: 40px" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <br />
                                        <button type="button" id="addon-save" class="btn btn-default btn-rounded">Add</button>
                                    </div>
                                </div>
                            </div>
                            <ul class="col-md-6" id="addon-list" data-id="0"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="controls">
                                <input type="submit" value="Save & Finish" class="btn btn-dark btn-rounded" />
                                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default btn-rounded" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>