﻿@model IEnumerable<Tuple<StirCrazy.Core.Domain.Party.PartyRoom, StirCrazy.Core.Domain.TimeSlot>>

<div class="panel-group" id="PartyRoom accordion">
    @foreach (var room in Model.GroupBy(x => x.Item1.Id).Select(group => group.First()))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#@room.Item1.Id" style="color: #333; text-decoration: none">
                        @room.Item1.Name
                    </a>
                </h4>
            </div>
            <div id="@room.Item1.Id" class="panel-collapse collapse">
                <div class="panel-body">
                    @foreach (var timeslot in Model.Where(x => x.Item1.Id == room.Item1.Id))
                    {
                        @Html.RadioButton("RoomBooking.PartyRoomId", room.Item1.Id, new { @data_timeslot = timeslot.Item2.Id, @class = "timeslot" })
                        @DateTime.Today.Add(timeslot.Item2.CheckInTime).ToString("t")<br />
                    }
                </div>
            </div>
        </div>
    }
</div>