﻿<div class="page-break"></div>
<div class="floating-div floating-div-left">
    <h3>Room Rental: Terms & Condition</h3>
    <ul>
        <li>Room Rentals Are 2.5 Hours In Length. First 30 Minutes Is Check In, Next 90 Minutes Room Time, Last 30 Minutes Checkout.</li>
        <li>All Room Capacities Hold A Maximum Of 25 Total Guests With Exception Of The Lime Room Which Holds 30 Guests.</li>
        <li>Total Capacity Guest Count Includes Adults And Babies And Cannot Exceed Room Capacity.</li>
        <li>Facility Admission Must Be Purchased In Addition To The Room Rental Reservation Fee Whenever Applicable.</li>
        <li>Guest Counts Will Be Tracked On Event Day And Payment In Full Is Required Upon Facility Checkout.</li>
        <li>Adults And Babies Under 1 Are Free!</li>
        <li>We Are A Nut And Allerfy Aware Facility!</li>
        <li>With The Exception Of Cakes Absolutely No Outside Food Or Beverage Permitted!</li>
        <li>Cakes Are Only Permitted With The Rental Of A Private Room!</li>
        <li>No Cakes Of Any Kind Are Permitted In The Common Area.</li>
        <li>Cakes Requiring Refrigeration Or That Contain Ice Cream Or Nut Products Are Not Permitted!</li>
        <li>Room Coolers And Tabs Are Available On Event Day For Additional Purchases.</li>
        <li>Any Items Being Brought Into The Facility For Your Event Must Be Communicated To Our Party Coordinator And Approved Prior To Event Day And Are Subject To Surcharges.</li>
        <li>Any Items Not Pre Approved By The Party Coordinator Will Not Be Permitted Inside The Facility.</li>
        <li>Special Requests Welcome.</li>
        <li>Socks Are Required For All Stir Crazy Guests Including Adults And Babies!</li>
        <li>Socks Are Available For Purchase.</li>
        <li>Complete List Of Facility Rules At www.stircrazyfamilyfun.com</li>
    </ul>
</div>
<div class="floating-div floating-div-right">
    <h3>Changes/Requests</h3>
    <ul>
        <li>All Room Rental Changes And Requests Must Be Submitted Via Email To partycoordinator@stircrazy.ca</li>
        <li>Only Changes Received To The Party Coordinator Email Will Be Considered.</li>
        <li>Any And All Changes Must Be Received No Less Than 3 Days Prior To Your Reservation Date!</li>
    </ul>
    <br />
    <h3>Cancellation Policy</h3>
    <ul>
        <li>Cancellations Made More Than 5 Days Prior To The Scheduled Booking Date Will Receive A Full Refund.</li>
        <li>Cancellations Made Within 4 Days Of The Booking Date Will Receive A Full Refund Less A $25.00 Cancellation Fee.</li>
        <li>Cancellations Made Within 72 Hours Of The Booking Date Will Receive A Full Refund Less A $50.00 Cancellation Fee.</li>
        <li>Cancellations Made Within 48 Hours Or Less Of The Booking Date Are Not Entitled To A Refund.</li>
        <li>NO EXCEPTIONS AT ALL TO THE ABOVE POLICY!</li>
    </ul>
    <br />
    <h3>Rescheduling Policy</h3>
    <ul>
        <li>Room Rentals Wishing To Reschedule Within 5 Days Of The Original Date May Do So Without Incurring Rescheduling Or Administration Fees.</li>
        <li>Room Rentals Wishing To Reschedule Within 4 Days Of The Original Date Will Incur A $50.00 Administration Fee And Be Required To Cover The Cost Of Any Food And/or Product Already Purchased And/or Prepared For The Original Event Date.</li>
        <li>Note Rescheduled Room Rentals Forfeit The Right To Future Cancellations Or Refunds.</li>
        <li>NO EXCEPTIONS AT ALL TO THE ABOVE POLICY!</li>
    </ul>
</div>
