﻿@model StirCrazy.Admin.Models.Order.RoomOrderModel

@Styles.Render("~/Content/datetimepicker")
@Scripts.Render("~/bundles/datetimepicker")
@Scripts.Render("~/bundles/stircrazy-room-booking")

@using (Html.BeginForm("Create", "Room", FormMethod.Post, new { @id = "RoomBooking", data_submitted = "" }))
{
    @Html.HiddenFor(model => model.SubTotal, new { @id = "OrderSubTotal" })
    @Html.HiddenFor(model => model.Tax, new { @id = "OrderTaxTotal" })
    @Html.HiddenFor(model => model.Total, new { @id = "OrderTotal", data_adjustment = "", data_adjustment_type = "" })

    <div class="row">
            <!-- DATE/TIME -->
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Booking</strong> Overview</h3></div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label><i class="fa fa-calendar"></i>  When would you like your booking?</label><br />
                            <div class="col-sm-2">
                                @Html.TextBoxFor(model => model.RoomBooking.Date, "{0:MM/dd/yyyy}", new { @class = "form-control", id = "RoomSchedule", data_format = "MM/DD/YYYY" })
                                @Html.HiddenFor(model => model.RoomBooking.TimeSlotId)
                            </div>
                        </div>
                    </div>
                    <div id="progressbar" class="col-md-8" style="display: none">Please wait...</div>
                    <div id="no-availability" class="col-md-8" style="display: none">We're sorry no available rooms/timeslots were found for the selected date. Please choose a different date and try again.</div>
                    <div id="availability" class="col-md-8">
                        @{ Html.RenderAction("Availability", new { searchDate = DateTime.Now.AddDays(3) }); }
                    </div>
                </div>
            </div>
            <!-- CUSTOMER INFORMATION -->
        <div class="row">
            <div class="col-md-6" id="CustomerInformation">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Customer</strong> Information</h3></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="controls">
                                <label>First Name</label><br />
                                @Html.TextBoxFor(model => model.Customer.FirstName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Last Name</label><br />
                                @Html.TextBoxFor(model => model.Customer.LastName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Address</label><br />
                                @Html.TextBoxFor(model => model.Customer.Address, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>City</label><br />
                                @Html.TextBoxFor(model => model.Customer.City, new { @class = "form-control", data_geo = "locality" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Province</label><br />
                                <select id="Customer_Province" name="Customer.Province" class="form-control">
                                    <option value="">-- Choose --</option>
                                    <option value="Alberta">Alberta</option>
                                    <option value="British Columbia">British Columbia</option>
                                    <option value="Manitoba">Manitoba</option>
                                    <option value="New Brunswick">New Brunswick</option>
                                    <option value="New Foundland">New Foundland</option>
                                    <option value="Northwest Territories">Northwest Territories</option>
                                    <option value="Nova Scotia">Nova Scotia</option>
                                    <option value="Ontario">Ontario</option>
                                    <option value="Prince Edward Island">Prince Edward Island</option>
                                    <option value="Quebec">Quebec</option>
                                    <option value="Saskatchewan">Saskatchewan</option>
                                    <option value="Yukon Territories">Yukon Territories</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Postal Code</label><br />
                                @Html.TextBoxFor(model => model.Customer.PostalCode, new { @class = "form-control", data_geo = "postal_code" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Phone</label><br />
                                @Html.TextBoxFor(model => model.Customer.PhoneNumber, new { @class = "form-control bfh-phone", data_format = "+1 (ddd) ddd-dddd" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Email</label><br />
                                @Html.TextBoxFor(model => model.Customer.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Confirm Email</label><br />
                                <input type="text" id="Customer_Email_Confirm" name="Customer_Email_Confirm" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Special Instructions</label><br />
                                @Html.TextAreaFor(model => model.Notes, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Helpful</strong> Information</h3></div>
                    <div class="panel-body">
                        <br />
                        <p>
                            Room Rental Rates Are $100.00 For 90 Minutes And Are A Total Of 2.5 Hrs.<br />
                            2.5 hour reservation breaks down as follows
                        </p>
                        <ul>
                            <li>Check-In (30 min)</li>
                            <li>Room Time (90 min)</li>
                            <li>Check-Out (30 min)</li>
                        </ul>
                        <p>Available "In Room" Rental Times Are:</p>
                        <div class="row room-rental-times">
                            <div class="col-sm-4 text-right">
                                10:30 am - 12:00 pm<br />
                                12:30 pm - 2:00 pm<br />
                                2:30  pm - 4:00 pm<br />
                                4:30  pm - 6:00 pm<br />
                                6:30  pm - 8:00 pm
                            </div><br />
                        </div>
                        <ul>
                            <li>Applicable Admissions Are Not Included And Must Be Purchased In Addition To The Room Rental Fee.</li>
                            <li>Socks Are Required By All Stir Crazy Guest Including Adults And Babies!</li>
                            <li>We Are An Allergy Nut Aware Facility! Absolutely No Outside Food Or Beverage Is Permiited!</li>
                            <li>Complete List Of Facility Rules Visit Main Site.</li>
                        </ul>
                        <div class="col-sm-12 yellow border-radius">
                            <!-- VALIDATION SUMMARY -->
                            <div id="ValidationSummary" class="col-sm-12 party-validations" style="display: none">
                                <strong>Your party booking contains the following errors:</strong>
                                <ul></ul>
                            </div>
                            <div class="form-group col-md-6">
                                <h4 class="stircrazy">Promotion Code / Gift Certificate</h4>
                                @Html.TextBoxFor(model => model.Promotion, new { @class = "form-control", style = "width: 50%; display: inline" })
                                <a id="PromotionCodeValidate" class="btn btn-default">Apply</a>
                                <span id="PromotionDescription" style="color: red; display: block"></span>
                            </div>
                            <div class="col-md-6">
                                <h4 class="stircrazy">Sub Total: <span id="SubTotal"></span></h4>
                                <h4 class="stircrazy">GST (5%): <span id="GstTotal"></span></h4>
                            </div>
                            <div class="col-md-6">
                                <h3 class="stircrazy">Room Total<br /> <span id="FinalTotal"></span></h3>
                            </div>
                            <div class="col-md-6 yellow border-radius">
                                    <div class="form-group col-md-4" style="color: #333;">
                                        <strong>Payment Method</strong>
                                        @Html.EnumDropDownListFor(model => model.PaymentTransaction.TransactionType, new { @class = "form-control col-sm-6" })<br />
                                    </div>
                                    <div class="form-group col-md-8" style="color: #333;">
                                        <strong>Transaction Number (Credit Card/Paypal)</strong>
                                        @Html.TextBoxFor(model => model.PaymentTransaction.TransactionNumber, new { @class = "form-control col-sm-6" })<br />
                                    </div>
                                <input type="submit" class="btn btn-rounded btn-default" id="Submit" value="Complete">
                                @Html.ActionLink("Cancel", "Index", "Room", new { @class = "btn btn-rounded btn-default" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}