﻿@model StirCrazy.Admin.Models.Order.RoomOrderModel
<div class="row">
    <div class="glow glow_blue" style="color: #333;">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Room</strong> Rental</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <h1>@Model.RoomBooking.PartyRoom.Name</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <h1>@Model.RoomBooking.Date.ToString("ddd MMM dd, yyyy").ToUpper()</h1>
                                    <b>Check In/Out</b><br /> @DateTime.Today.Add(Model.RoomBooking.TimeSlot.CheckInTime).ToString("h:mm tt") - @DateTime.Today.Add(Model.RoomBooking.TimeSlot.CheckOutTime).ToString("h:mm tt")<br />
                                    <b>Room Time</b><br /> @DateTime.Today.Add(Model.RoomBooking.TimeSlot.StartTime).ToString("h:mm tt") - @DateTime.Today.Add(Model.RoomBooking.TimeSlot.EndTime).ToString("h:mm tt")<br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="controls">
                                    @if (Model.Notes != null)
                                    {
                                        <strong>--- SPECIAL INSTRUCTIONS ---</strong><br /> @Model.Notes.ToUpper()
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Customer</strong> Information</h3></div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="controls">
                                <h3>@Model.Customer.FullName</h3>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Address</label>
                            <div class="controls">
                                @Model.Customer.Address<br />
                                @Model.Customer.City
                                @Model.Customer.Province,
                                @Model.Customer.PostalCode
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Phone Number</label>
                            <div class="controls">
                                @Model.Customer.PhoneNumber
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Email Address</label>
                            <div class="controls">
                                @Model.Customer.Email
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Payment</strong> Details</h3></div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <h3>SubTotal: $@Model.SubTotal</h3>
                        @if (Model.Promotion != null)
                        {
                            <h3>Discount: -($@Model.Discount)</h3>
                            <h6>Promotion: @Model.Promotion.ToUpper()</h6>
                        }
                        <h3>Tax: @Model.Tax</h3>
                        <h3>Total: @Model.Total</h3>
                    </div>
                    <div class="col-sm-12">
                        <h3>@Model.PaymentTransaction.PaymentStatus.ToUpper()</h3>
                        @Model.PaymentTransaction.TransactionNumber.ToUpper()
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Cancel</strong> Order</h3></div>
                <div class="panel-body">
                    <div id="packages-button" class="col-sm-12 alert alert-danger">
                        <p class="">
                            <strong>WARNING:</strong> Canceling this order cannot be undone. Do not forget to issue a refund for the cancellation.
                        </p>
                        @using (Html.BeginForm("Delete", "Room"))
                        {
                            @Html.HiddenFor(model => model.Id)
                            <input type="submit" value="Confirm" class="btn btn-default" />
                            @Html.ActionLink("Go Back", "Index", null, new { @class = "btn btn-default" })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
