﻿@using StirCrazy.Core.Utilities
@model IEnumerable<StirCrazy.Admin.Models.Order.RoomOrderModel>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading bg-dark">
            <h3 class="panel-title"><strong>Room </strong> Rentals</h3> <a href="/Room/Create" class="btn btn-default btn-rounded btn-sm pull-right"><i class="fa fa-plus"></i> Room Rental</a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive filter-right">
                    @if (!Model.Any())
                    {
                        <div class="alert bg-gray-light">
                            It doesn't look like you have any room rental currently.
                            <a href="/Room/Create">Create a new room rental?</a>
                        </div>
                    }
                    else
                    {
                        <table class="table table-dynamic table-dark">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Scheduled</th>
                                    <th>Time</th>
                                    <th>Room</th>
                                    <th>Customer</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th>Created</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="@HtmlCssHelper.RoomColor(item.RoomBooking.PartyRoomId)">
                                        <td>
                                            @item.DateCreated.ToString("MMM dd, yyyy")
                                        </td>
                                        <td>
                                            @item.RoomBooking.Date.ToString("MMM dd, yyyy")
                                        </td>
                                        <td>
                                            @DateTime.Today.Add(item.RoomBooking.TimeSlot.StartTime).ToString("h:mm tt") -
                                            @DateTime.Today.Add(item.RoomBooking.TimeSlot.EndTime).ToString("h:mm tt")
                                        </td>
                                        <td>
                                            @item.RoomBooking.PartyRoom.Name
                                        </td>
                                        <td>
                                            @item.Customer.FullName
                                        </td>
                                        <td>
                                            @item.Customer.Address<br />
                                            @item.Customer.City,
                                            @item.Customer.Province
                                            @item.Customer.PostalCode
                                        </td>
                                        <td>
                                            @item.Customer.PhoneNumber
                                        </td>
                                        <td>
                                            @item.Customer.Email
                                        </td>
                                        <td>
                                            @item.Total
                                        </td>
                                        <td>
                                            @item.Status
                                        </td>
                                        <td>
                                            @item.CreatedBy
                                        </td>
                                        <td>
                                            @Html.ActionLink("Details", "Details", new { id = item.Id })<br />
                                            @Html.ActionLink("Print", "Print", new { id = item.Id })<br />
                                            @Html.ActionLink("Download", "Save", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>