﻿@using StirCrazy.Core.Domain.Party
@model StirCrazy.Admin.Models.Order.BakeryModel

@Styles.Render("~/Content/datetimepicker")
@Scripts.Render("~/bundles/datetimepicker")

@{
    int index = 0;
}
<div class="col-lg-12">
    @using (Html.BeginForm("Create", "Bakery", FormMethod.Post, new { @id = "BakeryOrder", data_submitted = "" }))
    {
        @Html.HiddenFor(model => model.SubTotal, new { @id = "OrderSubTotal" })
        @Html.HiddenFor(model => model.Tax, new { @id = "OrderTaxTotal" })
        @Html.HiddenFor(model => model.Total, new { @id = "OrderTotal", data_adjustment = "", data_adjustment_type = "" })

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Order</strong> Overview</h3></div>
                    <div class="panel-body">
                        <div class="col-md-6" id="CustomerInformation">
                            <div class="form-group">
                                <div class="controls">
                                    <label>First Name</label><br />
                                    @Html.TextBoxFor(model => model.Customer.FirstName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Last Name</label><br />
                                    @Html.TextBoxFor(model => model.Customer.LastName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Address</label><br />
                                    @Html.TextBoxFor(model => model.Customer.Address, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>City</label><br />
                                    @Html.TextBoxFor(model => model.Customer.City, new { @class = "form-control", data_geo = "locality" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Province</label><br />
                                    <select id="Customer_Province" name="Customer.Province" class="form-control">
                                        <option value="">-- Choose --</option>
                                        <option value="Alberta">Alberta</option>
                                        <option value="British Columbia">British Columbia</option>
                                        <option value="Manitoba">Manitoba</option>
                                        <option value="New Brunswick">New Brunswick</option>
                                        <option value="New Foundland">New Foundland</option>
                                        <option value="Northwest Territories">Northwest Territories</option>
                                        <option value="Nova Scotia">Nova Scotia</option>
                                        <option value="Ontario">Ontario</option>
                                        <option value="Prince Edward Island">Prince Edward Island</option>
                                        <option value="Quebec">Quebec</option>
                                        <option value="Saskatchewan">Saskatchewan</option>
                                        <option value="Yukon Territories">Yukon Territories</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Postal Code</label><br />
                                    @Html.TextBoxFor(model => model.Customer.PostalCode, new { @class = "form-control", data_geo = "postal_code" })
                                </div>
                            </div>
                        </div>
                        <!-- DATE/TIME -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <label>Phone</label><br />
                                    @Html.TextBoxFor(model => model.Customer.PhoneNumber, new { @class = "form-control bfh-phone", data_format = "+1 (ddd) ddd-dddd" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Email</label><br />
                                    @Html.TextBoxFor(model => model.Customer.Email, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Confirm Email</label><br />
                                    <input type="text" id="Customer_Email_Confirm" name="Customer_Email_Confirm" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label><i class="fa fa-calendar"></i>  Choose A Pickup Date</label><br />
                                    @Html.TextBoxFor(model => model.PickUpDate, "{0:MM/DD/YYYY}", new { @class = "form-control", id = "PickUpDate", data_format = "MM/DD/YYYY" })
                                </div>
                                <div class="col-sm-6">
                                    <label><i class="fa fa-clock-o"></i>  Pick A Time Of Day</label><br />
                                    @Html.EnumDropDownListFor(model => model.PickUpTime, "-- Choose --", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row orderSection">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Birthday</strong> Cakes</h3></div>
                    <div class="panel-body">
                        <div class="row" id="Cake">
                            <div class="col-md-6">
                                <h4 class="stircrazy">Theme</h4>
                                @Html.DropDownListFor(model => model.CakeTheme, new SelectList(Model.Addons.Where(c => c.AddonType == AddonType.ThemeCake), "Name", "Name"), "-- Choose A Theme --", new { @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                <h4 class="stircrazy">Flavour</h4>
                                @Html.DropDownListFor(model => model.CakeFlavour, new SelectList(Model.Addons.Where(c => c.AddonType == AddonType.FlavourCake), "Name", "Name"), "-- Choose A Flavour --", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="ChildInfo">
                                <h3 class="stircrazy">Child Information</h3>
                                <p>
                                    Provide your birthday child information below to have it featured on the cake.
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Name</label><br />
                                        @Html.TextBoxFor(model => model.Child.FirstName, new { @class = "form-control" })
                                    </div>
                                    <p>
                                        Please Note Some Images Do Not Allow For Text To Be Added To The Cake, You Will Be Contacted If We Are Unable To Apply Text To Your Cake.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Age</label><br />
                                    @Html.TextBoxFor(model => model.Child.Age, new { @class = "form-control", style = "width: 45px" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                Cake Total: <strong><span id="cakeTotal"></span></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row orderSection">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Cupcakes</strong></h3></div>
                    <div class="panel-body">
                        <div class="row" id="CupCake">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h3 class="stircrazy">Choose Your Cupcakes</h3>
                                    @for (int i = 0; i < Model.Addons.Count; i++)
                                {
                                    if (Model.Addons[i].AddonType == AddonType.FlavourCupcake)
                                    {
                                @Html.Hidden("OrderAddons[" + index + "].Id", Model.Addons[i].Id)
                                @Html.Hidden("OrderAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                @Html.Hidden("OrderAddons[" + index + "].Name", Model.Addons[i].Name)
                                @Html.Hidden("OrderAddons[" + index + "].Price", Model.Addons[i].Price)
                                @Html.Hidden("OrderAddons[" + index + "].IsIncluded", false)
                                @Html.TextBox("OrderAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 40px", @class = "form-control cupcakes", data_price = Model.Addons[i].Price, pattern = "[0-9]*" })
                                @Model.Addons[i].Name
                                @(" ($")@Model.Addons[i].Price@("/Dozen)")<br />
                                        index++;
                                    }
                                }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="Flavours">
                                    <h4 class="stircrazy">Pick Your Icing Colour(s) <small>(Max 2)</small></h4>
                                    @for (int i = 0; i < Model.Addons.Count; i++)
                                {
                                    if (Model.Addons[i].AddonType == AddonType.FlavourIcing)
                                    {
                                @Html.Hidden("OrderAddons[" + index + "].Id", Model.Addons[i].Id)
                                @Html.Hidden("OrderAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                @Html.Hidden("OrderAddons[" + index + "].Name", Model.Addons[i].Name)
                                @Html.Hidden("OrderAddons[" + index + "].Price", Model.Addons[i].Price)
                                @Html.Hidden("OrderAddons[" + index + "].IsIncluded", false)
                                @Html.CheckBox("OrderAddons[" + index + "].IsSelected", false, new { @style = "width: 40px", @class = "flavours", data_price = Model.Addons[i].Price })
                                @Model.Addons[i].Name<br />
                                        index++;
                                    }
                                }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    Cupcake Total: <strong><span id="cupcakeTotal"></span></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row orderSection">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Edible</strong> Images</h3></div>
                    <div class="panel-body">
                        <div class="row" id="CakeImages">
                            <div class="col-md-6">
                                <h4 class="stircrazy">STANDARD EDIBLE CAKE IMAGE</h4>
                                <p>
                                    Standard Edible Cake Images Are Factory Direct Images Printed On Edible Rice Paper And Are Safe To Eat.
                                    Choose From The Available Options Below:
                                </p>
                                @Html.DropDownListFor(model => model.StandardImage, new SelectList(Model.Addons.Where(c => c.AddonType == AddonType.StandardCakeImage), "Name", "Name"), "--- Choose ---", new { @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                <h4 class="stircrazy">PERSONALIZED EDIBLE CAKE IMAGE</h4>
                                <p>
                                    Personalized Edible Cake Images Are Factory Direct Images That Allow For A Photograph Of Your Child To Be Incorporated Onto The Cake.
                                    These Images Are Also Printed On Edible Rice Paper And Safe To Eat. Choose From The Available Options Below:
                                </p>
                                @Html.DropDownListFor(model => model.EdibleImage, new SelectList(Model.Addons.Where(c => c.AddonType == AddonType.EdibleCakeImage), "Name", "Name"), "--- Choose ---", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    Cake Images Total: <strong><span id="imagesTotal"></span></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Order</strong> Details</h3></div>
                    <div class="panel-body" id="NotesSection">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h3 class="stircrazy">Order Notes</h3>
                                    @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", style = "min-height: 150px" })
                                </div>
                                <div class="form-group col-md-10">
                                    <h4 class="stircrazy">Promotion Code / Gift Certificate</h4>
                                    @Html.TextBoxFor(model => model.Promotion, new { @class = "form-control", style = "width: 50%; display: inline" })
                                    <a id="PromotionCodeValidate" class="btn btn-default">Apply</a>
                                    <span id="PromotionDescription" style="color: red; display: block"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- VALIDATION SUMMARY -->
                                <div id="ValidationSummary" class="col-sm-12 party-validations" style="display: none">
                                    <strong>Your Order Contains The Following Errors:</strong>
                                    <ul></ul>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="stircrazy">Sub Total: <span id="SubTotal"></span></h4>
                                    <h4 class="stircrazy">GST (5%): <span id="GstTotal"></span></h4>
                                </div>
                                <div class="col-md-6">
                                    <h1 class="stircrazy"><span id="FinalTotal"></span></h1>
                                </div>
                                <div class="col-md-10 border-radius">
                                    <div class="form-group">
                                        <label>Payment Method</label>
                                        @Html.EnumDropDownListFor(model => model.PaymentTransaction.TransactionType, new { @class = "form-control" })<br />
                                        <label>Transaction Number (Credit Card/Paypal)</label>
                                        @Html.TextBoxFor(model => model.PaymentTransaction.TransactionNumber, new { @class = "form-control" })<br />
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-rounded btn-default" id="Submit" name="Submit" value="Complete">
                                        <span id="SubmitProgress" style="display: none">
                                            @("Processing ")
                                            <img src="~/img/status-dots-anim.gif" alt="" />
                                        </span>
                                        @Html.ActionLink("Cancel", "Index", "Home", new { @class = "btn btn-rounded btn-default" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@Scripts.Render("~/bundles/stircrazy-order-bakery")
