﻿@using Microsoft.Ajax.Utilities
@using StirCrazy.Core.Domain.Party
@using StirCrazy.Core.Utilities
@model StirCrazy.Admin.Models.Order.BakeryModel
<div class="row">
    <div class="glow glow_blue" style="color: #333;">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Order</strong> Overview</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <h1>Bakery Order</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <h1>@Model.PickUpDate.Date.ToString("ddd MMM dd, yyyy").ToUpper()</h1>
                                    <b>Pickup Time: </b><br /> @Model.PickUpTime.GetDisplayName()<br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="controls">
                                    @if (Model.Notes != null)
                                    {
                                        <strong>--- SPECIAL INSTRUCTIONS ---</strong><br /> @Model.Notes.ToUpper()
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Customer</strong> Information</h3></div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="controls">
                                <h3>@Model.Customer.FullName</h3>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Address</label>
                            <div class="controls">
                                @Model.Customer.Address<br />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Phone Number</label>
                            <div class="controls">
                                @Model.Customer.PhoneNumber
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Email Address</label>
                            <div class="controls">
                                @Model.Customer.Email
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="controls">
                                <h3>@Model.Child.FullName</h3>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Gender</label>
                                <div class="controls">
                                    @Model.Child.Gender
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Age</label>
                                <div class="controls">
                                    @Model.Child.Age
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Payment</strong> Details</h3></div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <h3>SubTotal: $@Model.SubTotal</h3>
                        @if (Model.Promotion != null)
                        {
                            <h3>Discount: -($@Model.Discount)</h3>
                            <h6>Promotion: @Model.Promotion.ToUpper()</h6>
                        }
                        <h3>Tax: @Model.Tax</h3>
                        <h3>Total: @Model.Total</h3>
                    </div>
                    <div class="col-sm-12">
                        <h3>@Model.PaymentTransaction.PaymentStatus.ToUpper()</h3>
                        @Model.PaymentTransaction.TransactionNumber.ToUpper()
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Cancel</strong> Order</h3></div>
                <div class="panel-body">
                    <div id="packages-button" class="col-sm-12 alert alert-danger">
                        <p class="">
                            <strong>WARNING:</strong> Canceling this order cannot be undone. Do not forget to issue a refund for the cancellation.
                        </p>
                        @using (Html.BeginForm("Delete", "Bakery"))
                        {
                            @Html.HiddenFor(model => model.Id)
                            <input type="submit" value="Confirm" class="btn btn-default" />
                            @Html.ActionLink("Go Back", "Index", null, new { @class = "btn btn-default" })
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Order</strong> Details</h3></div>
                <div class="panel-body">
                    <h4>Cake</h4><hr class="dashed" />
                    @if (!Model.CakeFlavour.IsNullOrWhiteSpace() && !Model.CakeTheme.IsNullOrWhiteSpace())
                    {
                        @Model.CakeFlavour.ToUpper() @(" - ") @Model.CakeTheme.ToUpper()
                        <br /><br />
                        <span class="pull-right">Total: $45.00</span>
                    }
                    else
                    { @("--- None ---")<br /> }
                    <br /><h4>Cupcakes</h4><hr class="dashed" />
                    @if (Model.OrderAddons.All(x => x.Addon.AddonType != AddonType.FlavourCupcake))
                    {
                        @("--- None ---")<br />
                    }
                    else
                    {
                        foreach (var cupcake in Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.FlavourCupcake))
                        {
                            @cupcake.Quantity @(" Dozen - ") @cupcake.Addon.Name @(" ($") @cupcake.Addon.Price @("/Dozen)")<br />
                        }

                        <br /><strong>@("Colour(s): ")</strong>
                        @Html.Raw(string.Join(", ", Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.FlavourIcing).Select(y => y.Addon.Name)))
                        <br /><br />
                        <span class="pull-right">Total: $@Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.FlavourCupcake).Sum(y => y.Quantity * y.Addon.Price)</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

