﻿@using Microsoft.Ajax.Utilities
@using StirCrazy.Core.Domain.Orders
@using StirCrazy.Core.Domain.Party
@using StirCrazy.Core.Utilities
@model StirCrazy.Admin.Models.Order.BakeryModel
@{ decimal total = 0.00m; }
<div class="row">
    <h2><strong>Bakery</strong> Order</h2>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Order</strong> Overview</h3></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="controls">
                                <h1>Bakery Order</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="controls">
                                <h1>@Model.PickUpDate.Date.ToString("ddd MMM dd, yyyy").ToUpper()</h1>
                                <b>Pickup Time: </b><br /> @Model.PickUpTime.GetDisplayName()<br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="controls">
                                @if (Model.Notes != null)
                                {
                                    <br /> @Html.Raw(Model.Notes.Replace(Environment.NewLine, "<br/>"))
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Customer</strong> Information</h3></div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="controls">
                            <h3>@Model.Customer.FullName</h3>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Address</label>
                        <div class="controls">
                            @Model.Customer.Address<br />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Phone Number</label>
                        <div class="controls">
                            @Model.Customer.PhoneNumber
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Email Address</label>
                        <div class="controls">
                            @Model.Customer.Email
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="controls">
                            <h3>@Model.Child.FullName</h3>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Gender</label>
                            <div class="controls">
                                @Model.Child.Gender
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Age</label>
                            <div class="controls">
                                @Model.Child.Age
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Payment</strong> Details</h3></div>
            <div class="panel-body">
                <div class="col-xs-12 col-md-12">
                    <h1 class="payment-total">$@Model.Total.ToString("0.00")</h1>
                </div>
                <div class="col-xs-12 col-md-12">
                    <span>Sub-total <strong class="pull-right">$@Model.SubTotal.ToString("0.00")</strong></span><br />
                    <span>GST <strong class="pull-right">$@Model.Tax.ToString("0.00")</strong></span><br />
                    @if (Model.Discount > 0)
                    {
                        <br />
                        <span>Discount <strong class="pull-right">$@Model.SubTotal.ToString("0.00")</strong></span><br />
                        <span>Promotion <strong class="pull-right">$@Model.SubTotal.ToString("0.00")</strong></span><br />
                    }

                    @if (Model.PaymentTransaction != null)
                    {
                        <br />
                        <span>Payment <strong class="pull-right">@Model.PaymentTransaction.TransactionType.GetDisplayName() - @Model.PaymentTransaction.PaymentStatus</strong></span><br />
                        <span>Transaction <strong class="pull-right">@(Model.PaymentTransaction.TransactionNumber ?? "Not Applicable")</strong></span><br />
                        <span>Status <strong class="pull-right">@Model.Status</strong></span><br />
                    }
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Thank You For Ordering!</h2>
                <p>
                    Your order is on it's way to our team and we look forward to seeing you soon,
                    you should get a confirmation email from us shortly.<br />
                    Should you wish to change your order please feel free to email us at partycoordinator@("@")stircrazy.ca.
                </p>
                <div id="packages-button" class="col-sm-12">
                    <a href="@Url.Action("Email", "Bakery", new RouteValueDictionary { { "Id", @Model.Id } })" target="_blank" class="btn btn-default btn-rounded">Email Confirmation</a><br />
                    <a href="@Url.Action("Save", "Bakery", new RouteValueDictionary { { "Id", @Model.Id } })" target="_blank" class="btn btn-default btn-rounded">Download PDF</a><br />
                    <a href="@Url.Action("Print", "Bakery", new RouteValueDictionary { { "Id", @Model.Id } })" target="_blank" class="btn btn-default btn-rounded">Print Confirmation</a><br />
                    @if (Model.Status != OrderStatus.Cancelled)
                    {
                        <a href="@Url.Action("Delete", "Bakery", new RouteValueDictionary { { "Id", @Model.Id } })" class="btn btn-default btn-rounded">Cancel Order</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Order</strong> Details</h3></div>
            <div class="panel-body">
                <h4>Cake</h4><hr class="dashed" />
                @if (!Model.CakeFlavour.IsNullOrWhiteSpace() && !Model.CakeTheme.IsNullOrWhiteSpace())
                {
                    @Model.CakeFlavour.ToUpper() @(" - ") @Model.CakeTheme.ToUpper()
                    <br /><br />
                    <span class="pull-right">Total: $45.00</span>
                }
                else
                { @("--- None ---")<br /> }
                <br /><h4>Cupcakes</h4><hr class="dashed" />
                @if (Model.OrderAddons.All(x => x.Addon.AddonType != AddonType.FlavourCupcake))
                {
                    @("--- None ---")<br />
                }
                else
                {
                    foreach (var cupcake in Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.FlavourCupcake))
                    {
                        @cupcake.Quantity @(" Dozen - ") @cupcake.Addon.Name @(" ($") @cupcake.Addon.Price @("/Dozen)")<br />
                    }

                    <br /><strong>@("Colour(s): ")</strong>
                    @Html.Raw(string.Join(", ", Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.FlavourIcing).Select(y => y.Addon.Name)))
                    <br /><br />
                    <span class="pull-right">Total: $@Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.FlavourCupcake).Sum(y => y.Quantity * y.Addon.Price)</span>
                }
                <br /><h4>Mini Cupcakes</h4><hr class="dashed" />
                @if (Model.OrderAddons.All(x => x.Addon.AddonType != AddonType.FlavourMiniCupcake))
                {
                    @("--- None ---")<br />
                }
                else
                {
                    foreach (var cupcake in Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.FlavourMiniCupcake))
                    {
                        @cupcake.Quantity @(" Dozen - ") @cupcake.Addon.Name @(" ($") @cupcake.Addon.Price @("/Dozen)")<br />
                    }

                    <br /><strong>@("Colour(s): ")</strong>
                    @Html.Raw(string.Join(", ", Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.FlavourIcing && x.IsIncluded).Select(y => y.Addon.Name)))
                    <br /><br />
                    <span class="pull-right">Total: $@Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.FlavourMiniCupcake).Sum(y => y.Quantity * y.Addon.Price)</span>
                }
                <h4>Edible Images</h4><hr class="dashed" />
                @if (!string.IsNullOrEmpty(Model.StandardImage))
                {
                    @Model.StandardImage.ToUpper() @(" (Standard)")<br />
                    { total += 10m; }
                }
                @if (!string.IsNullOrEmpty(Model.EdibleImage))
                {
                    @Model.EdibleImage.ToUpper() @(" (Personalized)") <br />
                    { total += 15m; }
                    
                }
                @if (string.IsNullOrEmpty(Model.StandardImage) || string.IsNullOrEmpty(Model.EdibleImage))
                {
                    <span class="pull-right">Total: $@total</span>
                }
                else
                { @("--- None ---")<br /> }
            </div>
        </div>
    </div>
</div>
