﻿@model IEnumerable<StirCrazy.Core.Domain.MediaFile>

@Styles.Render("~/Content/nivo-slider")
@Scripts.Render("~/bundles/nivo-slider")

<br />
<div class="row">
    <div class="stircrazy-carousel rounded">
        @if (Model.Any())
        {
            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider facility-carousel-radius">
                    @foreach (var item in Model)
                    {
                        <img src="@item.FilePath" alt="Welcome to StirCrazy" data-transition="sliceUp">
                    }
                </div>
            </div>

            <script type="text/javascript">
                $(window).load(function () {
                    $('#slider').nivoSlider({
                        randomStart: true,
                        pauseTime: 5000,
                        animSpeed: 1000,
                        pauseOnHover: true
                    });
                });
            </script>
        }
    </div>
</div>
