﻿@{ ViewBag.Title = "Play Structure"; }
@model StirCrazy.Models.Facility.FacilityModel

<div class="row">
    <div class="glow glow_blue">
        @Html.Partial("_CarouselPartial", Model.ConcessionCounter)
        <div class="row">
            <div class="col-sm-12">
                <h2 class="stircrazy">Concession Counter</h2>
                <p>
                    Take a seat at our diner style concession counter or general eating area for a break from all the fun and enjoy a tasty beverage or delicious treat. We are sure your taste buds will thank you.
                    Our concession is full of healthy grab and go snacks as well as fresh sandwiches and salads.
                    Hot food items include pizza, chicken strips and soup.
                    We are consistently seeking to enhance and expand our Stir Crazy menu and welcome your feedback.
                </p>
                <p>
                    In addition to our concession Stir Crazy has our very own on-site Birthday Bakery!
                    We are the only local fun centre complete with a bakery and our cupcakes and cakes have quickly become a popular must have for both on and off-site gatherings.
                    Visit our <a href="/Bakery">BAKERY</a> page to learn more!
                </p>
            </div>
        </div>
    </div>
</div>