﻿@{ ViewBag.Title = "Play Structure"; }
@model StirCrazy.Models.Facility.FacilityModel

<div class="row">
    <div class="glow glow_blue">
        @Html.Partial("_CarouselPartial", Model.Facility)
        <div class="row">
            <div class="col-sm-12">
                <h2 class="stircrazy">our Facility Is Designed with Kids & Parents in Mind!</h2>
                <p>
                    Fun for All Ages!
                    our Themed Play Structure Is One of a Kind and Designed with Both Parents and Kids in Mind.
                    We Know How Much Fun It Is for You to Play with Your Children but Also How Tough It Can Be on Adult Knees and Backs. Our Play Structure Is Adult Friendly Making It Easier for You to Join Your Child on Their Stir Crazy Adventure!
                    our Play Structure Is Csa Approved and Designed for Optimal Visibility for Both Caregivers and Staff.
                    there Are No Age Restrictions in Place for Our Play Structure However Adults Are Encouraged to Accompany Children 3 and under Through the Structure Especially During Busier times.
                </p>
                <p>
                    In Addition to the Main Play Structure We Offer Two Bounce Houses, a Parent & Tot Lounge, Private Nursing Room, Coin Operated Children’s Rides and a Mini Arcade.
                    We Are Also a Multi Award Winning Independent Business and Children’s Birthday Party Centre! For More Information about Our Birthday Parties and to Access Our Convenient Online Booking Visit the Party Services Tab Drop down Menu on Our Website.

                </p>
                <p>
                    please Note We Are a Shoe Free Environment! For the Health and Well Being of All Guests and the Facility We Require All Stir Crazy Guests Including Adults and Babies to Wear Socks.
                    forgot Your Socks? Not to Worry We Have Them Available for Purchase at Check in.
                    visit Our <a href="/Admission">admissions</a> Page for Pricing and a Complete List of Stir Crazy Rules and Regulations.
                </p>
            </div>
        </div>
    </div>
</div>