﻿@{ ViewBag.Title = "Play Structure"; }
@model StirCrazy.Models.Facility.FacilityModel

<div class="row">
    <div class="glow glow_blue">
        @Html.Partial("_CarouselPartial", Model.ParentTotLounge)
        <div class="row">
            <div class="col-sm-12">
                <h2 class="stircrazy">Parent & Tot Lounge</h2>
                <p>
                    Relax in our gated Parent & Tot Lounge on comfortably cozy seating with free access to internet.
                    Tots ages 3 and under enjoy tot-sized toys and activities while you relax with friends.
                    Children playing on the larger structure can be easily supervised from this area as well.
                </p>
                <p>
                    Stir Crazy Family Fun Centre is proud to be Breast Feeding Friendly!
                    Should you require additional privacy to feed baby during your visit you will find it in our Private Nursing Room.
                    This calm, quiet and private room features two rocking recliners and waiting area for siblings.
                    Be sure to take advantage of this extra special room that is all about mom and baby during your next visit.
                </p>
            </div>
        </div>
    </div>
</div>