﻿@{ ViewBag.Title = "Rules"; }
<div class="row">
    <div class="glow glow_blue">
        <div class="col-sm-12">
            <h3 class="stircrazy">STIR CRAZY FAMILY FUN CENTRE RULES AND REGULATIONS</h3>
            STIR CRAZY FAMILY FUN INC. promotes a safe and welcoming environment for all of its visitors.
            We take your child's safety VERY seriously!<br /><br />
            For this reason we have put together a list of rules and regulations to ensure a safe, clean and fun environment for all guests.
            We ask for your cooperation in abiding by the following rules allowing for a safe and fun-filled experience for ALL.
            At STIR CRAZY FAMILY FUN CENTRE we take your family’s safety VERY seriously!<br /><br />
            For this reason we have put together a set of rules to ensure a great experience is had by all.
            We ask for your cooperation in abiding by the following rules and regulations while visiting our facility.
            <br />
            Stir Crazy rules are strictly enforced and MUST be followed!<br /><br />
            <table class="regulations striped-blue">
                <tr>
                    <td class="border-top-left-radius border-top-right-radius">
                        It is imperative that ALL guests behave and obey Stir Crazy Personnel and facility rules!
                        Those whose conduct or whose influence creates safety risks or discipline problems will be asked to leave without reimbursement.
                    </td>
                </tr>
                <tr>
                    <td>Abuse of staff or fellow guests will NOT be tolerated! Guests challenging or refusing to abide by facility rules will be asked to leave!</td>
                </tr>
                <tr>
                    <td>
                        Stir Crazy adheres to a strict maximum capacity enforced by law! When we reach full capacity wait lists take immediate effect!
                        All guests wishing to check in are subject to wait lists including our Annual Pass holders! Waiting guests will not be permitted to check in to the facility until it is safe to do so!
                        Capacity counts factor in pending party reservations.  Birthday guests receive priority entry when wait lists are in effect!
                    </td>
                </tr>
                <tr>
                    <td>Caregivers accompanying child guests/minors MUST be at least 18 years of age!</td>
                </tr>
                <tr>
                    <td>Adults are NOT permitted past security unless accompanied by a child!</td>
                </tr>
                <tr>
                    <td>Stir Crazy reserves the right to refuse admission!</td>
                </tr>
                <tr>
                    <td>Guests appearing to be under the influence of drugs or alcohol will not be permitted to enter the facility or to remain on site.</td>
                </tr>
                <tr>
                    <td>Caregivers must accompany children to and from the Premises and must remain on the premises while their child guests are checked in.</td>
                </tr>
                <tr>
                    <td>Caregivers must check-in AND check-out with their children.</td>
                </tr>
                <tr>
                    <td>Caregivers are responsible for supervision & assume full responsibility of minors in their care.</td>
                </tr>
                <tr>
                    <td>Caregivers are encouraged to accompany children under the age of 3 in the large play structure.</td>
                </tr>
                <tr>
                    <td>Caregivers MUST supervise child guests playing inside the Bounce Houses!</td>
                </tr>
                <tr>
                    <td>
                        ABSOLUTLEY NO OUTSIDE FOOD/NUTS OR BEVERAGE permitted inside the facility or outside of designated eating areas.
                        This includes the point of entry prior to clearing the security gate!
                        Anyone seen consuming outside food will be warned and asked to remove it from the facility immediately.
                        If the food is not removed or continues to be consumed the offending guests will be asked to leave without reimbursement!
                    </td>
                </tr>
                <tr>
                    <td>NO HOT DRINKS IN THE TOT LOUNGE!</td>
                </tr>
                <tr>
                    <td>WE ARE A SHOE FREE ENVIRONMENT NO EXCEPTIONS!</td>
                </tr>
                <tr>
                    <td>SOCKS ARE MANDATORY FOR ALL GUESTS! Should you forget socks they are available for purchase at the Admission counter.</td>
                </tr>
                <tr>
                    <td>NO GUM!</td>
                </tr>
                <tr>
                    <td>NO SMOKING!</td>
                </tr>
                <tr>
                    <td>Birthday parties must be reserved in advance may only take place in a private party room!</td>
                </tr>
                <tr>
                    <td>STIR CRAZY is NOT responsible for lost, stolen or damaged property.</td>
                </tr>
                <tr>
                    <td class="border-bottom-left-radius border-bottom-right-radius">LOCKERS AVAILABLE FOR RENT at the Admission Counter!</td>
                </tr>
            </table>
        </div>
    </div>
</div>