﻿@using StirCrazy.Core.Domain.Party
@model StirCrazy.Models.Order.BakeryModel

@Styles.Render("~/Content/datetimepicker")
@Scripts.Render("~/bundles/datetimepicker")
@{ int index = 0; }

@using (Html.BeginForm("Create", "Bakery", FormMethod.Post, new { @id = "BakeryOrder", data_submitted = "" }))
{
    @Html.HiddenFor(model => model.SubTotal, new { @id = "OrderSubTotal" })
    @Html.HiddenFor(model => model.Tax, new { @id = "OrderTaxTotal" })
    @Html.HiddenFor(model => model.Total, new { @id = "OrderTotal", data_adjustment = "", data_adjustment_type = "" })

    <div class="row">
        <div class="glow glow_blue" style="color: #333;">
            <div class="row">
                <div class="glow glow_purple border-radius" id="CustomerInformation">
                    <h1 class="stircrazy">Bakery Order</h1>
                    <!-- CUSTOMER INFORMATION -->
                    <h2 class="stircrazy">Customer Information</h2>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="controls">
                                <label>First Name</label><br />
                                @Html.TextBoxFor(model => model.Customer.FirstName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Last Name</label><br />
                                @Html.TextBoxFor(model => model.Customer.LastName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Address</label><br />
                                @Html.TextBoxFor(model => model.Customer.Address, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>City</label><br />
                                @Html.TextBoxFor(model => model.Customer.City, new { @class = "form-control", data_geo = "locality" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Province</label><br />
                                <select id="Customer_Province" name="Customer.Province" class="form-control">
                                    <option value="">-- Choose --</option>
                                    <option value="Alberta">Alberta</option>
                                    <option value="British Columbia">British Columbia</option>
                                    <option value="Manitoba">Manitoba</option>
                                    <option value="New Brunswick">New Brunswick</option>
                                    <option value="New Foundland">New Foundland</option>
                                    <option value="Northwest Territories">Northwest Territories</option>
                                    <option value="Nova Scotia">Nova Scotia</option>
                                    <option value="Ontario">Ontario</option>
                                    <option value="Prince Edward Island">Prince Edward Island</option>
                                    <option value="Quebec">Quebec</option>
                                    <option value="Saskatchewan">Saskatchewan</option>
                                    <option value="Yukon Territories">Yukon Territories</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Postal Code</label><br />
                                @Html.TextBoxFor(model => model.Customer.PostalCode, new { @class = "form-control", data_geo = "postal_code" })
                            </div>
                        </div>
                    </div>
                    <!-- DATE/TIME -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="controls">
                                <label>Phone</label><br />
                                @Html.TextBoxFor(model => model.Customer.PhoneNumber, new { @class = "form-control bfh-phone", data_format = "+1 (ddd) ddd-dddd" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Email</label><br />
                                @Html.TextBoxFor(model => model.Customer.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Confirm Email</label><br />
                                <input type="text" id="Customer_Email_Confirm" name="Customer_Email_Confirm" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-7">
                                <label><i class="fa fa-calendar"></i>  Choose A Pickup Date</label><br />
                                @Html.TextBoxFor(model => model.PickUpDate, "{0:MM/DD/YYYY}", new { @class = "form-control", id = "PickUpDate", data_format = "MM/DD/YYYY" })
                            </div>
                            <div class="col-md-5">
                                <label><i class="fa fa-clock-o"></i>  Pick A Time Of Day</label><br />
                                @Html.EnumDropDownListFor(model => model.PickUpTime, "-- Choose --", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <!-- CAKES -->
                <div class="glow glow_pink border-radius">
                    <h2 class="stircrazy">BIRTHDAY CAKE</h2>
                    <div id="Cake">
                        <p>
                            Stir Crazy Proudly Offers Our Very Own On-Site Birthday Cake Bakery!
                            We Offer Delicious, Fresh Baked 10 X 10 Cakes In A Variety Of Licensed And Generic Themes.
                            Don't See Your Theme In Our List? Give Us A Call.
                            <br />
                        </p>
                        <div class="col-md-6">
                            <h4 class="stircrazy">Theme</h4>
                            @Html.DropDownListFor(model => model.CakeTheme, new SelectList(Model.Addons.Where(c => c.AddonType == AddonType.ThemeCake), "Name", "Name"), "-- Choose A Theme --", new { @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            <h4 class="stircrazy">Flavour</h4>
                            @Html.DropDownListFor(model => model.CakeFlavour, new SelectList(Model.Addons.Where(c => c.AddonType == AddonType.FlavourCake), "Name", "Name"), "-- Choose A Flavour --", new { @class = "form-control" })
                        </div>
                        <div class="col-md-12" id="ChildInfo">
                            <h3 class="stircrazy">Child Information</h3>
                            <p>
                                Provide your birthday child information below to have it featured on the cake.
                            </p>
                            <div class="col-md-8">
                                <div class="form-group col-sm-6">
                                    <div class="form-group">
                                        <label>Name</label><br />
                                        @Html.TextBoxFor(model => model.Child.FirstName, new { @class = "form-control" })
                                    </div>
                                    <p>
                                        Please Note Some Images Do Not Allow For Text To Be Added To The Cake, You Will Be Contacted If We Are Unable To Apply Text To Your Cake.
                                    </p>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Gender</label><br />
                                    @Html.EnumDropDownListFor(model => model.Child.Gender, "--", new { @class = "form-control", style = "width: auto" })
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Age</label><br />
                                    @Html.TextBoxFor(model => model.Child.Age, new { @class = "form-control", style = "width: 45px", pattern = "[0-9]*" })
                                </div>
                                <div class="party-disclaimer col-sm-12" style="display: block">
                                    <strong>!- IMPORTANT: CAKE ORDER POLICY -!</strong>
                                    <ul>
                                        <li>Cake Orders Must Be Placed At Least 2 Days Prior To Pick Up.</li>
                                        <li>A Minimum Of 2 Days Is Required For All Birthday Cake Cancellations!</li>
                                        <li>All Cancellation Requests Must Be Emailed To <a href="mailto:partycoordinator@("@")stircrazy.ca">partycoordinator@("@")stircrazy.ca</a>. No Cancellations Or Refunds Will Be Accepted After This Window.</li>
                                        <li>No Custom Food Or Party Services Are To Be Conducted In The Common Area!</li>
                                        <li>All Cakes, Edible Arrangements® And Fresh Food Platters, Etc Purchased For Celebration Or Consumption At Stir Crazy Must Be Done In Conjunction With A Private Party Room Rental.</li>
                                        <li>WE ARE A NUT AND ALLERGY AWARE FACILITY! With the exception of cakes absolutely NO OUTSIDE FOOD OR BEVERAGE IS PERMITTED!</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group col-sm-6">
                                    <img src="/img/minnie-cake.png" alt="" class="img-bordered rounded" width="260" height="180" /><br />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                Cake Total: <strong><span id="cakeTotal"></span></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <!-- CUPCAKES -->
                <div class="glow glow_purple border-radius">
                    <h2 class="stircrazy">CUPCAKES</h2>
                    <div id="CupCake">
                        <p>
                            Our Stir Crazy Cupcakes Are A Customer Favorite! Now You Can Pre-order These Tasty Treats For All Kinds Of Celebrations; Weddings, Class Parties, Thank You Gifts And So Much More.
                            Whatever The Season, Whatever The Reason Stir Crazy's Got You Covered!<br /><br />
                            Stir Crazy Can Do Custom Logo Cupcakes For Your Next Team Celebration, Promotional Event Or Company Fundraiser.<br />
                            Email To <a href="mailto:partycoordinator@("@")stircrazy.ca">partycoordinator@("@")stircrazy.ca</a> For More Information And Custom Quotes.
                        </p>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h3 class="stircrazy">Choose Your Cupcakes</h3>
                                @for (int i = 0; i < Model.Addons.Count; i++)
                                {
                                    if (Model.Addons[i].AddonType == AddonType.FlavourCupcake)
                                    {
                                        @Html.Hidden("OrderAddons[" + index + "].Id", Model.Addons[i].Id)
                                        @Html.Hidden("OrderAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                        @Html.Hidden("OrderAddons[" + index + "].Name", Model.Addons[i].Name)
                                        @Html.Hidden("OrderAddons[" + index + "].Price", Model.Addons[i].Price)
                                        @Html.Hidden("OrderAddons[" + index + "].IsIncluded", false)
                                        @Html.TextBox("OrderAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 40px", @class = "form-control cupcakes", data_price = Model.Addons[i].Price, pattern = "[0-9]*" })
                                        @Model.Addons[i].Name
                                        @(" ($")@Model.Addons[i].Price@("/Dozen)")<br />
                                        index++;
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="Flavours">
                                <h4 class="stircrazy">Pick Your Icing Colour(s) <small>(Max 2)</small></h4>
                                @for (int i = 0; i < Model.Addons.Count; i++)
                                {
                                    if (Model.Addons[i].AddonType == AddonType.FlavourIcing)
                                    {
                                        @Html.Hidden("OrderAddons[" + index + "].Id", Model.Addons[i].Id)
                                        @Html.Hidden("OrderAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                        @Html.Hidden("OrderAddons[" + index + "].Name", Model.Addons[i].Name)
                                        @Html.Hidden("OrderAddons[" + index + "].Price", Model.Addons[i].Price)
                                        @Html.Hidden("OrderAddons[" + index + "].IsIncluded", false)
                                        @Html.CheckBox("OrderAddons[" + index + "].IsSelected", false, new { @style = "width: 40px", @class = "flavours", data_price = Model.Addons[i].Price })
                                        @Model.Addons[i].Name<br />
                                        index++;
                                    }
                                }
                            </div>
                            <div class="form-group">
                                <h2 class="stircrazy">Custom Cupcake Orders</h2>
                                <p>
                                    From Weddings And Class Parties To Fundraisers And Corporate Events<br />Stir Crazy Has Got You Covered!
                                    Email To <a href="mailto:partycoordinator@("@")stircrazy.ca">partycoordinator@stircrazy.ca</a> For More Information Today!
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                Cupcake Total: <strong><span id="cupcakeTotal"></span></strong>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="party-disclaimer">
                                <strong>!- IMPORTANT: CUPCAKE ORDER POLICY -!</strong>
                                <ul>
                                    <li>Cupcake Orders Must Be Placed At Least 2 Days Prior To Pick Up.</li>
                                    <li>A Minimum Of 2 Days Is Required For All Order Cancellations!</li>
                                    <li>All Cancellation Requests Must Be Emailed To <a href="mailto:partycoordinator@("@")stircrazy.ca">partycoordinator@("@")stircrazy.ca</a>. No Cancellations Or Refunds Will Be Accepted After This Window.</li>
                                    <li>No Custom Food Or Party Services Are To Be Conducted In The Common Area! </li>
                                    <li>All Cakes, Cupcakes, Edible Arrangements And Fresh Food Platters Ect Purchased For Celebration Or Consumption AT Stir Crazy Must Be Done In Conjunction With A Private Party Room Rental. </li>
                                    <li>WE ARE A NUT AND ALLERGY AWARE FACILITY! With the exception of cakes absolutely NO OUTSIDE FOOD OR BEVERAGE IS PERMITTED! </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <!-- MINI CUPCAKES -->
                <div class="glow glow_pink border-radius">
                    <h2 class="stircrazy">MINI CUPCAKES</h2>
                    <div id="MiniCupCake">
                        <p>
                            Our Stir Crazy Mini Cupcakes Are Amazing! Now You Can Pre-order These Tasty Little Treats For All Kinds Of Celebrations; Weddings, Class Parties, Thank You Gifts And So Much More.
                            Whatever The Season, Whatever The Reason Stir Crazy's Got You Covered!<br /><br />
                            Email To <a href="mailto:partycoordinator@("@")stircrazy.ca">partycoordinator@("@")stircrazy.ca</a> For More Information And Custom Quotes.
                        </p>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h3 class="stircrazy">Choose Your Mini Cupcakes</h3>
                                @for (int i = 0; i < Model.Addons.Count; i++)
                                {
                                    if (Model.Addons[i].AddonType == AddonType.FlavourMiniCupcake)
                                    {
                                        @Html.Hidden("OrderAddons[" + index + "].Id", Model.Addons[i].Id)
                                        @Html.Hidden("OrderAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                        @Html.Hidden("OrderAddons[" + index + "].Name", Model.Addons[i].Name)
                                        @Html.Hidden("OrderAddons[" + index + "].Price", Model.Addons[i].Price)
                                        @Html.Hidden("OrderAddons[" + index + "].IsIncluded", false)
                                        @Html.TextBox("OrderAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 40px", @class = "form-control mini-cupcakes", data_price = Model.Addons[i].Price, pattern = "[0-9]*" })
                                        @Model.Addons[i].Name
                                        @(" ($")@Model.Addons[i].Price@("/Dozen)")<br />
                                        index++;
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="MiniFlavours">
                                <h4 class="stircrazy">Pick Your Icing Colour(s) <small>(Max 2)</small></h4>
                                @for (int i = 0; i < Model.Addons.Count; i++)
                                {
                                    if (Model.Addons[i].AddonType == AddonType.FlavourIcing)
                                    {
                                        @Html.Hidden("OrderAddons[" + index + "].Id", Model.Addons[i].Id)
                                        @Html.Hidden("OrderAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                        @Html.Hidden("OrderAddons[" + index + "].Name", Model.Addons[i].Name)
                                        @Html.Hidden("OrderAddons[" + index + "].Price", Model.Addons[i].Price)
                                        @Html.Hidden("OrderAddons[" + index + "].IsIncluded", true)
                                        @Html.CheckBox("OrderAddons[" + index + "].IsSelected", false, new { @style = "width: 40px", @class = "mini-flavours", data_price = Model.Addons[i].Price })
                                        @Model.Addons[i].Name<br />
                                        index++;
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                Mini-Cupcake Total: <strong><span id="miniCupcakeTotal"></span></strong>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="party-disclaimer">
                                <strong>!- IMPORTANT: MINI-CUPCAKE ORDER POLICY -!</strong>
                                <ul>
                                    <li>Mini Cupcake Orders Must Be Placed At Least 2 Days Prior To Pick Up.</li>
                                    <li>A Minimum Of 2 Days Is Required For All Order Cancellations!</li>
                                    <li>All Cancellation Requests Must Be Emailed To <a href="mailto:partycoordinator@("@")stircrazy.ca">partycoordinator@("@")stircrazy.ca</a>. No Cancellations Or Refunds Will Be Accepted After This Window.</li>
                                    <li>No Custom Food Or Party Services Are To Be Conducted In The Common Area! </li>
                                    <li>All Cakes, Cupcakes, Edible Arrangements And Fresh Food Platters Ect Purchased For Celebration Or Consumption AT Stir Crazy Must Be Done In Conjunction With A Private Party Room Rental. </li>
                                    <li>WE ARE A NUT AND ALLERGY AWARE FACILITY! With the exception of cakes absolutely NO OUTSIDE FOOD OR BEVERAGE IS PERMITTED! </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <!-- CAKES -->
                <div class="glow glow_orange border-radius">
                    <h2 class="stircrazy">EDIBLE CAKE IMAGES</h2>
                    <div id="CakeImages">
                        <p>
                            Looking to create your own custom cake?<br />
                            Stir Crazy Offers Both Standard Licensed Edible Images® And Personalized Edible Images®. Licensed Images Include Popular Themes Such As Dora®, Mickey Mouse® And Disney Princess®! Order Yours TODAY!
                        </p>
                        <div class="col-md-6">
                            <h4 class="stircrazy">STANDARD EDIBLE CAKE IMAGE</h4>
                            <div class="col-sm-8">
                                <p>
                                    Standard Edible Cake Images Are Factory Direct Images Printed On Edible Rice Paper And Are Safe To Eat.
                                    Choose From The Available Options Below:
                                </p>
                                @Html.DropDownListFor(model => model.StandardImage, new SelectList(Model.Addons.Where(c => c.AddonType == AddonType.StandardCakeImage), "Name", "Name"), "--- Choose ---", new { @class = "form-control" })
                            </div>
                            <div class="col-sm-4">
                                <img src="~/img/bakery/bakery-edible_standard_cake.jpg" alt="Standard Edible Cake Images Are Factory Direct Images Printed On Edible Rice Paper And Are Safe To Eat" width="180" class="img-bordered circle" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="stircrazy">PERSONALIZED EDIBLE CAKE IMAGE</h4>
                            <div class="col-sm-8">
                                <p>
                                    Personalized Edible Cake Images Are Factory Direct Images That Allow For A Photograph Of Your Child To Be Incorporated Onto The Cake.
                                    These Images Are Also Printed On Edible Rice Paper And Safe To Eat. Choose From The Available Options Below:
                                </p>
                                @Html.DropDownListFor(model => model.EdibleImage, new SelectList(Model.Addons.Where(c => c.AddonType == AddonType.EdibleCakeImage), "Name", "Name"), "--- Choose ---", new { @class = "form-control" })
                                Email The Photo You Would Like Incorporated Onto The Cake In Jpeg Format To <a href="mailto:partycoordinator@stircrazy.ca">partycoordinator@("@")stircrazy.ca</a>
                            </div>
                            <div class="col-sm-4">
                                <img src="~/img/bakery/bakery-edible_personalized_cake.jpg" alt="Standard Edible Cake Images Are Factory Direct Images Printed On Edible Rice Paper And Are Safe To Eat" width="180" class="img-bordered circle" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                Cake Images Total: <strong><span id="imagesTotal"></span></strong>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="party-disclaimer">
                                <strong>!- IMPORTANT: CAKE IMAGES -!</strong>
                                <ul>
                                    <li>Edible Image Orders Must Be Placed At Least 2 Days In Advance.</li>
                                    <li>We Cannot Reproduce Trademarked Or Licensed Images We Do Not Have A License For.</li>
                                    <li>All Custom Edible Images Are A Final Sale. No Refunds Or Exchanges Permitted After The Cancellation Window.</li>
                                    <li>All Cancellation Requests Must Be Emailed To <a href="mailto:partycoordinator@stircrazy.ca">partycoordinator@("@")stircrazy.ca</a></li>
                                    <li>All Cakes, Cupcakes, Edible Arrangements And Fresh Food Platters, Etc Purchased For Celebration Or Consumption AT Stir Crazy Must Be Done In Conjunction With A Private Party Room Rental.</li>
                                    <li>WE ARE A NUT AND ALLERGY AWARE FACILITY! With the exception of cakes absolutely NO OUTSIDE FOOD OR BEVERAGE IS PERMITTED!</li>
                                    <li>We Will Contact You Via Email If We Require Further Assistance Processing Your Order.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <!-- SPECIAL INSTRUCTIONS -->
            <div class="row" id="NotesSection">
                <div class="col-md-5">
                    <div class="form-group">
                        <h3 class="stircrazy">Order Notes</h3>
                        @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", style = "min-height: 150px" })
                    </div>
                </div>
                <div class="col-md-7 yellow border-radius">
                    <!-- VALIDATION SUMMARY -->
                    <div id="ValidationSummary" class="col-sm-12 party-validations" style="display: none">
                        <strong>Your Order Contains The Following Errors:</strong>
                        <ul></ul>
                    </div>
                    <div class="col-xs-6">
                        <span class="stircrazy">Sub Total: <span id="SubTotal"></span></span>
                        <span class="stircrazy">GST (5%): <span id="GstTotal"></span></span>
                    </div>
                    <div class="col-xs-6">
                        <h1 class="stircrazy"><span id="FinalTotal"></span></h1>
                    </div>
                    <div class="form-group col-md-12">
                        <h4 class="stircrazy">Promotion Code / Gift Certificate</h4>
                        @Html.TextBoxFor(model => model.Promotion, new { @class = "form-control", style = "width: 50%; display: inline" })
                        <a id="PromotionCodeValidate" class="btn btn-default">Apply</a>
                        <span id="PromotionDescription" style="color: red; display: block"></span>
                    </div>
                    <div class="col-md-12 yellow border-radius" id="ManualTransaction" style="display: none">
                        @Html.HiddenFor(model => model.BypassPaypal)
                        <div class="form-group col-xs-4">
                            <strong>Payment Method</strong>
                            @Html.EnumDropDownListFor(model => model.PaymentTransaction.TransactionType, new { @class = "form-control", @style = "width: auto; display: inline" })<br />
                        </div>
                        <div class="form-group col-xs-8">
                            <strong>Transaction Number (Credit Card/Paypal)</strong>
                            @Html.TextBoxFor(model => model.PaymentTransaction.TransactionNumber, new { @class = "form-control" })<br />
                        </div>
                        <input type="submit" class="btn btn-rounded btn-default submit-btn" value="Complete">
                        <span class="submit-progress btn btn-rounded btn-default" style="display: none">
                            @("Processing ")
                            <img src="~/img/status-dots-anim.gif" alt="" />
                        </span>
                        @Html.ActionLink("Cancel", "Index", "Home", new { @class = "btn btn-rounded btn-default" })
                    </div>
                    <div class="col-md-12 yellow border-radius" id="PaypalTransaction">
                        <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" style="margin-right:7px; margin-top: 15px; vertical-align: middle" class="submit-btn">
                        <span class="submit-progress btn btn-rounded btn-default" style="display: none">
                            @("Processing ") <img src="~/img/status-dots-anim.gif" alt="" />
                        </span>
                        @Html.ActionLink("Cancel", "Index", "Home", new { @class = "btn btn-rounded btn-default" })
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
}
@Scripts.Render("~/bundles/stircrazy-order-bakery")
