﻿@model StirCrazy.Models.Gallery.GalleryModel

<div class="row">
    <div class="glow glow_blue  text-center">
        <h1 class="stircrazy text-center">Bakery</h1>
        <h4 class="stircrazy">STIR CRAZY CAKES AND CUPCAKES ARE BAKED FRESH ON SITE</h4>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h3 class="stircrazy">CAKES PRICING</h3>
                <table class="admission striped-blue table-rounded">
                    <tr>
                        <td>
                            ONE SIZE: 10 x 10" Slab<br />
                            <small>
                                (Serves approximately 15-18)<br />
                                Flavours: Vanilla, Chocolate and Marble
                            </small>
                        </td>
                        <td class="text-right" style="width: 50px">$45.00</td>
                        <td id="packages-button-sm" style="width: 50px"><a href="@Url.Action("Create", "Bakery")">Order</a></td>
                    </tr>
                </table>
                <br />
                <p>Cakes And Cupcakes Are Available For Purchase<br />For On And Off-Site Celebrations!<br /><small>Available In Gluten Free!</small></p>
            </div>
            <div class="col-sm-12 col-md-6">
                <h3 class="stircrazy">CUPCAKES SIZES & PRICING</h3>
                <table class="admission striped-blue table-rounded">
                    <tr>
                        <td>
                            Standard Dozen
                        </td>
                        <td class="text-right" style="width: 50px">$20.00</td>
                        <td id="packages-button-sm" style="width: 50px"><a href="@Url.Action("Create", "Bakery")">Order</a></td>
                    </tr>
                    <tr>
                        <td>
                            Mini Dozen
                        </td>
                        <td class="text-right" style="width: 50px">$7.00</td>
                        <td id="packages-button-sm" style="width: 50px"><a href="@Url.Action("Create", "Bakery")">Order</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h3 class="stircrazy">EDIBLE CAKE IMAGE PRICING</h3>
                <table class="admission striped-blue table-rounded">
                    <tr>
                        <td>
                            Standard Edible Images
                        </td>
                        <td class="text-right" style="width: 50px">$10.00</td>
                        <td id="packages-button-sm" style="width: 50px"><a href="@Url.Action("Create", "Bakery")">Order</a></td>
                    </tr>
                    <tr>
                        <td>
                            Photo Edible Images
                        </td>
                        <td class="text-right" style="width: 50px">$15.00</td>
                        <td id="packages-button-sm" style="width: 50px"><a href="@Url.Action("Create", "Bakery")">Order</a></td>
                    </tr>
                </table>
                <p>
                    CUSTOM IMAGING SUCH AS COMPANY LOGOS AVAILABLE!
                    TO CUSTOMIZE YOUR BAKERY ORDER EMAIL TO
                    <a href="mailto:bakery@stircrazy.ca">BAKERY@("@")STIRCRAZY.CA</a>
                </p>
            </div>
            <div class="col-sm-12 col-md-6">
            </div>
        </div>
    </div>
</div>