﻿@using Microsoft.Ajax.Utilities
@using StirCrazy.Core.Domain.Party
@using StirCrazy.Core.Utilities
@model StirCrazy.Models.Order.BakeryModel
@{ Layout = null; }
@{ decimal total = 0.00m; }
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            font: 9pt/1.2 Arial, sans-serif;
        }

        .content {
            width: 9.5in;
        }

        .floating-div {
            float: left;
            margin: 1%;
        }

        .floating-div-left {
            width: 55%;
        }

        .floating-div-right {
            width: 40%;
        }
    </style>
</head>
<body onload="window.print()">
    <div class="content">
        <div class="floating-div floating-div-left">
            <img src="/img/logo.png" />
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Order</strong> Overview</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <h1>Bakery Order</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <h1>@Model.PickUpDate.Date.ToString("ddd MMM dd, yyyy").ToUpper()</h1>
                                    <strong>Pickup Time: </strong> @Model.PickUpTime<br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="controls">
                                    @if (Model.Notes != null)
                                    {
                                        <strong>-== SPECIAL INSTRUCTIONS ==-</strong><br />
                                        @Html.Raw(Model.Notes.Replace(Environment.NewLine, "<br/>"))
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Customer</strong> Information</h3></div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <h2>PARENT</h2>
                        <div class="form-group">
                            <div class="controls">
                                <h3>@Model.Customer.FullName</h3>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Address</label>
                            <div class="controls">
                                @Model.Customer.Address<br />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Phone Number</label>
                            <div class="controls">
                                @Model.Customer.PhoneNumber
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Email Address</label>
                            <div class="controls">
                                @Model.Customer.Email
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>CHILD</h2>
                        <div class="form-group">
                            <div class="controls">
                                <h3>@Model.Child.FullName</h3>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Gender</label>
                                <div class="controls">
                                    @Model.Child.Gender.GetDisplayName()
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Age</label>
                                <div class="controls">
                                    @Model.Child.Age
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="floating-div floating-div-right">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Payment</strong> Details</h3></div>
                <div class="panel-body">
                    <div class="col-xs-12 col-md-12">
                        <h1 class="payment-total">$@Model.Total.ToString("0.00")</h1>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <span>Sub-total <strong class="pull-right">$@Model.SubTotal.ToString("0.00")</strong></span><br />
                        <span>GST <strong class="pull-right">$@Model.Tax.ToString("0.00")</strong></span><br />
                        @if (Model.Discount > 0)
                        {
                            <br />
                            <span>Discount <strong class="pull-right">$@Model.SubTotal.ToString("0.00")</strong></span><br />
                            <span>Promotion <strong class="pull-right">$@Model.SubTotal.ToString("0.00")</strong></span><br />
                        }

                        @if (Model.PaymentTransaction != null)
                        {
                            <br />
                            <span>Payment <strong class="pull-right">@Model.PaymentTransaction.TransactionType.GetDisplayName() - @Model.PaymentTransaction.PaymentStatus</strong></span><br />
                            <span>Transaction <strong class="pull-right">@(Model.PaymentTransaction.TransactionNumber ?? "Not Applicable")</strong></span><br />
                            <span>Status <strong class="pull-right">@Model.Status</strong></span><br />
                        }
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Order</strong> Details</h3></div>
                <div class="panel-body">
                    <h4>Cake</h4><hr class="dashed" />
                    @if (!Model.CakeFlavour.IsNullOrWhiteSpace() && !Model.CakeTheme.IsNullOrWhiteSpace())
                    {
                        @Model.CakeFlavour.ToUpper() @(" - ") @Model.CakeTheme.ToUpper()
                        <br /><br />
                        <span class="pull-right">Total: $45.00</span>
                    }
                    else
                    { @("--- None ---")<br /> }
                    <br /><h4>Cupcakes</h4><hr class="dashed" />
                    @if (Model.OrderAddons.All(x => x.Addon.AddonType != AddonType.FlavourCupcake))
                    {
                        @("--- None ---")<br />
                    }
                    else
                    {
                        foreach (var cupcake in Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.FlavourCupcake))
                        {
                            @cupcake.Quantity @(" Dozen - ") @cupcake.Addon.Name @(" ($") @cupcake.Addon.Price @("/Dozen)")<br />
                        }

                        <br /><strong>@("Colour(s): ")</strong>
                        @Html.Raw(string.Join(", ", Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.FlavourIcing).Select(y => y.Addon.Name)))
                        <br /><br />
                        <span class="pull-right">Total: $@Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.FlavourCupcake).Sum(y => y.Quantity * y.Addon.Price)</span>
                    }
                    <br /><h4>Mini Cupcakes</h4><hr class="dashed" />
                    @if (Model.OrderAddons.All(x => x.Addon.AddonType != AddonType.FlavourMiniCupcake))
                    {
                        @("--- None ---")<br />
                    }
                    else
                    {
                        foreach (var cupcake in Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.FlavourMiniCupcake))
                        {
                            @cupcake.Quantity @(" Dozen - ") @cupcake.Addon.Name @(" ($") @cupcake.Addon.Price @("/Dozen)")<br />
                        }

                        <br /><strong>@("Colour(s): ")</strong>
                        @Html.Raw(string.Join(", ", Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.FlavourIcing && x.IsIncluded).Select(y => y.Addon.Name)))
                        <br /><br />
                        <span class="pull-right">Total: $@Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.FlavourMiniCupcake).Sum(y => y.Quantity * y.Addon.Price)</span>
                    }
                    <br /><h4>Edible Images</h4><hr class="dashed" />
                    @if (!Model.StandardImage.IsNullOrWhiteSpace() || !Model.EdibleImage.IsNullOrWhiteSpace())
                    {
                        @Model.StandardImage.ToUpper() @(" (Standard)") <br />
                        @Model.EdibleImage.ToUpper() @(" (Personalized)") <br />
                        if (Model.StandardImage != null || Model.StandardImage != "") { total += 10m; }
                        if (Model.EdibleImage != null || Model.EdibleImage != "") { total += 15m; }
                        <span class="pull-right">Total: $@total</span>
                    }
                    else
                    { @("--- None ---")<br /> }
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="content">
        @Html.Partial("Policies/_BakeryPolicy")
    </div>
</body>
</html>
