﻿@model StirCrazy.Admin.Models.Reporting.ReportModel
@Styles.Render("~/Content/datetimepicker")
@Scripts.Render("~/bundles/datetimepicker")

<div class="col-lg-12">
    @using (Html.BeginForm("Generate", "Reports", FormMethod.Post, new { @id = "Availability" }))
    {
        <!-- DATE/TIME -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Store</strong> Reports</h3></div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><i class="fa fa-calendar"></i>  Choose A Date Range</label><br />
                                    <div class="col-sm-2">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="DatePair">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>From</label>
                                    @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control date start" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Until</label>
                                    @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control date end" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Until</label>
                                    @Html.EnumDropDownListFor(model => model.ReportType, "-- Choose Report --", new { @style = "width: auto" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Until</label>
                                    <input type="submit" name="submit" value="Run Report" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<link href="~/Scripts/plugins/jquery.timepicker/jquery.timepicker.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/plugins/jquery.timepicker/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/jquery.datepair/Datepair.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/jquery.datepair/jquery.datepair.js"></script>
<script>

    $('#DatePair .date').datetimepicker({
        format: 'm/d/Y',
        autoclose: true,
        timepicker: false
    });

    $('#DatePair').datepair();
</script>