﻿@using StirCrazy.Core.Domain.Orders
@using StirCrazy.Core.Utilities
@model List<StirCrazy.Admin.Models.Dashboard.OrderViewModel>

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading bg-dark">
            <h3 class="panel-title"><strong>Order </strong> Overview</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive filter-right">
                    @if (!Model.Any())
                    {
                        <div class="alert bg-gray-light">
                            It doesn't look like you have any orders currently.
                        </div>
                    }
                    else
                    {
                        <table id="datatable" class="table table-striped table-hover table-dynamic table-dark dataTable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Type</th>
                                    <th>Scheduled</th>
                                    <th>Room</th>
                                    <th>Description</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td style="width: 1px" class="@item.cssClass"></td>
                                        <td>
                                            @item.Type.GetDisplayName()
                                        </td>
                                        <td>
                                            @Html.Raw(item.OrderDate)
                                        </td>
                                        <td style="width: 2px">
                                            @if (item.Booking != null)
                                            {
                                                @item.Booking.PartyRoom.Name @(" ")
                                            }
                                            @if (item.Type == OrderType.CorporateEvent)
                                            {
                                                @("- Facility -")
                                            }
                                        </td>
                                        <td>
                                            @if (item.Package != null)
                                            {
                                                @item.Package.Name
                                            }
                                        </td>
                                        <td>
                                            @(!string.IsNullOrEmpty(item.Customer.FullName) ? item.Customer.FullName : item.Customer.BusinessName)
                                        </td>
                                        <td>
                                            @item.Customer.Address<br />
                                            @item.Customer.City,
                                            @item.Customer.Province
                                        </td>
                                        <td>
                                            @item.Customer.PhoneNumber
                                        </td>
                                        <td>
                                            @item.Customer.Email
                                        </td>

                                        <td>
                                            @item.Total
                                        </td>
                                        <td>
                                            @item.Status
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>