﻿@using System.Globalization
@using StirCrazy.Core.Utilities
@model StirCrazy.Admin.Models.Reporting.MonthOverviewModel

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading"><h1 class="panel-title"><strong>Monthly</strong> Report</h1></div>
        <div class="panel-body">
            <div class="col-md-6">
                @Html.EnumDropDownListFor(model => model.Month, new { id = "Month", @class = "form-control", style = "width: auto" })
            </div>
            <div class="col-md-6">
                <h3 class="pull-right">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName((int)Model.Month)<br />
                <strong>@string.Format("{0:C}", Model.MonthReports.Sum(x => x.Total))</strong></h3>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h1 class="panel-title"><strong>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName((int)Model.Month)</strong> Overview</h1></div>
        <div class="panel-body">

            @foreach (var item in Model.MonthReports)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="panel no-bd bd-3 panel-stat">
                        <div class="panel-body bg-blue">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="stat-num">
                                        <h1 class="m-0 w-300">@item.Orders</h1>
                                    </div>
                                    <h3>@item.Type.GetDisplayName()</h3>
                                    <h2 class="text=center">@string.Format("{0:C}", item.Total)</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<script>
    $(document).on('change', '#Month', function () {
        window.location.href = "/reports/monthly/" + $('#Month').val();
    });
</script>