﻿@using System.Globalization
@model StirCrazy.Admin.Models.Reporting.PackagesReportModel

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading"><h1 class="panel-title"><strong>Monthly</strong> Report</h1></div>
        <div class="panel-body">
            <div class="col-md-6">
                @Html.EnumDropDownListFor(model => model.Month, new { id = "Month", @class = "form-control", style = "width: auto" })
            </div>
            <div class="col-md-6">
                <h3 class="pull-right">
                    @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName((int)Model.Month)<br />
            </h3>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><h1 class="panel-title"><strong>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName((int)Model.Month)</strong> Overview</h1></div>
    <div class="panel-body">
        <div class="col-lg-3 col-md-6">
            <div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-blue">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="stat-num">
                                <h2 class="m-0 w-300">Package #1</h2>
                            </div>
                            <h2 class="text=center">@Model.Packages.Count(x => x.Id == 1) SOLD</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-blue">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="stat-num">
                                <h2 class="m-0 w-300">Package #2</h2>
                            </div>
                            <h2 class="text=center">@Model.Packages.Count(x => x.Id == 2) SOLD</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-blue">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="stat-num">
                                <h2 class="m-0 w-300">Package #3</h2>
                            </div>
                            <h2 class="text=center">@Model.Packages.Count(x => x.Id == 3) SOLD</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel no-bd bd-3 panel-stat">
                <div class="panel-body bg-blue">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="stat-num">
                                <h2 class="m-0 w-300">Build Your Own</h2>
                            </div>
                            <h2 class="text=center">@Model.Packages.Count(x => x.Id == 4) SOLD</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    $(document).on('change', '#Month', function () {
        window.location.href = "/reports/packages/" + $('#Month').val();
    });
</script>