﻿@using StirCrazy.Core.Domain.Party
@using StirCrazy.Core.Utilities
@model StirCrazy.Admin.Models.Reporting.BakeryReportModel
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            font: 9pt/1.2 Arial, sans-serif;
        }

        .content {
            width: 9.5in;
        }

        .floating-div {
            float: left;
            margin: 1%;
        }

        .floating-div-left {
            width: 55%;
        }

        .floating-div-right {
            width: 40%;
        }

        .row {
            margin-left: 0;
            margin-right: 0;
        }
    </style>
</head>
<body>
    <div class="content">
        <img src="/img/logo.png" />
        <br>
        <div class="floating-div floating-div-left">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Bakery</strong> Cakes</h3></div>
                <div class="panel-body">
                    <div class="row">

                        @foreach (var bakeryOrders in Model.BakeryOrders.GroupBy(x => x.PickUpDate.Date))
                        {
                            <h2>@bakeryOrders.Key.Date.ToString("dddd MMM d")</h2>
                            if (bakeryOrders.All(x => string.IsNullOrEmpty(x.CakeFlavour) || string.IsNullOrEmpty(x.CakeTheme)))
                            {
                                <strong>None</strong><br />
                            }
                            else
                            {
                                foreach (var bakeryOrder in bakeryOrders)
                                {
                                    if (!string.IsNullOrEmpty(bakeryOrder.CakeFlavour) || !string.IsNullOrEmpty(bakeryOrder.CakeTheme))
                                    {
                                        @bakeryOrder.CakeFlavour @(" - ") @bakeryOrder.CakeTheme <br />
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Party</strong> Cakes</h3></div>
                <div class="panel-body">
                    <div class="row">
                        @foreach (var partyOrders in Model.PartyOrders.GroupBy(x => x.RoomBooking.Date.Date))
                        {
                            <h2>@partyOrders.Key.Date.ToString("dddd MMM d")</h2>
                            if (partyOrders.All(x => string.IsNullOrEmpty(x.CakeFlavour) || string.IsNullOrEmpty(x.CakeTheme)))
                            {
                                <strong>None</strong><br />
                            }
                            else
                            {
                                foreach (var partyOrder in partyOrders)
                                {
                                    if (!string.IsNullOrEmpty(partyOrder.CakeFlavour) || !string.IsNullOrEmpty(partyOrder.CakeTheme))
                                    {
                                        @partyOrder.CakeFlavour @(" - ") @partyOrder.CakeTheme <br />
                                    }
                                }
                            }
                        }
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Cupcake</strong> Orders</h3></div>
                    <div class="panel-body">
                        <div class="row">
                            @{
                                foreach (var partyOrders in Model.PartyOrders.GroupBy(x => x.RoomBooking.Date.Date))
                                {
                                    var result = partyOrders
                                         .SelectMany(x => x.PartyAddons.Where(o => o.Addon.AddonType == AddonType.FlavourMiniCupcake || o.Addon.AddonType == AddonType.FlavourCupcake || o.Addon.AddonType == AddonType.FlavourIcing))
                                         .GroupBy(addon => new { addon.Addon.AddonType, addon.Addon.Name })
                                         .Select(grouping => new
                                         {
                                             Name = grouping.Key.Name,
                                             Type = grouping.Key.AddonType,
                                             Quantity = grouping.Sum(addon => addon.Quantity),
                                             Flavours = grouping.Where(x => x.Addon.AddonType == AddonType.FlavourIcing)
                                         });

                                    <h2>@partyOrders.Key.Date.ToString("dddd MMM d")</h2>
                                    foreach (var cupcakes in result)
                                    {
                                            <strong>@cupcakes.Quantity@("x ")</strong>
                                            @cupcakes.Name
                                            foreach (var flavour in cupcakes.Flavours)
                                            {
                                                @flavour.Addon.Name @(" ")
                                            }
                                            <br />
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="floating-div floating-div-right">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Food</strong> Orders</h3></div>
                <div class="panel-body">
                    <div class="row">
                        @{
                            foreach (var partyOrder in Model.PartyOrders.GroupBy(x => x.RoomBooking.Date.Date))
                            {
                                var result = partyOrder
                                    .SelectMany(x => x.PartyAddons)
                                    .GroupBy(addon => new { addon.Addon.AddonType, addon.Addon.Name })
                                    .Select(grouping => new
                                    {
                                        Name = grouping.Key.Name,
                                        Type = grouping.Key.AddonType,
                                        Quantity = grouping.Sum(addon => addon.Quantity)
                                    });

                                <h2>@partyOrder.Key.Date.ToString("dddd MMM d")</h2>
                                foreach (var addons in result.Where(x => x.Type == AddonType.FoodPlatter || x.Type == AddonType.FoodPizza).GroupBy(x => x.Type))
                                {
                                    <h4>@addons.Key.GetDisplayName()</h4>
                                    foreach (var addon in addons)
                                    {
                                        <strong>@addon.Quantity@("x ")</strong> @addon.Name <br />
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
</body>
</html>
