﻿@model StirCrazy.Models.Order.RoomOrderModel

@Styles.Render("~/Content/datetimepicker")
@Scripts.Render("~/bundles/datetimepicker")
@Scripts.Render("~/bundles/stircrazy-room-booking")

@using (Html.BeginForm("Create", "Room", FormMethod.Post, new { @id = "RoomBooking", data_submitted = "" }))
{
    @Html.HiddenFor(model => model.SubTotal, new { @id = "OrderSubTotal" })
    @Html.HiddenFor(model => model.Tax, new { @id = "OrderTaxTotal" })
    @Html.HiddenFor(model => model.Total, new { @id = "OrderTotal", data_adjustment = "", data_adjustment_type = "" })

    <div class="row">
        <div class="glow glow_blue" style="color: #333;">
            @if (Model.BypassPaypal)
            {
                <div class="col-sm-12 party-disclaimer">
                    <strong>!- IMPORTANT: ADMINISTRATION MODE ACTIVATED -!</strong>
                    <ul>
                        <li>Paypal Payment Processing Has Been Disabled.</li>
                        <li>Only Authorized Users May Use Administration Mode.</li>
                        <li>All Party Bookings Will Be Saved As Cash Trasactions.</li>
                        <li>DO NOT ENTER Any Credit Card Numbers Into The Notes. Please Provide Transaction Numbers Only</li>
                    </ul>
                </div>
            }
            <!-- DATE/TIME -->
            <div class="row">
                <div class="glow glow_blue">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label><i class="fa fa-calendar"></i>  When would you like your booking?</label><br />
                            <div class="col-sm-2">
                                @Html.TextBoxFor(model => model.RoomBooking.Date, "{0:MM/dd/yyyy}", new { @class = "form-control", id = "RoomSchedule", data_format = "MM/DD/YYYY" })
                                @Html.HiddenFor(model => model.RoomBooking.TimeSlotId)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h2 id="RoomDate" class="stircrazy"></h2>
                        <div id="progressbar" style="display: none">Checking Availability, Please Wait <img src="~/img/status-dots-anim.gif" alt="" /></div>
                        <div id="no-availability" class="party-disclaimer" style="display: none">We're Sorry No Available Rooms/timeslots Were Found For The Selected Date. Please Choose A Different Date And Try Again.</div>
                        <div id="availability" style="display: none">
                            @{ Html.RenderAction("Availability", new { searchDate = DateTime.Now.AddDays(3) }); }
                        </div>
                    </div>
                </div>
            </div>
            <!-- CUSTOMER INFORMATION -->
            <div class="row">
                <div class="glow glow_purple">
                    <div class="col-md-6" id="CustomerInformation">
                        <h2 class="stircrazy">Customer Information</h2>
                        <div class="form-group">
                            <div class="controls">
                                <label>First Name</label><br />
                                @Html.TextBoxFor(model => model.Customer.FirstName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Last Name</label><br />
                                @Html.TextBoxFor(model => model.Customer.LastName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Address</label><br />
                                @Html.TextBoxFor(model => model.Customer.Address, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>City</label><br />
                                @Html.TextBoxFor(model => model.Customer.City, new { @class = "form-control", data_geo = "locality" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Province</label><br />
                                <select id="Customer_Province" name="Customer.Province" class="form-control">
                                    <option value="">-- Choose --</option>
                                    <option value="Alberta">Alberta</option>
                                    <option value="British Columbia">British Columbia</option>
                                    <option value="Manitoba">Manitoba</option>
                                    <option value="New Brunswick">New Brunswick</option>
                                    <option value="New Foundland">New Foundland</option>
                                    <option value="Northwest Territories">Northwest Territories</option>
                                    <option value="Nova Scotia">Nova Scotia</option>
                                    <option value="Ontario">Ontario</option>
                                    <option value="Prince Edward Island">Prince Edward Island</option>
                                    <option value="Quebec">Quebec</option>
                                    <option value="Saskatchewan">Saskatchewan</option>
                                    <option value="Yukon Territories">Yukon Territories</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Postal Code</label><br />
                                @Html.TextBoxFor(model => model.Customer.PostalCode, new { @class = "form-control", data_geo = "postal_code" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Phone</label><br />
                                @Html.TextBoxFor(model => model.Customer.PhoneNumber, new { @class = "form-control bfh-phone", data_format = "+1 (ddd) ddd-dddd" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Email</label><br />
                                @Html.TextBoxFor(model => model.Customer.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Confirm Email</label><br />
                                <input type="text" id="Customer_Email_Confirm" name="Customer_Email_Confirm" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Special Instructions</label><br />
                                @Html.TextAreaFor(model => model.Notes, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="stircrazy">Room Rentals</h2>
                        <div class="party-disclaimer">
                            <p>This Page Is Specifically For Non Birthday Related Room Rentals!</p>
                            <ul>
                                <li>If You Wish To Rent A Room For A Birthday Party Please Do So Via Our "<a href="/Party/Create/4">Build Your Own Package" Page!</a></li>
                                <li>Before Reserving Your Room For An Event Please Email To <a href="mailto:partycoordinator@stircrazy.ca">partycoordinator@stircrazy.ca</a> To Have Your Use Approved!</li>
                                <li>If You Wish To Add Food To Your Rental Please Do So Via Our <a href="/GrabNGo/Create">"Grab And Go's"</a> Page.</li>
                                <li>If You Wish To Add Cupcakes Or Cakes To Your Rental Please Do So Via Our <a href="/Bakery">"Bakery Page"</a></li>
                                <li>Full Facility Rentals Also Available Email To <a href="mailto:partycoordinator@stircrazy.ca">partycoordinator@stircrazy.ca</a> for more information.</li>
                            </ul>
                        </div>
                        <br />
                        <p>
                            Room Rental Rates Are $100.00 For 90 Minutes And Are A Total Of 2.5 Hrs.<br />
                            2.5 hour reservation breaks down as follows
                        </p>
                        <ul>
                            <li>Check-In (30 min)</li>
                            <li>Room Time (90 min)</li>
                            <li>Check-Out (30 min)</li>
                        </ul>
                        <p>Available "In Room" Rental Times Are:</p>
                        <div class="row room-rental-times">
                            <div class="col-sm-4 text-right">
                                10:30 am - 12:00 pm<br />
                                12:30 pm - 2:00 pm<br />
                                2:30  pm - 4:00 pm<br />
                                4:30  pm - 6:00 pm<br />
                                6:30  pm - 8:00 pm
                            </div><br />
                        </div>
                        <ul>
                            <li>Applicable Admissions Are Not Included And Must Be Purchased In Addition To The Room Rental Fee.</li>
                            <li>Socks Are Required By All Stir Crazy Guest Including Adults And Babies!</li>
                            <li>We Are An Allergy Nut Aware Facility! Absolutely No Outside Food Or Beverage Is Permiited!</li>
                            <li>Complete List Of Facility Rules <a href="/Facility/Rules">Here</a></li>
                        </ul>
                        <div class="col-sm-12 yellow border-radius">
                            <!-- VALIDATION SUMMARY -->
                            <div id="ValidationSummary" class="col-sm-12 party-validations" style="display: none">
                                <strong>Your party booking contains the following errors:</strong>
                                <ul></ul>
                            </div>
                            <div class="col-xs-6">
                                <span class="stircrazy">Sub Total: <span id="SubTotal"></span></span>
                                <span class="stircrazy">GST (5%): <span id="GstTotal"></span></span>
                            </div>
                            <div class="col-xs-6">
                                <h1 class="stircrazy"><span id="FinalTotal"></span></h1>
                            </div>
                            <div class="form-group col-md-12">
                                <h4 class="stircrazy">Promotion Code / Gift Certificate</h4>
                                @Html.TextBoxFor(model => model.Promotion, new { @class = "form-control", style = "width: 50%; display: inline" })
                                <a id="PromotionCodeValidate" class="btn btn-default">Apply</a>
                                <span id="PromotionDescription" style="color: red; display: block"></span>
                            </div>
                            <div class="col-md-12 yellow border-radius" id="ManualTransaction" style="display: none">
                                @Html.HiddenFor(model => model.BypassPaypal)
                                <div class="form-group col-xs-4">
                                    <strong>Payment Method</strong>
                                    @Html.EnumDropDownListFor(model => model.PaymentTransaction.TransactionType, new { @class = "form-control", @style = "width: auto; display: inline" })<br />
                                </div>
                                <div class="form-group col-xs-8">
                                    <strong>Transaction Number (Credit Card/Paypal)</strong>
                                    @Html.TextBoxFor(model => model.PaymentTransaction.TransactionNumber, new { @class = "form-control" })<br />
                                </div>
                                <input type="submit" class="btn btn-rounded btn-default submit-btn" value="Complete">
                                <span class="submit-progress btn btn-rounded btn-default" style="display: none">
                                    @("Processing ")
                                    <img src="~/img/status-dots-anim.gif" alt="" />
                                </span>
                                @Html.ActionLink("Cancel", "Index", "Home", new { @class = "btn btn-rounded btn-default" })
                            </div>
                            <div class="col-md-12 yellow border-radius" id="PaypalTransaction">
                                <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" style="margin-right:7px; margin-top: 15px; vertical-align: middle" class="submit-btn">
                                <span class="submit-progress btn btn-rounded btn-default" style="display: none">
                                    @("Processing ")
                                    <img src="~/img/status-dots-anim.gif" alt="" />
                                </span>
                                @Html.ActionLink("Cancel", "Index", "Home", new { @class = "btn btn-rounded btn-default" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}