﻿@model IEnumerable<StirCrazy.Core.Domain.MediaFile>

@Styles.Render("~/Content/nivo-lightbox")
@Scripts.Render("~/bundles/nivo-lightbox")

<div class="row">
    <div class="glow glow_blue">
        <div class="col-sm-12">
            <h2 class="stircrazy">6 Private Party Rooms</h2>
            <p> 
                Celebrate your child's special day in one of our six private party rooms.
                Party rooms can be rented individually or as part of a package.
                <br />You can check availability, book online or email to <a href="mailto:partycoordinator@stircrazy.ca">partycoordinator@stircrazy.ca</a> for assistance.
                Visit our <a href="/Party/Packages">PARTY PACKAGES</a> for more information.
            </p>
        </div>
        <div class="col-sm-12 imagelightbox">
            <ul>
                @if (Model.Any())
                {
                    foreach (var galleryImage in Model)
                    {
                        <li>
                            <a href="@galleryImage.FilePath" title=""><img src="@galleryImage.ThumbnailPath" alt=""></a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
<script>
    $(function () { $('a').nivoLightbox(); });
</script>