﻿@using StirCrazy.Core.Utilities
@model StirCrazy.Admin.Models.Order.AnnualPassModel
<div class="row">
    <div class="glow glow_blue" style="color: #333;">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Order</strong> Overview</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <h1>Annual Pass Order</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <h1>@Model.PickUpDate.Date.ToString("ddd MMM dd, yyyy").ToUpper()</h1>
                                    <b>Pickup Time: </b><br /> @Model.PickUpTime.GetDisplayName()<br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="controls">
                                    @if (Model.Notes != null)
                                    {
                                        <strong>--- SPECIAL INSTRUCTIONS ---</strong><br /> @Model.Notes.ToUpper()
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Parent / Child</strong> Information</h3></div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="controls">
                                <h3>@Model.Customer.FullName</h3>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Address</label>
                            <div class="controls">
                                @Model.Customer.Address<br />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Phone Number</label>
                            <div class="controls">
                                @HtmlHelperExtensions.PhoneNumber(Model.Customer.PhoneNumber)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Email Address</label>
                            <div class="controls">
                                @Model.Customer.Email
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="controls">
                                <h3>@Model.Child.FullName</h3>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Gender</label>
                                <div class="controls">
                                    @Model.Child.Gender
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Age</label>
                                <div class="controls">
                                    @Model.Child.Age
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Payment</strong> Details</h3></div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <h4>SubTotal: $@Model.SubTotal.ToString("0.00")</h4>
                        @if (Model.Discount > 0)
                        {
                            <h4>Discount: -($@Model.Discount.ToString("0.00"))</h4>
                            <h6>Promotion: @Model.Promotion.ToUpper()</h6>
                        }
                        <h4>Tax: $@Model.Tax.ToString("0.00")</h4>
                        <h3>Total: $@Model.Total.ToString("0.00")</h3>
                    </div>
                    <div class="col-sm-12">
                        <h3>
                            @Model.PaymentTransaction.TransactionType.GetDisplayName().ToUpper()
                            @(" - ") @Model.PaymentTransaction.PaymentStatus.ToUpper()
                        </h3>
                        @if (!string.IsNullOrEmpty(Model.PaymentTransaction.TransactionNumber))
                        {
                            @Model.PaymentTransaction.TransactionNumber.ToUpper()
                        }
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Cancel</strong> Order</h3></div>
                <div class="panel-body">
                    <div id="packages-button" class="col-sm-12 alert alert-danger">
                        <p class="">
                            <strong>WARNING:</strong> Canceling this order cannot be undone. Do not forget to issue a refund for the cancellation.
                        </p>
                        @using (Html.BeginForm("Delete", "AnnualPass"))
                        {
                            @Html.HiddenFor(model => model.Id)
                            <input type="submit" value="Confirm" class="btn btn-default" />
                            @Html.ActionLink("Go Back", "Index", null, new { @class = "btn btn-default" })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

