﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js sidebar-large">
<!--<![endif]-->
<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow" />
    <title>Stir Crazy - Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <link rel="shortcut icon" href="/img/favicon.png">
    <!-- END META SECTION -->
    <!-- BEGIN MANDATORY STYLE -->
    @Styles.Render("~/Content/theme")
    @Styles.Render("~/Content/datetimepicker")
    <link href="/Content/colors/color-dark.css" rel="stylesheet" id="theme-color">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="/Scripts/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine:bold,bolditalic|Inconsolata:italic|Droid+Sans">
    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/datatable")
    <!-- END  MANDATORY STYLE -->
</head>
<body data-page="dashboard">
    <!-- BEGIN TOP MENU -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="menu-medium" class="sidebar-toggle tooltips">
                    <i class="fa fa-outdent"></i>
                </a>
                <a class="navbar-brand" href="/Home"></a>
            </div>
            <div class="navbar-center"></div>
            <div class="navbar-collapse collapse">
                <!-- BEGIN TOP NAVIGATION MENU -->
                <ul class="nav navbar-nav pull-right header-menu">
                    @Html.Partial("_LoginPartial")
                </ul>
                <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
    </nav>
    <!-- END TOP MENU -->
    <!-- BEGIN WRAPPER -->
    <div id="wrapper">
        <!-- BEGIN MAIN SIDEBAR -->
        <nav id="sidebar">
            <div id="main-menu">
                <ul class="sidebar-nav">
                    <li>
                        <a href="/Home"><i class="fa fa-dashboard"></i><span class="sidebar-text">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="/Announcement"><i class="fa fa-bullhorn"></i><span class="sidebar-text">Announcements</span></a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-clock-o"></i><span class="sidebar-text">Corporate Bookings</span><span class="fa arrow"></span>
                        </a>
                        <ul class="submenu collapse">
                            <li>
                                <a href="/CorporateEvents?status=0"><span class="sidebar-text">View Pending</span></a>
                            </li>
                            <li>
                                <a href="/CorporateEvents?status=1"><span class="sidebar-text">View Cancelled</span></a>
                            </li>
                            <li>
                                <a href="/CorporateEvents?status=2"><span class="sidebar-text">View All</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cutlery"></i><span class="sidebar-text">Bakery Orders</span><span class="fa arrow"></span>
                        </a>
                        <ul class="submenu collapse">
                            <li>
                                <a href="/Bakery?status=0"><span class="sidebar-text">View Pending</span></a>
                            </li>
                            <li>
                                <a href="/Bakery?status=1"><span class="sidebar-text">View Cancelled</span></a>
                            </li>
                            <li>
                                <a href="/Bakery?status=2"><span class="sidebar-text">View All</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-birthday-cake"></i><span class="sidebar-text">Party Orders</span><span class="fa arrow"></span>
                        </a>
                        <ul class="submenu collapse">
                            <li>
                                <a href="/Party?status=0"><span class="sidebar-text">View Pending</span></a>
                            </li>
                            <li>
                                <a href="/Party?status=1"><span class="sidebar-text">View Cancelled</span></a>
                            </li>
                            <li>
                                <a href="/Party?status=2"><span class="sidebar-text">View All</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-star-o"></i><span class="sidebar-text">Grab N Go Orders</span><span class="fa arrow"></span>
                        </a>
                        <ul class="submenu collapse">
                            <li>
                                <a href="/GrabNGo?status=0"><span class="sidebar-text">View Pending</span></a>
                            </li>
                            <li>
                                <a href="/GrabNGo?status=1"><span class="sidebar-text">View Cancelled</span></a>
                            </li>
                            <li>
                                <a href="/GrabNGo?status=2"><span class="sidebar-text">View All</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cube"></i><span class="sidebar-text">Room Rentals</span><span class="fa arrow"></span>
                        </a>
                        <ul class="submenu collapse">
                            <li>
                                <a href="/Room?status=0"><span class="sidebar-text">View Pending</span></a>
                            </li>
                            <li>
                                <a href="/Room?status=1"><span class="sidebar-text">View Cancelled</span></a>
                            </li>
                            <li>
                                <a href="/Room?status=2"><span class="sidebar-text">View All</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-edit"></i><span class="sidebar-text">Party Management</span><span class="fa arrow"></span>
                        </a>
                        <ul class="submenu collapse">
                            <li>
                                <a href="/PartyAddon"><span class="sidebar-text">Addons</span></a>
                            </li>
                            <li>
                                <a href="/PartyRoom"><span class="sidebar-text">Rooms</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Carousel"><i class="fa fa-camera"></i><span class="sidebar-text">Image Carousel</span></a>
                    </li>
                    <li>
                        <a href="/Calendar"><i class="fa fa-calendar"></i><span class="sidebar-text">Events Calendar</span></a>
                    </li>
                    <li>
                        <a href="/Media"><i class="fa fa-file"></i><span class="sidebar-text">Gallery Manager</span></a>
                    </li>
                    <li>
                        <a href="/Account/Customers"><i class="fa fa-users"></i><span class="sidebar-text">Customers</span></a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-area-chart"></i><span class="sidebar-text">Store Reports</span><span class="fa arrow"></span>
                        </a>
                        <ul class="submenu collapse">
                            <li>
                                <a href="/Reports/Monthly"><span class="sidebar-text">Monthly Overview</span></a>
                            </li>
                            <li>
                                <a href="/Reports/Packages"><span class="sidebar-text">Party Package Sales</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Account"><i class="fa fa-user"></i><span class="sidebar-text">Account Management</span></a>
                    </li>
                    <li class="m-b-245">
                        <a href="#">
                            <i class="fa fa-edit"></i><span class="sidebar-text">Configuration Settings</span><span class="fa arrow"></span>
                        </a>
                        <ul class="submenu collapse">
                            <li>
                                <a href="/Store"><span class="sidebar-text"><i class="fa fa-clock-o"></i> Store Hours / Holidays</span></a>
                            </li>
                            <li>
                                <a href="/Admission"><i class="fa fa-money"></i><span class="sidebar-text">Admission Rates</span></a>
                            </li>
                            <li>
                                <a href="/Promotion"><i class="fa fa-ticket"></i><span class="sidebar-text">Promotion Codes</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="footer-widget">
                @*@Html.Action("_SharedFooter", "Home")*@
                <div class="sidebar-footer clearfix">
                    <a class="pull-left" href="profil_edit.html" rel="tooltip" data-placement="top" data-original-title="Settings"><i class="glyph-icon flaticon-settings21"></i></a>
                    <a class="pull-left toggle_fullscreen" href="#" rel="tooltip" data-placement="top" data-original-title="Fullscreen"><i class="glyph-icon flaticon-fullscreen3"></i></a>
                    <a class="pull-left" href="lockscreen.html" rel="tooltip" data-placement="top" data-original-title="Lockscreen"><i class="glyph-icon flaticon-padlock23"></i></a>
                    <a class="pull-left" href="login.html" rel="tooltip" data-placement="top" data-original-title="Logout"><i class="fa fa-power-off"></i></a>
                </div>
            </div>
        </nav>
        <!-- END MAIN SIDEBAR -->
        <!-- BEGIN MAIN CONTENT -->
        <div id="main-content">
            @RenderBody()
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END WRAPPER -->
    <!-- BEGIN MANDATORY SCRIPTS -->
    @Scripts.Render("~/bundles/theme")
    @Scripts.Render("~/bundles/datetimepicker")
    <script type="text/javascript">
        $('.table-dynamic').dataTable();
    </script>

    <!-- END MANDATORY SCRIPTS -->
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    }
</body>
</html>

