﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li class="dropdown" id="user-header">
        <a href="#" class="dropdown-toggle c-white" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <img src="/img/avatars/avatar2.png" alt="user avatar" width="30" class="p-r-5">
            <span class="username">@User.Identity.Name</span>
            <i class="fa fa-angle-down p-r-10"></i>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="/Account/Manage/@User.Identity.GetUserId()">
                    <i class="glyph-icon flaticon-account"></i> My Profile
                </a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="fa fa-power-off"></i> Log off
                </a>
            </li>
        </ul>
    </li>
}
else
{
    <li class="dropdown" id="user-header">
        <a href="#" class="dropdown-toggle c-white" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="fa fa-angle-down p-r-10"></i>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="/Account/Login">
                    <i class="fa fa-power-off"></i> Login
                </a>
            </li>
        </ul>
    </li>
}
