﻿@model StirCrazy.Admin.Models.AnnouncementModel

@Styles.Render("~/Content/datetimepicker")
@Scripts.Render("~/bundles/datetimepicker")

<div class="col-lg-12">
    @using (Html.BeginForm("Create", "Announcement", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Announcment</strong> Details</h3></div>
                    <div class="panel-body">
                        <div class="row">
                            @Html.ValidationSummary(true)
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Image</label>
                                    <div class="controls">
                                        <input type="file" name="announcementImage" id="announcementImage" class="btn btn-default">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Message</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="DatePair">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>From</label>
                                    @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control date start" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Until</label>
                                    @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control date end" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                @Html.CheckBoxFor(model => model.IsPopup)
                                <label>Show As Popup</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="controls">
                                    <input type="submit" value="Save & Finish" class="btn btn-dark btn-rounded" />
                                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default btn-rounded" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script src="/Scripts/plugins/fullcalendar/moment.min.js" type="text/javascript"></script>
<script>
    var now = moment();
    $('#DatePair .date').datetimepicker({
        timepicker: false,
        format: 'm/d/Y',
        minDate: 0,
        inline: false,
        startDate: now.format('YYYY/MM/DD')
    });
</script>