﻿@model StirCrazy.Admin.Models.AnnouncementModel
           
@Styles.Render("~/Content/datetimepicker")
@Scripts.Render("~/bundles/datetimepicker")

<div class="col-lg-12">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Announcment</strong> Details</h3></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Message</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Message, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="ui-checkbox">
                                    <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off">
                                        Show As Popup
                                        @Html.CheckBoxFor(model => model.IsPopup)
                                    </label>
                                </div>
                            </div>
                            <div class="row" id="DatePair">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>From</label>
                                        @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control date start" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Until</label>
                                        @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control date end" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Helpful</strong> Information</h3></div>
                    <div class="panel-body">
                        <p>
                            Announcment are great for any package or booking, simply choose the type of addon you want then provide a name and price.
                            <br />Want this to be a free addon? No problem, just set the price to zero and you're done.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="controls">
                                <input type="submit" value="Save & Finish" class="btn btn-dark btn-rounded" />
                                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default btn-rounded" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script src="/Scripts/plugins/fullcalendar/moment.min.js" type="text/javascript"></script>
<script>
    var now = moment();
    $('#DatePair .date').datetimepicker({
        timepicker: false,
        format: 'm/d/Y',
        minDate: 0,
        inline: false,
        startDate: now.format('YYYY/MM/DD')
    });
</script>