﻿@model IEnumerable<StirCrazy.Admin.Models.AnnouncementModel>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading bg-dark">
            <h3 class="panel-title"><strong>Announcement </strong></h3> <a href="/Announcement/Create" class="btn btn-default btn-rounded btn-sm pull-right"><i class="fa fa-plus"></i> Announcement</a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive filter-right">
                    @if (!Model.Any())
                    {
                        <div class="alert bg-gray-light">
                            It doesn't look like you have any announcements currently.
                            <a href="/Announcement/Create">Create a new announcement?</a>
                        </div>
                    }
                    else
                    {
                        <table id="datatable" class="table table-striped table-hover table-dynamic table-dark dataTable">
                            <thead>
                                <tr>
                                    <th>Announcement</th>
                                    <th>Popup</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="@item.Id">
                                        <td>
                                            @if (item.IsImage)
                                            {
                                                <img src="@item.MediaFile.FilePath" width="150" height="150" /><br />
                                            }
                                            @Html.DisplayFor(model => item.Message)
                                        </td>
                                        <td>
                                            
                                            @(item.IsPopup ? "Yes" : "No")
                                            
                                        </td>
                                        <td class="text-right">
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <br />
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) <br />
                                            <a href="#" class="remove-item" data-id="@item.Id" data-url="/Announcement/Remove">Remove</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>