﻿@model StirCrazy.Admin.Models.Store.StoreHolidayModel
<div class="col-lg-12">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Store</strong> Holiday</h3></div>
                    <div class="panel-body">
                        <div class="row">
                            @Html.ValidationSummary(true)
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Date, new { @class = "form-control datepicker" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Holiday</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Holiday, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row" id="DatePair">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Open</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(model => model.OpenTime, new { @class = "form-control time start" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Close</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(model => model.ClosedTime, new { @class = "form-control time end" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-checkbox">
                                    <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off">
                                        Closed
                                        @Html.CheckBoxFor(model => model.IsClosed)
                                    </label>
                                </div>
                                <div class="ui-checkbox">
                                    <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off">
                                        Allow Scheduling
                                        @Html.CheckBoxFor(model => model.AllowScheduling)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Helpful</strong> Information</h3></div>
                    <div class="panel-body">
                        <p>
                            The backbone of any business starts by setting goals and successfully managing the ups and downs of daily operations.
                            You can define business hours for your store location easily by choosing a day of the week and clicking "edit" and update the
                            open and closed times.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="controls">
                                <input type="submit" value="Save & Finish" class="btn btn-dark btn-rounded" />
                                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default btn-rounded" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<link href="~/Scripts/plugins/jquery.timepicker/jquery.timepicker.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/plugins/jquery.timepicker/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/jquery.datepair/Datepair.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/jquery.datepair/jquery.datepair.js"></script>
<script>

    $('#DatePair .time').timepicker({
        'showDuration': true,
        'timeFormat': 'g:i A'
    });

    $('.time').timepicker('setTime', new Date(0, 0, 0, 0, 0, 0, 0));

    $('#DatePair').datepair();

    $('#IsClosed').click(function () {
        if ($('#IsClosed').is(':checked')) {
            $('.time').attr('disabled', 'disabled');
            return;
        }

        $('.time').removeAttr('disabled');
    });
</script>