﻿@using System.Globalization
@model StirCrazy.Admin.Models.Store.StoreModel

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading bg-dark">
            <h3 class="panel-title"><strong>Store </strong> hours</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive filter-right">
                    @if (!Model.StoreHours.Any())
                    {
                        <div class="alert bg-gray-light">
                            It doesn't look like you have any store hours currently.
                        </div>
                    }
                    else
                    {
                        <table class="table table-striped table-hover table-dark dataTable">
                            <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Open</th>
                                    <th>Close</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.StoreHours.OrderBy(x => x.Id))
                                {
                                    var startTime = DateTime.ParseExact(item.OpenTime, "HH:mm:ss", CultureInfo.InvariantCulture);
                                    var endTime = DateTime.ParseExact(item.ClosedTime, "HH:mm:ss", CultureInfo.InvariantCulture);
                                    
                                    <tr>
                                        <td>
                                            @item.DayOfWeek
                                        </td>
                                        <td>
                                            @(item.IsClosed ? "CLOSED" : DateTime.Today.Add(startTime.TimeOfDay).ToString("h:mm tt"))
                                        </td>
                                        <td>
                                            @(item.IsClosed ? "CLOSED" : DateTime.Today.Add(endTime.TimeOfDay).ToString("h:mm tt"))
                                        </td>
                                        <td style="width: 100px">
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading bg-dark">
            <h3 class="panel-title"><strong>Store </strong> holidays</h3> <a href="/Store/CreateHoliday" class="btn btn-default btn-rounded btn-sm pull-right"><i class="fa fa-plus"></i> Store Holiday</a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive filter-right">
                    @if (!Model.StoreHolidays.Any())
                    {
                        <div class="alert bg-gray-light">
                            It doesn't look like you have any store holidays currently.
                            <a href="/Store/CreateHoliday">Create new store holiday?</a>
                        </div>
                    }
                    else
                    {
                        <table id="datatable" class="table table-striped table-hover table-dynamic table-dark dataTable">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Open</th>
                                    <th>Close</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.StoreHolidays)
                                {
                                    var startTime = DateTime.ParseExact(item.OpenTime, "HH:mm:ss", CultureInfo.InvariantCulture);
                                    var endTime = DateTime.ParseExact(item.ClosedTime, "HH:mm:ss", CultureInfo.InvariantCulture);
                                    
                                    <tr id="@item.Id">
                                        <td>
                                            @item.Date.ToString("d")
                                        </td>
                                        <td>
                                            @(item.IsClosed ? "CLOSED" : DateTime.Today.Add(startTime.TimeOfDay).ToString("h:mm tt"))
                                        </td>
                                        <td>
                                            @(item.IsClosed ? "CLOSED" : DateTime.Today.Add(endTime.TimeOfDay).ToString("h:mm tt"))
                                        </td>
                                        <td style="width: 200px">
                                            <a href="#" class="remove-item" data-id="@item.Id" data-url="/Store/DeleteHoliday">Remove</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>