﻿@model StirCrazy.Models.Configuration.AppSettingsModel
@Styles.Render("~/Content/calendar")

<div class="row">
    <div class="glow_blue" style="padding: 10px; color: #333">
        <div class="glow_grey border-radius" style="text-align: center">
            <img id="progress" class="center-vertical" src="~/img/animate-starkid.gif" alt="Loading..." style="height: 90%; width: 90%; max-height: 175px; max-width: 520px;" />
            <div id='calendar'></div>
        </div>
    </div>
</div>
<div id="eventModal" class="modal fade" style="display:none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="eventTitle"></h4>
            </div>
            <div class="modal-body">
                <strong id="eventPeriod"></strong><br />
                <div id="eventInfo"></div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/calendar")
<script type='text/javascript'>

    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay',
            handleWindowResize: true
        },
        events: '/Calendar/Events',
        eventRender: function (event, element) {
            element.attr('href', 'javascript:void(0);'); //disable the event href
            element.click(function () {
                //set the values and open the modal
                $('#eventTitle').html(event.title);
                $("#eventPeriod").html(event.period);
                $("#eventInfo").html(event.description);
                $("#eventModal").modal({ modal: true, title: event.title });
            });
        },
        loading: function (bool) {
            if (bool) {
                $("#progress").show();
                $("#calendar").css({ "visibility": "hidden" });
            } else {
                $("#progress").hide();
                $("#calendar").css({ "visibility": "visible" });
            }
        }
    });

    function openModal(title, info, url, start, end) {
        if (start && start != 'null') {
            $("#startTime").html("Start: " + moment(start).format('MMMM Do YYYY, h:mm:ss a') + "<br />");
        } else {
            $("#startTime").html(""); //no start (huh?) clear out previous info.
        }
        if (end && end != 'null') {
            $("#endTime").html("End: " + moment(end).format('MMMM Do YYYY, h:mm:ss a') + "<br /><br />");
        } else {
            $("#endTime").html(""); //no end. clear out previous info.
        }
        if (title && title != 'null') {
            $("#eventTitle").html(title);
        } else {
            $("#startTime").html(""); //no start (huh?) clear out previous info.
        }
        $("#eventInfo").html(info);
        $("#eventContent").dialog({ modal: true, title: title, width: 350 });
    }

</script>