/*------------------------------------------------------------------------------------*/
/*------------------------------  YOUR CUSTOM CSS STYLE  -----------------------------*/

input[type="file"] {
    display: inline;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.panel-stat a {
    text-decoration: none;
    color: #fff;
}

.tab-pane {
    min-height: 400px;
}

.upload {
    line-height: 4;
}

.ui-radio label {
    height: 56px;
    line-height: 56px;
    padding-left: 20px;
}

.ui-radio label {
    height: 56px;
    line-height: 56px;
    padding-left: 20px;
}

.ui-radio .ui-btn.ui-radio-off:after {
    background-image: none;
    width: 26px;
    height: 26px;
    border: 2px solid #6E7983;
    margin-top: -13px;
}

.ui-radio .ui-btn.ui-radio-on:after {
    background-color: #86D51C;
    width: 14px;
    height: 14px;
    margin-top: -6px;
    margin-left: 10px;
    border: 0;
}

.ui-radio .ui-btn.ui-radio-on:before {
    content: "";
    position: absolute;
    display: block;
    border: 2px solid #6E7983;
    border-radius: 50%;
    background-color: transparent;
    width: 26px;
    height: 26px;
    margin-top: 14px;
    margin-left: -39px;
}

.sortable div {
    margin: 3px;
    padding: 1px;
}

#datatable_length select.input-sm {
    height: 40px;
}

.party-validations {
    color: red;
}

/* ========================================================
    Edible Arrangements
   ======================================================== */
div.edible-arrangement {
    margin: 5px;
}

.edible-arrangement {
    display: block;
    width: 150px;
    height: 150px;
    border-color: #eee;
    border: 0.625em solid rgba( 255, 255, 255, .5 );
    -ms-border-radius: 15px;
    border-radius: 15px;
}

.col-wrap div:nth-child(3n+1) {
    clear: left;
}

/* ========================================================
    Party / Packages
   ======================================================== */

.party-disclaimer {
    background-color: #faef23;
    color: #333;
    padding: 5px;
    margin: 5px;
    -ms-border-radius: 15px;
    border-radius: 15px;
}

    .party-disclaimer a {
        color: #333;
    }

.party-validations {
    background-color: #faef23;
    color: #f32034;
    padding: 5px;
    margin: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.party-times {
    background: #f7f7f7;
    padding: 8px;
    margin: 4px;
}

    .party-times > li {
        display: block;
        zoom: 1;
        *display: block;
        /* this fix is needed for IE7- */
    }

.party-room a {
    margin: 5px;
    display: inline-block;
    line-height: 0.8;
    vertical-align: middle;
}

.party-room span {
    color: #333;
    font-size: 0.8em;
    display: inline-block;
    margin: 5px;
    line-height: 0.8;
    vertical-align: middle;
}

.package-includes {
    background-color: #faef23;
    color: #333;
    padding: 5px;
    margin: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.package-quantity {
    font-weight: bold;
}

.package-validate {
    color: #f32034;
}

.form-control {
    margin: 2px;
}

/* ========================================================
    Base Styles
   ======================================================== */

.rocknroll-red {
    background-color: #FFC8C8 !important;
    width: 2px !important;
}

.outrageous-orange {
    background-color: #FFE1C6 !important;
    width: 2px !important;
}

.bebop-blue {
    background-color: #CEDEF4 !important;
    width: 2px !important;
}

.playful-purple {
    background-color: #D7D1F8 !important;
    width: 2px !important;
}

.mellow-yellow {
    background-color: #FFF7B7 !important;
    width: 2px !important;
}

.sublime-lime {
    background-color: #B3FF99 !important;
    width: 2px !important;
}

#main-content {
    padding: 80px 20px;
}

.payment-total {
    background-color: #eee;
    -ms-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}