﻿@model StirCrazy.Admin.Models.Calendar.CalendarEventModel

<div class="col-lg-12">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Edit</strong> Event</h3></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Title</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Location</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <div class="controls">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", style = "width: 300px" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Start</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Start, new { @class = "form-control datetimepicker" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>End</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.End, new { @class = "form-control datetimepicker" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="controls">
                                        <input type="submit" value="Save & Finish" class="btn btn-dark btn-rounded" />
                                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default btn-rounded" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
