﻿@using StirCrazy.Core.Domain.Calendar
@model List<CalendarItem>
<div class="col-lg-12">
    <h2><strong>Calendar</strong> events</h2>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading bg-dark">
            <h3 class="panel-title"><strong>Calendar </strong> events</h3> <a href="/Calendar/Create" class="btn btn-default btn-rounded btn-sm pull-right"><i class="fa fa-plus"></i> New Event</a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive filter-right">
                    @if (Model == null)
                    {
                        <div class="alert bg-gray-light">
                            It doesn't look like you have any events.
                            <a href="/Calendar/Create">Create a new event?</a>
                        </div>
                    }
                    else
                    {
                        <table id="datatable" class="table table-striped table-hover table-dynamic table-dark dataTable">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Start</th>
                                    <th>From</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CalendarItem item in Model)
                                {
                                    var Event = item;
                                    
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => Event.Subject)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => Event.StartTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => Event.EndTime)
                                        </td>
                                        <td class="text-right">
                                            @*@Html.ActionLink("Edit", "Edit", new { id = Event.ItemId }) <br />
                                            @Html.ActionLink("Details", "Details", new { id = Event.ItemId }) <br />
                                            @Html.ActionLink("Remove", "Delete", new { id = Event.ItemId })*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>