﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <title>Stir Crazy Family Fun Centre - Calgary, Alberta</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="description" content="Stir Crazy Family Fun Centre. We are one of Calgary's largest Indoor Play & Party Centre dedicated to providing a clean, safe and FUN environment for all ages." />
        <meta name="keywords" content="indoor playground, kids birthday parties, play centre, tommy k play, shakers, fun, book online, cupcakes, bakery, cake, stircrazy, family fun, playground" />
        <!-- Google Authorship and Publisher Markup -->
        <link rel=" author" href="https://plus.google.com/u/0/114983863500593297725/posts" />
        <link rel="publisher" href="https://plus.google.com/u/0/114983863500593297725/about" />
        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="Stir Crazy Family Fun Centre - Calgary, Alberta" />
        <meta itemprop="description" content="Stir Crazy Family Fun Centre. We are one of Calgary's largest Indoor Play & Party Centre dedicated to providing a clean, safe and FUN environment for all ages." />
        <meta itemprop="image" content="https://www.stircrazyfamilyfun.com/img/scffc_logo-big.png" />
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@("@")stircrazyffc" />
        <meta name="twitter:title" content="Stir Crazy Family Fun Centre - Calgary, Alberta" />
        <meta name="twitter:description" content="Stir Crazy Family Fun Centre. We are one of Calgary's largest Indoor Play & Party Centre dedicated to providing a clean, safe and FUN environment for all ages." />
        <meta name="twitter:image:src" content="https://www.stircrazyfamilyfun.com/img/scffc_logo-big.png" />
        <meta name="twitter:domain" content="stircrazyfamilyfun.com" />
        <meta name="twitter:app:name:iphone" content="" />
        <meta name="twitter:app:name:ipad" content="" />
        <meta name="twitter:app:name:googleplay" content="" />
        <meta name="twitter:app:url:iphone" content="" />
        <meta name="twitter:app:url:ipad" content="" />
        <meta name="twitter:app:url:googleplay" content="" />
        <meta name="twitter:app:id:iphone" content="" />
        <meta name="twitter:app:id:ipad" content="" />
        <meta name="twitter:app:id:googleplay" content="" />
        <!-- Open Graph data -->
        <meta property="og:title" content="Stir Crazy Family Fun Centre - Calgary, Alberta" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://www.stircrazyfamilyfun.com/" />
        <meta property="og:image" content="https://www.stircrazyfamilyfun.com/img/scffc_logo-big.png" />
        <meta property="og:description" content="Stir Crazy Family Fun Centre. We are one of Calgary's largest Indoor Play & Party Centre dedicated to providing a clean, safe and FUN environment for all ages." />
        <meta property="og:site_name" content="Stir Crazy Family Fun Center" />
        <meta property="article:published_time" content="2014-10-09T05:59:00+01:00" />
        <meta property="article:modified_time" content="2014-10-09T19:08:47+01:00" />
        <meta property="fb:admins" content="556356909" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css' />
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css" rel="stylesheet" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
        @Styles.Render("~/Content/css")
        <!--[if (gte IE 6)&(lte IE 8)]>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
        <![endif]-->
        <!--[if IE]><div style='clear: both; height: 112px; padding:0; position: relative;'>
                        <a href="http://www.theie8countdown.com/ie-users-info">
                            <img src="http://www.theie8countdown.com/assets/badge_iecountdown.png" height="112" width="348" alt="" />
                        </a>
                    </div>
        <![endif]-->
    </head>
<body>
    <div id="fb-root"></div>
    <div class="container-fluid">
        <div id="starkids" class="row">
            <div id="balloons" class="row">
                <div id="stircrazy" class="container">
                    <header>
                        <div class="row">
                            <a href="/" class="col-xs-4 stircrazy-logo"></a>
                            <ul id="marquee" class="col-xs-6 marquee pull-right"></ul>
                        </div>
                        <div class="row">
                            <nav class="navigation">
                                <div role="navigation" class="navbar navbar-default">
                                    <div class="navbar-header">
                                        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a href="#" class="navbar-brand">Main Menu</a>
                                    </div>
                                    <div class="navbar-collapse collapse">
                                        <ul class="nav navbar-nav">
                                            <li><a href="/">Home</a></li>
                                            <li><a href="/Admission">Admission</a></li>
                                            <li class="dropdown">
                                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Facility<b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="/Facility/">Attractions</a></li>
                                                    <li><a href="/Facility/ConcessionCounter">Concession Counter</a></li>
                                                    <li><a href="/Facility/ParentTot">Parent & Tot Lounge</a></li>
                                                    <li><a href="/Facility/Rules">Rules</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown">
                                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Party Services<b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="/Party/Packages">Party Packages</a></li>
                                                    <li><a href="/Party/Create/4">Build You Own Package</a></li>
                                                    <li><a href="/Party/Themes">Party Themes</a></li>
                                                    <li><a href="/Room/Index">Party Rooms</a></li>
                                                    <li><a href="/Room/Create">Room Rentals</a></li>
                                                    <li><a href="/Bakery/CakePans">Cake Pan Rentals</a></li>
                                                    <li><a href="/Bakery/Create">Order Cake/Cupcakes</a></li>
                                                    <li><a href="/GrabNGo/Create">Order Grab N Go's</a></li>
                                                    @*<li><a href="/AnnualPass/Create">Order Annual Passes</a></li>*@
                                                </ul>
                                            </li>
                                            <li><a href="/Calendar">Calendar</a></li>
                                            <li><a href="/Bakery">Bakery</a></li>
                                            <li><a href="/Home/About">About us</a></li>
                                            <li><a href="/Home/Contact">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </header>
                    @RenderBody()
                    <footer>
                        <div class="row footer">
                            <div class="col-sm-12 col-md-4">
                                <h2>Latest Updates</h2>
                                @Html.Action("_FacebookFeed", "Home")
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <h2>Find us on</h2>
                                <div>
                                    <a href="http://www.pinterest.com/stircrazyffc/" title="Stir Crazy - Pinterest"><span class="fa fa-pinterest-square fa-4x"></span></a>
                                    <a href="http://www.linkedin.com/company/stir-crazy-family-fun-centre-calgary" title="Stir Crazy - LinkedIn"><span class="fa fa-linkedin-square fa-4x"></span></a>
                                    <a href="http://twitter.com/STIRCRAZYFFC" title="Stir Crazy - Twitter"><span class="fa fa-twitter-square fa-4x"></span></a>
                                    <a href="https://instagram.com/stircrazyffc" title="Stir Crazy - Instagram" target="_blank"><span class="fa fa-instagram fa-4x"></span></a>
                                    <a href="https://www.facebook.com/pages/STIR-CRAZY-FAMILY-FUN-CENTRE/114429461907045" title="Stir Crazy - Facebook"><span class="fa fa-facebook-square fa-4x"></span></a>
                                    <a href="http://stircrazyshell.wordpress.com" title="Stir Crazy - Wordpress"><span class="fa fa-share-alt-square fa-4x"></span></a>
                                </div>
                                <h2>OUR NEWSLETTER</h2>
                                <div>
                                    <a href="http://visitor.r20.constantcontact.com/manage/optin?v=001Ns2TWA-HiamCh0Sgv5P33c8-PqXyCOLxkSAi4mHOQ5U6f02v9YLqP4MMXZrJoVxr83eWxluWf3PCG_GaB6mH29XvRzUuPib46-EE5Q_2bLQ%3D" target="_blank" class="btn glow_yellow" style="margin-left: 25px">SUBSCRIBE</a>
                                </div>

                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div id="HoursOfOperation">
                                    @Html.Action("_BusinessHours", "Home")
                                </div>
                                <br /><hr class="dashed" /><br />
                                <div class="footer-logo">
                                    <img src="/img/logo-small.png" alt="Convenient, Affordable and FUN!" />
                                    <p>
                                        Convenient, Affordable and FUN!<br />
                                        <small>Drop in to play or book your party online TODAY!</small>
                                    </p>
                                </div>
                                <div>
                                    <a href="#" onclick="window.open('https://www.sitelock.com/verify.php?site=stircrazyfamilyfun.com','SiteLock','width=600,height=600,left=160,top=170');"><img alt="website security" title="SiteLock" src="//shield.sitelock.com/shield/stircrazyfamilyfun.com" class="pull-right" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 copyright">
                                Stir Crazy Family Fun Centre™<br />
                                3355 Sunridge Way NE Calgary, AB T1Y 7H5
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/stircrazy")
    
    <!-- GOOGLE ANALYTICS -->
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-27499747-1', 'auto');
    ga('send', 'pageview');

    </script>

</body>
</html>