﻿@model StirCrazy.Admin.Models.Addons.AddonModel

<div class="col-lg-12">
    <h2><strong>Party</strong> Addons</h2>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Addon</strong> Details</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Type</label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.AddonType)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.Name)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Price</label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.Price)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Helpful</strong> Information</h3></div>
                <div class="panel-body">
                    <p>
                        Party addons are great for any package or booking, simply choose the type of addon you want then provide a name and price.
                        <br />Want this to be a free addon? No problem, just set the price to zero and you're done.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>