﻿@model List<StirCrazy.Admin.Models.Addons.AddonModel>

<div class="col-lg-12">
    <h2><strong>Party</strong> Addons</h2>
    <p>
        Party Addons manage things such as cupcake flavours, party themes and package accessories. Use party addons to create and control what options are available to your end-users. 
    </p>
    <div class="panel panel-default">
        <div class="panel-heading bg-dark">
            <h3 class="panel-title"><strong>Party </strong> addons</h3> <a href="/PartyAddon/Create" class="btn btn-default btn-rounded btn-sm pull-right"><i class="fa fa-plus"></i> Party Addon</a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive filter-right">
                    @if (!Model.Any())
                    {
                        <div class="alert bg-gray-light">
                            It doesn't look like you have any party addons currently.
                            <a href="/PartyAddon/Create">Create a new party addon?</a>
                        </div>
                    }
                    else
                    {
                        <table id="partyaddons" class="table table-striped table-hover table-dark dataTable">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="addons">
                                @foreach (var item in Model.OrderBy(x => x.Index))
                                {
                                    <tr id="@item.Id">
                                        <td>
                                            @Html.DisplayFor(model => item.AddonType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.Price)
                                        </td>
                                        <td class="text-right">
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    
    $('#partyaddons').dataTable({ "bPaginate": false });

    $(document).ready(function () {
        $("#addons").sortable({
            stop: function (event, ui) {
                var pages = [];
                $(this).children().each(function (index) {
                    pages.push({
                        'id': $(this).attr('id'),
                        'order': index
                    });
                });

                $.post("/PartyAddon/UpdateIndex", { 'jsonRequest': JSON.stringify(pages) }, "json");
            }
        });
    });
</script>