﻿@model StirCrazy.Admin.Models.Reporting.TotalsModel

<div class="footer-gradient"></div>
<div id="sidebar-charts">
    <div class="sidebar-charts-inner">
        <div class="sidebar-charts-left">
            <div class="sidebar-chart-title">Orders</div>
            <div class="sidebar-chart-number">$@Model.YearToDate</div>
        </div>
        <div class="sidebar-charts-right" class="sparkline mini-chart" data-type="bar" data-color="theme">
            <span class="dynamicbar1"></span>
        </div>
    </div>
    <hr class="divider">
    <div class="sidebar-charts-inner">
        <div class="sidebar-charts-left">
            <div class="sidebar-chart-title">Income</div>
            <div class="sidebar-chart-number">$@Model.YearToDate</div>
        </div>
        <div class="sidebar-charts-right" class="sparkline mini-chart" data-type="bar" data-color="theme">
            <span class="dynamicbar2"></span>
        </div>
    </div>
</div>
