﻿@using StirCrazy.Core.Domain.Orders
@using StirCrazy.Core.Utilities
@model List<StirCrazy.Admin.Models.Dashboard.OrderViewModel>

<div class="col-lg-12">
    <h2>Welcome, @User.Identity.Name</h2>
    <div class="panel panel-default">
        <div class="panel-heading bg-dark">
            <h3 class="panel-title"><strong>Overview </strong> Dashboard</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive filter-right">
                    @if (!Model.Any())
                    {
                        <div class="alert bg-gray-light">
                            It doesn't look like you have any orders currently.
                        </div>
                    }
                    else
                    {
                        <table id="datatable" class="table table-dynamic table-dark dataTable">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Type</th>
                                    <th>Room</th>
                                    <th>Description</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="@HtmlCssHelper.RoomColor((item.Booking != null) ? item.Booking.PartyRoomId : 0)">
                                        <td>
                                            @item.ScheduledDate
                                        </td>
                                        <td>
                                            @item.ScheduledTime
                                        </td>
                                        <td>
                                            @item.Type.GetDisplayName()
                                        </td>
                                        <td>
                                            @if (item.Booking != null)
                                            {
                                                @item.Booking.PartyRoom.Name @(" ")
                                            }
                                            @if (item.Type == OrderType.CorporateEvent)
                                            {
                                                @("- Facility -")
                                            }
                                        </td>
                                        <td>
                                            @if (item.Package != null)
                                            {
                                                @item.Package.Name
                                            }
                                        </td>
                                        <td>
                                            @(!string.IsNullOrEmpty(item.Customer.BusinessName) ? item.Customer.BusinessName : item.Customer.FullName)
                                        </td>
                                        <td>
                                            @item.Customer.Address<br />
                                            @item.Customer.City,
                                            @item.Customer.Province
                                        </td>
                                        <td>
                                            @item.Customer.PhoneNumber
                                        </td>
                                        <td>
                                            @item.Customer.Email
                                        </td>

                                        <td>
                                            $@item.Total
                                        </td>
                                        <td>
                                            @item.Status
                                        </td>
                                        <td>
                                            @{
                                            string controller;

                                            switch (item.Type)
                                            {
                                                case OrderType.Bakery:
                                                    controller = "Bakery";
                                                    break;

                                                case OrderType.CorporateEvent:
                                                    controller = "CorporateEvents";
                                                    break;

                                                case OrderType.GrabNGo:
                                                    controller = "GrabNGo";
                                                    break;

                                                case OrderType.Party:
                                                    controller = "Party";
                                                    break;

                                                case OrderType.Room:
                                                    controller = "Room";
                                                    break;

                                                default:
                                                    controller = "Party";
                                                    break;
                                            }
                                            }

                                            <a href="@Url.Action("Details", controller, new { id = item.Id })">Details</a><br />
                                            <a href="@Url.Action("Print", controller, new { id = item.Id })">Print</a><br />
                                            <a href="@Url.Action("Download", controller, new { id = item.Id })">Download</a><br />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>