﻿@model StirCrazy.Models.Order.AnnualPassModel

@Styles.Render("~/Content/datetimepicker")
@Scripts.Render("~/bundles/datetimepicker")

@using (Html.BeginForm("Create", "AnnualPass", FormMethod.Post, new { @id = "AnnualPassOrder", data_submitted = "" }))
{
    @Html.HiddenFor(model => model.SubTotal, new { @id = "OrderSubTotal" })
    @Html.HiddenFor(model => model.Tax, new { @id = "OrderTaxTotal" })
    @Html.HiddenFor(model => model.Total, new { @id = "OrderTotal", data_adjustment = "", data_adjustment_type = "" })

    <div class="row">
        <div class="glow glow_blue" style="color: #333;">
            <div class="row">
                <!-- PARENT / CHILD INFORMATION -->
                <div class="row">
                    <div class="glow glow_purple border-radius">
                        <h1 class="stircrazy">Annual Pass</h1>
                        <div class="col-md-6" id="CustomerInformation">
                            <h2 class="stircrazy">Parent Information</h2>
                            <div class="form-group">
                                <div class="controls">
                                    <label>First Name</label><br />
                                    @Html.TextBoxFor(model => model.Customer.FirstName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Last Name</label><br />
                                    @Html.TextBoxFor(model => model.Customer.LastName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Address</label><br />
                                    @Html.TextBoxFor(model => model.Customer.Address, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>City</label><br />
                                    @Html.TextBoxFor(model => model.Customer.City, new { @class = "form-control", data_geo = "locality" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Province</label><br />
                                    <select id="Parent_Province" name="Parent.Province" class="form-control">
                                        <option value="">-- Choose --</option>
                                        <option value="Alberta">Alberta</option>
                                        <option value="British Columbia">British Columbia</option>
                                        <option value="Manitoba">Manitoba</option>
                                        <option value="New Brunswick">New Brunswick</option>
                                        <option value="New Foundland">New Foundland</option>
                                        <option value="Northwest Territories">Northwest Territories</option>
                                        <option value="Nova Scotia">Nova Scotia</option>
                                        <option value="Ontario">Ontario</option>
                                        <option value="Prince Edward Island">Prince Edward Island</option>
                                        <option value="Quebec">Quebec</option>
                                        <option value="Saskatchewan">Saskatchewan</option>
                                        <option value="Yukon Territories">Yukon Territories</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Postal Code</label><br />
                                    @Html.TextBoxFor(model => model.Customer.PostalCode, new { @class = "form-control", data_geo = "postal_code" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Phone</label><br />
                                    @Html.TextBoxFor(model => model.Customer.PhoneNumber, new { @class = "form-control bfh-phone", data_format = "+1 (ddd) ddd-dddd" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Email</label><br />
                                    @Html.TextBoxFor(model => model.Customer.Email, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Confirm Email</label><br />
                                    <input type="text" id="Customer_Email_Confirm" name="Customer_Email_Confirm" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2 class="stircrazy">Child Information</h2>
                            <div class="row" id="ChildInformation">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>First Name</label><br />
                                        @Html.TextBoxFor(model => model.Child.FirstName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Last Name</label><br />
                                        @Html.TextBoxFor(model => model.Child.LastName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label>Age</label><br />
                                        @Html.TextBoxFor(model => model.Child.Age, new { @class = "form-control", style = "width: 45px" })
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Gender</label><br />
                                        @Html.EnumDropDownListFor(model => model.Child.Gender, "-- Choose --", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label><i class="fa fa-calendar"></i>  Choose A Pickup Date</label><br />
                                    @Html.TextBoxFor(model => model.PickUpDate, "{0:MM/DD/YYYY}", new { @class = "form-control", id = "PickUpDate", data_format = "MM/DD/YYYY" })
                                </div>
                                <div class="col-sm-6">
                                    <label><i class="fa fa-clock-o"></i>  Pick A Time Of Day</label><br />
                                    @Html.EnumDropDownListFor(model => model.PickUpTime, "-- Choose --", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <!-- SPECIAL INSTRUCTIONS -->
                <div class="col-md-6">
                    <div class="form-group">
                        <h3 class="stircrazy">Order Notes</h3>
                        @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", style = "min-height: 150px" })
                    </div>
                </div>
                <div class="col-md-6 yellow border-radius">
                    <!-- VALIDATION SUMMARY -->
                    <div id="ValidationSummary" class="col-sm-12 party-validations" style="display: none">
                        <strong>Your Order Contains The Following Errors:</strong>
                        <ul></ul>
                    </div>
                    <div class="form-group col-md-6">
                        <h4 class="stircrazy">Promotion Code / Gift Certificate</h4>
                        @Html.TextBoxFor(model => model.Promotion, new { @class = "form-control", style = "width: 50%; display: inline" })
                        <a id="PromotionCodeValidate" class="btn btn-default">Apply</a>
                        <span id="PromotionDescription" style="color: red; display: block"></span>
                    </div>
                    <div class="col-md-6">
                        <h4 class="stircrazy">Sub Total: <span id="SubTotal"></span></h4>
                        <h4 class="stircrazy">Discount: <span id="Discount"></span></h4>
                        <h4 class="stircrazy">GST (5%): <span id="GstTotal"></span></h4>
                    </div>
                    <div class="col-md-6">
                        <h3 class="stircrazy">Total<br /> <span id="FinalTotal"></span></h3>
                    </div>
                    <div class="col-md-12 yellow border-radius" id="ManualTransaction" style="display: none">
                        @Html.HiddenFor(model => model.BypassPaypal)
                        <div class="form-group col-md-4" style="color: #333;">
                            <strong>Payment Method</strong>
                            @Html.EnumDropDownListFor(model => model.PaymentTransaction.TransactionType, new { @class = "form-control col-sm-6" })<br />
                        </div>
                        <div class="form-group col-md-8" style="color: #333;">
                            <strong>Transaction Number (Credit Card/Paypal)</strong>
                            @Html.TextBoxFor(model => model.PaymentTransaction.TransactionNumber, new { @class = "form-control col-sm-6" })<br />
                        </div>
                        <input type="submit" class="btn btn-rounded btn-default submit-btn" value="Complete">
                        <span class="submit-progress btn btn-rounded btn-default" style="display: none">
                            @("Processing ")
                            <img src="~/img/status-dots-anim.gif" alt="" />
                        </span>
                        <a href="/" class="btn btn-rounded btn-default">Cancel</a>
                        <a href="/" class="btn btn-rounded btn-default">Cancel</a>
                    </div>
                    <div class="col-md-12 yellow border-radius" id="PaypalTransaction">
                        <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" style="margin-right:7px; margin-top: 15px; vertical-align: middle" class="submit-btn">
                        <span class="submit-progress btn btn-rounded btn-default" style="display: none">
                            @("Processing ")
                            <img src="~/img/status-dots-anim.gif" alt="" />
                        </span>
                        <a href="/" class="btn btn-rounded btn-default">Cancel</a>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
}
        @Scripts.Render("~/bundles/stircrazy-order-admission")
