﻿@model StirCrazy.Core.Domain.AppSetting

<div class="col-lg-12">
    <h2><strong>Admission</strong> Rate</h2>
    <p>
        [Admission description]
    </p>
    <br>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Admission</strong> Rate</h3></div>
                <div class="panel-body">
                    <div class="row">
                        @Html.ValidationSummary(true)
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Type</label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.Type, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.Meta, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Price</label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.Value, "0.00", new { @class = "form-control", placeholder = "0.00" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Helpful</strong> Information</h3></div>
                <div class="panel-body">
                    <p>
                        Easily configure admission rates by creating a new admission rate or modifying an existing one.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="controls">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.Id)
                                <input type="submit" value="Save & Finish" class="btn btn-dark btn-rounded" />
                                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default btn-rounded" })
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
