﻿@model IEnumerable<StirCrazy.Core.Domain.AppSetting>

<div class="col-lg-12">
    <h2><strong>Admission</strong> rates</h2>
    <p>
        [Admission description]
    </p>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading bg-dark">
            <h3 class="panel-title"><strong>Admission </strong> rate</h3> <a href="/Admission/Create" class="btn btn-default btn-rounded btn-sm pull-right"><i class="fa fa-plus"></i> Admission Rate</a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive filter-right">
                    @if (!Model.Any())
                    {
                        <div class="alert bg-gray-light">
                            It doesn't look like you have any admission currently.
                            <a href="/Admission/Create">Create a new admission rate?</a>
                        </div>
                    }
                    else
                    {
                        <table id="datatable" class="table table-striped table-hover table-dynamic table-dark dataTable">
                            <thead>
                                <tr>
                                    <th>Admission</th>
                                    <th>Rate</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => item.Meta)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.Value)
                                        </td>
                                        <td class="text-right">
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <br />
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) <br />
                                            @Html.ActionLink("Remove", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>