﻿@using StirCrazy.Core.Constants
@model StirCrazy.Admin.Models.Upload.UploadModel
<div class="col-sm-9 col-md-10">
    <div class="row">
        <h1><i class="fa fa-archive"></i> Gallery Manager</h1>
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Upload</strong> Media</h3></div>
            <div class="panel-body">
                <div class="row">
                    @using (Html.BeginForm("Index", "Media", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="file" name="uploadImage" id="uploadImage" multiple="true" class="btn btn-default">
                        @Html.EnumDropDownListFor(model => model.UploadFolder, "-- Choose Folder --", new { @class = "form-control", style = "width: auto" })
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-plus"></i> Upload
                        </button>
                    }
                </div>
            </div>
        </div>

        <br />

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="tabs">
            <li class="active"><a href="#Tab0" role="tab" data-toggle="tab">Uploads</a></li>
            <li><a href="#Tab1" role="tab" data-toggle="tab">Cakes</a></li>
            <li><a href="#Tab2" role="tab" data-toggle="tab">Playground & Facility</a></li>
            <li><a href="#Tab3" role="tab" data-toggle="tab">Concession</a></li>
            <li><a href="#Tab4" role="tab" data-toggle="tab">Tot Lounge</a></li>
            <li><a href="#Tab5" role="tab" data-toggle="tab">Rooms</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="Tab0">
                @if (Model.MediaFiles.Any(x => x.UploadFolder == UploadFolder.Default))
                {
                    foreach (var file in Model.MediaFiles.Where(x => x.UploadFolder == UploadFolder.Default).OrderBy(y => y.Index))
                    {
                        <span class="col-sm-6 col-md-2 col-lg-2 text-center" id="@file.Id" style="margin: 3px">
                            <img src="@file.ThumbnailPath" width="140" height="90" />
                            <a href="#" class="remove-item btn btn-default" data-id="@file.Id" data-url="/Media/Remove" style="margin-top: 3px">Remove</a>
                        </span>
                    }
                }
                else
                {
                    <div class="alert alert-info">No Media Found.</div>
                }
            </div>
            <div class="tab-pane" id="Tab1">
                @if (Model.MediaFiles.Any(x => x.UploadFolder == UploadFolder.Cakes))
                {
                    foreach (var file in Model.MediaFiles.Where(x => x.UploadFolder == UploadFolder.Cakes).OrderBy(y => y.Index))
                    {
                        <span class="col-sm-6 col-md-2 col-lg-2 text-center" id="@file.Id" style="margin: 3px">
                            <img src="@file.ThumbnailPath" width="140" height="90" />
                            <a href="#" class="remove-item btn btn-default" data-id="@file.Id" data-url="/Media/Remove" style="margin-top: 3px">Remove</a>
                        </span>
                    }
                }
                else
                {
                    <div class="alert alert-info">No Cake Media Found.</div>
                }
            </div>
            <div class="tab-pane" id="Tab2">
                @if (Model.MediaFiles.Any(x => x.UploadFolder == UploadFolder.Facility))
                {
                    foreach (var file in Model.MediaFiles.Where(x => x.UploadFolder == UploadFolder.Facility).OrderBy(y => y.Index))
                    {
                        <span class="col-sm-6 col-md-2 col-lg-2 text-center" id="@file.Id" style="margin: 3px">
                            <img src="@file.ThumbnailPath" width="140" height="90" />
                            <a href="#" class="remove-item btn btn-default" data-id="@file.Id" data-url="/Media/Remove" style="margin-top: 3px">Remove</a>
                        </span>
                    }
                }
                else
                {
                    <div class="alert alert-info">No Playground Media Found.</div>
                }
            </div>
            <div class="tab-pane" id="Tab3">
                @if (Model.MediaFiles.Any(x => x.UploadFolder == UploadFolder.ConcessionCounter))
                {
                    foreach (var file in Model.MediaFiles.Where(x => x.UploadFolder == UploadFolder.ConcessionCounter).OrderBy(y => y.Index))
                    {
                        <span class="col-sm-6 col-md-2 col-lg-2 text-center" id="@file.Id" style="margin: 3px">
                            <img src="@file.ThumbnailPath" width="140" height="90" />
                            <a href="#" class="remove-item btn btn-default" data-id="@file.Id" data-url="/Media/Remove" style="margin-top: 3px">Remove</a>
                        </span>
                    }
                }
                else
                {
                    <div class="alert alert-info">No Facility Media Found.</div>
                }
            </div>
            <div class="tab-pane" id="Tab4">
                @if (Model.MediaFiles.Any(x => x.UploadFolder == UploadFolder.ParentTotLounge))
                {
                    foreach (var file in Model.MediaFiles.Where(x => x.UploadFolder == UploadFolder.ParentTotLounge).OrderBy(y => y.Index))
                    {
                        <span class="col-sm-6 col-md-2 col-lg-2 text-center" id="@file.Id" style="margin: 3px">
                            <img src="@file.ThumbnailPath" width="140" height="90" />
                            <a href="#" class="remove-item btn btn-default" data-id="@file.Id" data-url="/Media/Remove" style="margin-top: 3px">Remove</a>
                        </span>
                    }
                }
                else
                {
                    <div class="alert alert-info">No Facility Media Found.</div>
                }
            </div>
            <div class="tab-pane" id="Tab5">
                @if (Model.MediaFiles.Any(x => x.UploadFolder == UploadFolder.PartyRooms))
                {
                    foreach (var file in Model.MediaFiles.Where(x => x.UploadFolder == UploadFolder.PartyRooms).OrderBy(y => y.Index))
                    {
                        <span class="col-sm-6 col-md-2 col-lg-2 text-center" id="@file.Id" style="margin: 3px">
                            <img src="@file.ThumbnailPath" width="140" height="90" />
                            <a href="#" class="remove-item btn btn-default" data-id="@file.Id" data-url="/Media/Remove" style="margin-top: 3px">Remove</a>
                        </span>
                    }
                }
                else
                {
                    <div class="alert alert-info">No Party Room Media Found.</div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $("select[name=UploadFolder] option:last").remove();
        setTab();

        $(document).on('click', '#tabs a', function () {
            var item = $(this).attr("href").substring(4);

            $("select[name=UploadFolder]").find('option').each(function (i, opt) {
                if (opt.value === item)
                    $(opt).attr('selected', 'selected');
            });
        });

        $("body #UploadFolder").on({
            change: changeTab,
            click: changeTab
        });

        function changeTab() {
            $('#tabs a[href="#Tab' + $(this).val() + '"]').tab('show');
        }

        function setTab() {
            var selected = $("select[name=UploadFolder]").attr("value");
            $('#tabs a[href="#Tab' + selected + '"]').tab('show');
        }

        $("#Tab5").sortable({
            stop: function (event, ui) {
                var pages = [];
                $(this).children().each(function (index) {
                    pages.push({
                        'id': $(this).attr('id'),
                        'order': index
                    });
                });

                $.post("/Media/UpdateIndex", { 'jsonRequest': JSON.stringify(pages) }, "json");
            }
        });

        $("#Tab4").sortable({
            stop: function (event, ui) {
                var pages = [];
                $(this).children().each(function (index) {
                    pages.push({
                        'id': $(this).attr('id'),
                        'order': index
                    });
                });

                $.post("/Media/UpdateIndex", { 'jsonRequest': JSON.stringify(pages) }, "json");
            }
        });

        $("#Tab3").sortable({
            stop: function (event, ui) {
                var pages = [];
                $(this).children().each(function (index) {
                    pages.push({
                        'id': $(this).attr('id'),
                        'order': index
                    });
                });

                $.post("/Media/UpdateIndex", { 'jsonRequest': JSON.stringify(pages) }, "json");
            }
        });

        $("#Tab2").sortable({
            stop: function (event, ui) {
                var pages = [];
                $(this).children().each(function (index) {
                    pages.push({
                        'id': $(this).attr('id'),
                        'order': index
                    });
                });

                $.post("/Media/UpdateIndex", { 'jsonRequest': JSON.stringify(pages) }, "json");
            }
        });

        $("#Tab1").sortable({
            stop: function (event, ui) {
                var pages = [];
                $(this).children().each(function (index) {
                    pages.push({
                        'id': $(this).attr('id'),
                        'order': index
                    });
                });

                $.post("/Media/UpdateIndex", { 'jsonRequest': JSON.stringify(pages) }, "json");
            }
        });

        $("#Tab0").sortable({
            stop: function (event, ui) {
                var pages = [];
                $(this).children().each(function (index) {
                    pages.push({
                        'id': $(this).attr('id'),
                        'order': index
                    });
                });

                $.post("/Media/UpdateIndex", { 'jsonRequest': JSON.stringify(pages) }, "json");
            }
        });
    });
</script>