﻿@using StirCrazy.Core.Domain.Orders
@using StirCrazy.Core.Domain.Party
@using StirCrazy.Core.Utilities
@model StirCrazy.Admin.Models.Order.GrabNGoModel

<div class="col-lg-12">
    <h2><strong>Grab N Go</strong> Order</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Order</strong> Overview</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <h1>Grab N Go's Order</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <h1>@Model.PickUpDate.Date.ToString("ddd MMM dd, yyyy").ToUpper()</h1>
                                    <b>Pickup Time: </b><br /> @Model.PickUpTime.GetDisplayName()<br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="controls">
                                    @if (Model.Notes != null)
                                    {
                                        <br /> @Html.Raw(Model.Notes.Replace(Environment.NewLine, "<br/>"))
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Customer</strong> Information</h3></div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="controls">
                                <h3>@Model.Customer.FullName</h3>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Address</label>
                            <div class="controls">
                                @Model.Customer.Address<br />
                                @Model.Customer.City
                                @Model.Customer.Province,
                                @Model.Customer.PostalCode
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Phone Number</label>
                            <div class="controls">
                                @Model.Customer.PhoneNumber
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Email Address</label>
                            <div class="controls">
                                @Model.Customer.Email
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Payment</strong> Details</h3></div>
                <div class="panel-body">
                    <div class="col-xs-12 col-md-12">
                        <h1 class="payment-total">$@Model.Total.ToString("0.00")</h1>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <span>Sub-total <strong class="pull-right">$@Model.SubTotal.ToString("0.00")</strong></span><br />
                        <span>GST <strong class="pull-right">$@Model.Tax.ToString("0.00")</strong></span><br />
                        @if (Model.Discount > 0)
                        {
                            <br />
                            <span>Discount <strong class="pull-right">$@Model.SubTotal.ToString("0.00")</strong></span><br />
                            <span>Promotion <strong class="pull-right">$@Model.SubTotal.ToString("0.00")</strong></span><br />
                        }

                        @if (Model.PaymentTransaction != null)
                        {
                            <br />
                            <span>Payment <strong class="pull-right">@Model.PaymentTransaction.TransactionType.GetDisplayName() - @Model.PaymentTransaction.PaymentStatus</strong></span><br />
                            <span>Transaction <strong class="pull-right">@(Model.PaymentTransaction.TransactionNumber ?? "Not Applicable")</strong></span><br />
                            <span>Status <strong class="pull-right">@Model.Status</strong></span><br />
                        }
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Thank You For Ordering!</h2>
                    <p>
                        Your order is on it's way to our team and we look forward to seeing you soon,
                        you should get a confirmation email from us shortly.<br />
                        Should you wish to change your order please feel free to email us at partycoordinator@("@")stircrazy.ca.
                    </p>
                    <div id="packages-button" class="col-sm-12">
                        <a href="@Url.Action("Save", "GrabNGo", new RouteValueDictionary { { "Id", @Model.Id } })" target="_blank">Download PDF</a><br />
                        <a href="@Url.Action("Print", "GrabNGo", new RouteValueDictionary { { "Id", @Model.Id } })" target="_blank">Print Confirmation</a><br />
                        @if (Model.Status != OrderStatus.Cancelled)
                        {
                            <a href="@Url.Action("Delete", "GrabNGo", new RouteValueDictionary { { "Id", @Model.Id } })" class="btn btn-default btn-rounded">Cancel Order</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Order</strong> Details</h3></div>
                <div class="panel-body">
                    @if (Model.OrderAddons.Any(x => (x.Addon.AddonType == AddonType.FoodPlatter) || (x.Addon.AddonType == AddonType.FoodPizza) || (x.Addon.AddonType == AddonType.Beverage)))
                    {
                        <h3>Party Food</h3>
                        foreach (var addon in Model.OrderAddons.Where(x => (x.Addon.AddonType == AddonType.FoodPlatter) || (x.Addon.AddonType == AddonType.FoodPizza) || (x.Addon.AddonType == AddonType.Beverage)))
                        {
                            @addon.Quantity @(" - ") @addon.Addon.Name @(" ($") @addon.Addon.Price @(" ea)")<br />
                        }

                        <br /><span class="pull-right">Total: @string.Format("{0:c}", Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.FoodPlatter || x.Addon.AddonType == AddonType.FoodPizza || x.Addon.AddonType == AddonType.Beverage).Sum(y => y.Quantity * y.Addon.Price)))</span><br />
                    }
                    @if (Model.OrderAddons.Any(x => (x.Addon.AddonType == AddonType.FoodPlatter) || (x.Addon.AddonType == AddonType.FoodPizza) || (x.Addon.AddonType == AddonType.Beverage)))
                    {
                        <h3>Edible Arrangements</h3>
                        foreach (var addon in Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.EdibleArrangement))
                        {
                            @addon.Quantity @(" - ") @addon.Addon.Name @(" ($") @addon.Addon.Price @(" ea)")<br />
                        }

                        <br /><span class="pull-right">Total: @string.Format("{0:c}", Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.EdibleArrangement).Sum(y => y.Quantity * y.Addon.Price)))</span><br />
                    }

                    @if (Model.OrderAddons.Any(x => (x.Addon.AddonType == AddonType.LootBag) || (x.Addon.AddonType == AddonType.LootBagDeluxe)))
                    {
                        <h3>Loot Bags</h3>
                        foreach (var addon in Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.LootBag))
                        {
                            @addon.Quantity @(" - ") @addon.Addon.Name @(" ($") @addon.Addon.Price @(" ea)")<br />
                        }
                        foreach (var addon in Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.LootBagDeluxe))
                        {
                            @addon.Quantity @(" - ") @addon.Addon.Name @(" ($") @addon.Addon.Price @(" ea)")<br />
                        }

                        <br /><span class="pull-right">Total: @string.Format("{0:c}", Model.OrderAddons.Where(x => (x.Addon.AddonType == AddonType.LootBag) || (x.Addon.AddonType == AddonType.LootBagDeluxe)).Sum(y => y.Quantity * y.Addon.Price)))</span><br />
                    }

                    @if (Model.OrderAddons.Any(x => (x.Addon.AddonType == AddonType.BalloonDeluxe || x.Addon.AddonType == AddonType.BalloonMylar || x.Addon.AddonType == AddonType.BalloonLatex || x.Addon.AddonType == AddonType.BalloonLatexThemed)))
                    {
                        <h3>Party Balloons</h3>
                        if (Model.OrderAddons.Any(x => (x.Addon.AddonType == AddonType.BalloonDeluxe)))
                        {
                            <strong>SuperShape Balloons</strong>
                            <span class="pull-right">@string.Format("{0:c}", Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.BalloonDeluxe).Sum(y => y.Quantity * y.Addon.Price))</span>
                            <br />

                            foreach (var addon in Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.BalloonDeluxe))
                            {
                                @addon.Quantity @(" - ") @addon.Addon.Name @(" ($")  @addon.Addon.Price @(" ea)")<br />
                            }

                            <br />
                        }

                        if (Model.OrderAddons.Any(x => (x.Addon.AddonType == AddonType.BalloonMylar)))
                        {
                            <strong>18" Mylar Balloons</strong>
                            <span class="pull-right">@string.Format("{0:c}", Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.BalloonMylar).Sum(y => y.Quantity * y.Addon.Price))</span>
                            <br />

                            foreach (var addon in Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.BalloonMylar))
                            {
                                @addon.Quantity @(" - ") @addon.Addon.Name @(" ($")  @addon.Addon.Price @(" ea)")<br />
                            }

                            <br />
                        }

                        if (Model.OrderAddons.Any(x => (x.Addon.AddonType == AddonType.BalloonLatex)))
                        {
                            <strong>Latex Balloons</strong>
                            <span class="pull-right">@string.Format("{0:c}", Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.BalloonLatex).Sum(y => y.Quantity * y.Addon.Price))</span>
                            <br />

                            foreach (var addon in Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.BalloonLatex))
                            {
                                @addon.Quantity @(" - ") @addon.Addon.Name @(" ($")  @addon.Addon.Price @(" ea)")<br />
                            }

                            <br />
                        }

                        if (Model.OrderAddons.Any(x => (x.Addon.AddonType == AddonType.BalloonLatexThemed)))
                        {
                            <strong>Themed Latex Balloons</strong>
                            <span class="pull-right">@string.Format("{0:c}", Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.BalloonLatexThemed).Sum(y => y.Quantity * y.Addon.Price))</span>
                            <br />

                            foreach (var addon in Model.OrderAddons.Where(x => x.Addon.AddonType == AddonType.BalloonLatexThemed))
                            {
                                @addon.Quantity @(" - ") @addon.Addon.Name @(" ($")  @addon.Addon.Price @(" ea)")<br />
                            }

                            <br />
                        }

                        <br />
                        <span class="pull-right">Total: @string.Format("{0:c}", Model.OrderAddons.Where(x => (x.Addon.AddonType == AddonType.BalloonDeluxe || x.Addon.AddonType == AddonType.BalloonMylar || x.Addon.AddonType == AddonType.BalloonLatex || x.Addon.AddonType == AddonType.BalloonLatexThemed)).Sum(y => y.Quantity * y.Addon.Price))</span>
                        <br />
                    }
                </div>
            </div>
        </div>
    </div>
</div>

