﻿@using StirCrazy.Core.Utilities
@model IEnumerable<StirCrazy.Admin.Models.Order.GrabNGoModel>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading bg-dark">
            <h3 class="panel-title"><strong>Grab N Go </strong> Orders</h3> <a href="/GrabNGo/Create" class="btn btn-default btn-rounded btn-sm pull-right"><i class="fa fa-plus"></i> Grab N Go</a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive filter-right">
                    @if (!Model.Any())
                    {
                        <div class="alert bg-gray-light">
                            It doesn't look like you have any bakery orders currently.
                        </div>
                    }
                    else
                    {
                        <table id="datatable" class="table table-striped table-hover table-dynamic table-dark dataTable">
                            <thead>
                                <tr>
                                    <th>Pickup</th>
                                    <th>Fullname</th>
                                    <th>Address</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th>Created</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.PickUpDate.Date.ToString("MMM dd, yyyy")<br />
                                            @item.PickUpTime.GetDisplayName()
                                        </td>
                                        <td>
                                            @item.Customer.FullName
                                        </td>
                                        <td>
                                            @item.Customer.Address<br />
                                            @item.Customer.City,
                                            @item.Customer.Province
                                            @item.Customer.PostalCode
                                        </td>
                                        <td>
                                            @item.Customer.PhoneNumber
                                        </td>
                                        <td>
                                            @item.Customer.Email
                                        </td>
                                        <td>
                                            @item.Total
                                        </td>
                                        <td>
                                            @item.Status
                                        </td>
                                        <td>
                                            @item.CreatedBy
                                        </td>
                                        <td>
                                            @Html.ActionLink("Details", "Details", new { id = item.Id })<br />
                                            @Html.ActionLink("Print", "Print", new { id = item.Id })<br />
                                            @Html.ActionLink("Download", "Save", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>