﻿<div class="page-break"></div>
<div class="floating-div floating-div-left">
    <h3>All Inclusive Packages: Terms & Conditions</h3>
    <ul>
        <li>
            All Party Bookings Are 2.5 Hours In Length. First 30 Minutes Check In And Play,
            Next 90 Minutes Party Room And Continued Play Time, Last 30 Minutes Checkout And Play.
            You Are Welcome To Stay And Play Past Your Checkout Time Provided We Are Not At Capacity.
        </li>
        <li>All Room Capacities Hold A Maximum Of 25 Total Guests With Exception Of The Lime Room Which Holds 30 Guests.</li>
        <li>Total Guest Count Includes Adults And Babies And Cannot Exceed Room Capacity.</li>
        <li>Additional Package Guests Are $22.99 Each.</li>
        <li>Additional Guest Price Covers All Applicable Package Guest Inclusions.</li>
        <li>Up To 7 Additional Package Guests Allowed.</li>
        <li>Adults And Babies Under 1 Are Free!</li>
        <li>You Are Welcome To Bring Your Own Cake However No Credit Will Be Applied To The Already Discounted Package Price!</li>
        <li>We Are A Nut And Allergy Aware Facility!</li>
        <li>With The Exception Of Birthday Cakes Absolutely No Outside Food Or Beverage Permitted!</li>
        <li>Cakes Of Any Kind Are Only Permitted With The Rental Of A Private Room!</li>
        <li>Cakes Of Any Kind Are Not Permitted In The Common Area!</li>
        <li>Cakes Requiring Refrigeration Or That Contain Ice Cream Or Nut Products Are Not Permitted!</li>
        <li>Additional Food Trays Are $30 And Must Be Ordered 2 Days In Advance.</li>
        <li>Party Room Coolers And Tabs Are Available On Party Day For Additional Food & Beverage Purchases.</li>
        <li>Guests Purchasing Package #1 Or #2 Are Welcome To Bring In Their Own Non Stir Crazy Loot Bags And Themed Place Settings With No Surcharges Applied.</li>
        <li>Outside Balloons Are Welcomed But A Surcharge Is Applicable For Package #1</li>
        <li>No Credits Will Be Applied To The Already Discounted Package Price When Choosing To Bring In Your Own Loot Bags, Themed Place Settings Or Balloons!</li>
        <li>No Helium Tanks Permitted On Site!</li>
        <li>Non Stir Crazy Or Outside Loot Bags May Not Contain Gum, Food, Nut Products, Noise Makers Or Other Items That May Cause Potential Damage To The Facility Or Pose A Risk Or Disturbance To Other Facility Guests.</li>
        <li>Absolutely No Decorations Are Permitted To Be Attached To The Walls, Ceiling, Facility Or Furnishings.</li>
        <li>Absolutley No Pinatas!</li>
        <li>Special Requests Welcome.</li>
        <li>Prices And Package Content Are Subject To Substitution Or Change Without Notice!</li>
        <li>Birthday Upgrades And Add-ons Available.</li>
        <li>Socks Are Required For All Stir Crazy Guests Including Adults And Babies!</li>
        <li>Socks Are Available For Purchase.</li>
        <li>Complete List Of Facility Rules At <a href="www.stircrazyfamilyfun.com/facility/rules">www.stircrazyfamilyfun.com</a></li>
    </ul>
</div>
<div class="floating-div floating-div-right">
    <h3>Party Changes/Requests:</h3>
    <ul>
        <li>All Party Changes/requests Must Be Submitted via Email to <a href="mailto:partycoordinator@stircrazy.ca">partycoordinator@("@")stircrazy.ca</a></li>
        <li>Only Changes Received to the Party Coordinator Email Will Be Considered.</li>
        <li>Any and All Party Changes Must Be Received No Less than 2 Days Prior to Your Party Date!</li>
    </ul>
    <br />
    <h3>Cancellation Policy:</h3>
    <ul>
        <li>Cancellations Made More than 5 Days Prior to the Scheduled Booking Date Will Receive a Full Refund.</li>
        <li>Cancellations Within 4 Days of the Booking Date Will Receive a Full Refund Less a $75.00 Cancellation Fee.</li>
        <li>Cancellations Made Within 72 Hours of the Booking Date Will Receive a Full Refund Less a $100.00 Cancellation Fee.</li>
        <li>Cancellations Made Within 48 Hours or Less of the Booking Date Are Not Entitled to a Refund.</li>
    </ul>
    <p>NO EXCEPTIONS AT ALL TO THE ABOVE POLICY!</p>
    <br />
    <h3>Party Rescheduling Policy:</h3>
    <ul>
        <li>Parties Wishing to Reschedule Within 5 Days of the Original Party Date May Do so Without Incurring Rescheduling or Administration Fees.</li>
        <li>Parties Wishing to Reschedule Within 4 Days of the Original Party Date Will Incur a $50.00 Administration Fee and Be Required to Cover the Cost of Any Food And/or Product Already Purchased And/or Prepared for the Original Event Date.</li>
        <li>Note Rescheduled Parties Forfeit the Right to Future Cancellations or Refunds.</li>
    </ul>
    <p>NO EXCEPTIONS AT ALL TO THE ABOVE POLICY!</p>
</div>