﻿@using StirCrazy.Core.Domain.Party
@model StirCrazy.Models.Order.GrabNGoModel

@Styles.Render("~/Content/datetimepicker")
@Scripts.Render("~/bundles/datetimepicker")
@Scripts.Render("~/bundles/stircrazy-party-grabngo")
@{
    int index = 0;
}
@using (Html.BeginForm("Create", "GrabNGo", FormMethod.Post, new { @id = "GrabNGoOrder", data_submitted = "" }))
{
    @Html.HiddenFor(model => model.SubTotal, new { @id = "OrderSubTotal" })
    @Html.HiddenFor(model => model.Tax, new { @id = "OrderTaxTotal" })
    @Html.HiddenFor(model => model.Total, new { @id = "OrderTotal", data_adjustment = "", data_adjustment_type = "" })
    
    <div class="row">
        <div class="glow glow_blue" style="color: #333;">
            <div class="row">
                <div class="glow glow_purple border-radius">
                    <h1 class="stircrazy">Grab N Go's</h1>
                    <p>
                        Stir Crazy Party Services Are Also Available For Off-site Celebrations!<br />
                        Simply Select A Pick Up Date And Time And Then Select From The List Of Available Services.
                    </p>
                    <div class="party-disclaimer">
                        <strong>!- IMPORTANT: GRAB N GO ORDERS -!</strong>
                        <ul>
                            <li>Grab N Go Orders Require Pick Up And Are For Off Site Celebrations Only!</li>
                            <li>If You Are Seeking To Build A Party Package To Celebrate On Site at Stir Crazy Please Go to The <a href="/Party/Create/4">Build Your Own Party Packages</a> Page to Book.</li>
                            <li>If You Are Looking To Add On To An Existing Party Please Email To <a href="mailto:partycoordinator@stircrazy.ca">partycoordinator@stircrazy.ca</a></li>
                            <li>If You Wish To Place A Bakery Order Please Do So Via Our <a href="/Bakery">Bakery</a> Or <a href="/Bakery/Create">Order Cakes and Cupcakes</a> Pages</li>
                        </ul>
                    </div>
                    <!-- CUSTOMER INFORMATION -->
                    <h2 class="stircrazy">Customer Information</h2>
                    <div class="col-md-6" id="CustomerInformation">
                        <div class="form-group">
                            <div class="controls">
                                <label>First Name</label><br />
                                @Html.TextBoxFor(model => model.Customer.FirstName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Last Name</label><br />
                                @Html.TextBoxFor(model => model.Customer.LastName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Address</label><br />
                                @Html.TextBoxFor(model => model.Customer.Address, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>City</label><br />
                                @Html.TextBoxFor(model => model.Customer.City, new { @class = "form-control", data_geo = "locality" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Province</label><br />
                                <select id="Customer_Province" name="Customer.Province" class="form-control">
                                    <option value="">-- Choose --</option>
                                    <option value="Alberta">Alberta</option>
                                    <option value="British Columbia">British Columbia</option>
                                    <option value="Manitoba">Manitoba</option>
                                    <option value="New Brunswick">New Brunswick</option>
                                    <option value="New Foundland">New Foundland</option>
                                    <option value="Northwest Territories">Northwest Territories</option>
                                    <option value="Nova Scotia">Nova Scotia</option>
                                    <option value="Ontario">Ontario</option>
                                    <option value="Prince Edward Island">Prince Edward Island</option>
                                    <option value="Quebec">Quebec</option>
                                    <option value="Saskatchewan">Saskatchewan</option>
                                    <option value="Yukon Territories">Yukon Territories</option>
                                </select>                            
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Postal Code</label><br />
                                @Html.TextBoxFor(model => model.Customer.PostalCode, new { @class = "form-control", data_geo = "postal_code" })
                            </div>
                        </div>
                    </div>
                    <!-- DATE/TIME -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="controls">
                                <label>Phone</label><br />
                                @Html.TextBoxFor(model => model.Customer.PhoneNumber, new { @class = "form-control bfh-phone", data_format = "+1 (ddd) ddd-dddd" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Email</label><br />
                                @Html.TextBoxFor(model => model.Customer.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls">
                                <label>Confirm Email</label><br />
                                <input type="text" id="Customer_Email_Confirm" name="Customer_Email_Confirm" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label><i class="fa fa-calendar"></i>  Choose A Pickup Date</label><br />
                                @Html.TextBoxFor(model => model.PickUpDate, "{0:MM/DD/YYYY}", new { @class = "form-control", id = "PickUpDate", data_format = "MM/DD/YYYY" })
                            </div>
                            <div class="col-sm-6">
                                <label><i class="fa fa-clock-o"></i>  Pick A Time Of Day</label><br />
                                @Html.EnumDropDownListFor(model => model.PickUpTime, "-- Choose --", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row" id="BakerySection">
                <div class="glow glow_orange border-radius">
                    <h2 class="stircrazy">PARTY FOOD</h2>
                    <!-- FOOD PLATTERS -->
                    @if (Model.Addons.Any(x => x.AddonType == AddonType.FoodPlatter))
                    {
                        <div class="col-sm-12 col-md-6" id="AddonFoodPlatter">
                            <h3 class="stircrazy">Food Platters</h3>
                            <div class="form-group">

                                @for (int i = 0; i < Model.Addons.Count; i++)
                                {
                                    if (Model.Addons[i].AddonType == AddonType.FoodPlatter)
                                    {
                                        @Html.Hidden("OrderAddons[" + index + "].Id", Model.Addons[i].Id)
                                        @Html.Hidden("OrderAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                        @Html.Hidden("OrderAddons[" + index + "].Name", Model.Addons[i].Name)
                                        @Html.Hidden("OrderAddons[" + index + "].Price", Model.Addons[i].Price)
                                        @Html.Hidden("OrderAddons[" + index + "].IsIncluded", false)
                                        @Html.TextBox("OrderAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 40px", @class = "form-control calculated", data_price = Model.Addons[i].Price, pattern = "[0-9]*" })
                                        @Model.Addons[i].Name
                                        @(" ($")@Model.Addons[i].Price@(")")<br />
                                        index++;
                                    }
                                }
                                <br />Food Platter(s): <strong><span class="additional-total"></span></strong>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <br />
            <!-- EDIBLE ARRANGMENTS -->
            <div class="row" id="AddonEdibleArrangements">
                @if (Model.AddonGroups.Any())
                {
                    <!-- EDIBLE ARRANGEMENTS -->
                    <div class="glow glow_purple border-radius">
                        <div class="col-sm-12">
                            <h3 class="stircrazy">Edible Arrangements</h3>
                            <p>
                                We Partner With Our Good Friends At Edible Arrangements® Mckenzie Towne To Offer You A Selection Of Mouth Watering Fruit Bouquets.
                                Don't See The Arrangement Of Your Choice Here? Email To <a href="mailto:partycoordinator@stircrazy.ca">partycoordinator@stircrazy.ca</a> To Request Any Bouquet Listed On The Edible Arrangement® Website!
                            </p><br />
                            <div class="form-group col-wrap">
                                @foreach (var addonGroup in Model.AddonGroups)
                                {
                                    <div class="col-sm-12 col-md-4 text-center" style="margin-bottom: 5px; min-height: 230px">
                                        <img src="~/img/edible-arrangements/@Html.Raw(addonGroup.Id)@(".jpg")" class="center edible-arrangement" />
                                        <br />@addonGroup.Name<br />
                                        @foreach (var addon in addonGroup.Addons)
                                        {
                                            @Html.Hidden("OrderAddons[" + index + "].Id", addon.Id)
                                            @Html.Hidden("OrderAddons[" + index + "].AddonType", addon.AddonType)
                                            @Html.Hidden("OrderAddons[" + index + "].Name", addon.Name)
                                            @Html.Hidden("OrderAddons[" + index + "].Price", addon.Price)
                                            @Html.Hidden("OrderAddons[" + index + "].IsIncluded", false)
                                            @Html.TextBox("OrderAddons[" + index + "].Quantity", addon.Quantity, new { @style = "width: 45px", @class = "form-control calculated", data_price = addon.Price, pattern = "[0-9]*" })
                                            <span style="width: 50px; display: inline-block">@Html.Raw(addon.Size)</span>
                                            @(" ($")@addon.Price@(")")<br />
                                            index++;
                                        }

                                    </div>
                                }
                                <div style="clear:both;padding-top: 10px;padding-left: 10px;"></div>
                                Edible Arrangement(s): <strong><span class="additional-total"></span></strong>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br />
            <div class="row">
                <div class="glow glow_red border-radius">
                    <h2 class="stircrazy">PARTY ADDONS</h2>
                    <!-- LOOT BAGS -->
                    @if (Model.Addons.Any(x => x.AddonType == AddonType.LootBag || x.AddonType == AddonType.LootBagDeluxe))
                    {
                        <div class="col-sm-12 col-md-9" id="AddonLootBag">
                            <h3 class="stircrazy">Get Some Loot Bag(s)</h3>
                            <p>
                                Stir Crazy Loot Bags Are Low In Sugar And High In Fun And Include An Assortment Of Fun Quality Items Kids Love!
                            </p><br />
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <h4 class="stircrazy">Standard Loot Bags</h4>
                                    @for (int i = 0; i < Model.Addons.Count; i++)
                                    {
                                        if (Model.Addons[i].AddonType == AddonType.LootBag)
                                        {
                                            @Html.Hidden("OrderAddons[" + index + "].Id", Model.Addons[i].Id)
                                            @Html.Hidden("OrderAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                            @Html.Hidden("OrderAddons[" + index + "].Name", Model.Addons[i].Name)
                                            @Html.Hidden("OrderAddons[" + index + "].Price", Model.Addons[i].Price)
                                            @Html.Hidden("OrderAddons[" + index + "].IsIncluded", false)
                                            @Html.TextBox("OrderAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 45px", @class = "form-control calculated", pattern = "[0-9]*", data_price = Model.Addons[i].Price })
                                            @Model.Addons[i].Name
                                            @(" ($")
                                            @Model.Addons[i].Price
                                            @(")")<br />
                                            index++;
                                        }
                                    }
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="stircrazy">Stir Crazy Loot Bags</h4>
                                    @for (int i = 0; i < Model.Addons.Count; i++)
                                    {
                                        if (Model.Addons[i].AddonType == AddonType.LootBagDeluxe)
                                        {
                                            @Html.Hidden("OrderAddons[" + index + "].Id", Model.Addons[i].Id)
                                            @Html.Hidden("OrderAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                            @Html.Hidden("OrderAddons[" + index + "].Name", Model.Addons[i].Name)
                                            @Html.Hidden("OrderAddons[" + index + "].Price", Model.Addons[i].Price)
                                            @Html.Hidden("OrderAddons[" + index + "].IsIncluded", false)
                                            @Html.TextBox("OrderAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 45px", @class = "form-control calculated", pattern = "[0-9]*", data_price = Model.Addons[i].Price })
                                            @Model.Addons[i].Name
                                            @(" ($")
                                            @Model.Addons[i].Price
                                            @(")")<br />
                                            index++;
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <br />Loot Bag(s): <strong><span class="additional-total"></span></strong><br />
                            </div>
                        </div>
                    }
                    <!-- BRING OWN LOOT BAGS -->
                    <div class="hidden-xs hidden-sm col-md-3">
                        <img src="/img/party-loot-bag.jpg" alt="Loot Bags" style="width: 100%" class="img-bordered rounded" />
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="glow glow_pink border-radius">
                    <h2 class="stircrazy">PARTY BALLOONS</h2>
                    <!-- BALLOONS (MYLAR) -->
                    @if (Model.Addons.Any(x => x.AddonType == AddonType.BalloonMylar))
                    {
                        <div class="col-sm-12" id="AddonBalloonMylar">
                            <h3 class="stircrazy">18" Mylar Balloons</h3><hr class="stircrazy" />
                            @for (int i = 0; i < Model.Addons.Count; i++)
                            {
                                if (Model.Addons[i].AddonType == AddonType.BalloonMylar)
                                {
                                    <div class="col-sm-6 col-md-4">
                                        @Html.Hidden("OrderAddons[" + index + "].Id", Model.Addons[i].Id)
                                        @Html.Hidden("OrderAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                        @Html.Hidden("OrderAddons[" + index + "].Name", Model.Addons[i].Name)
                                        @Html.Hidden("OrderAddons[" + index + "].Price", Model.Addons[i].Price)
                                        @Html.TextBox("OrderAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 40px", @class = "form-control calculated", data_price = Model.Addons[i].Price, pattern = "[0-9]*" })
                                        @Model.Addons[i].Name
                                        @(" ($")@Model.Addons[i].Price@(")")<br />
                                    </div>
                                    { index = index + 1; }
                                }
                            }
                            <br />18" Mylar Balloon(s): <strong><span class="additional-total"></span></strong>
                        </div>
                    }
                    <!-- BALLOONS (SUPERSHAPE) -->
                    @if (Model.Addons.Any(x => x.AddonType == AddonType.BalloonDeluxe))
                    {
                        <div class="col-sm-12" id="AddonBalloonDeluxe">
                            <h3 class="stircrazy">SuperShape Mylar Balloons</h3><hr class="stircrazy" />
                            @for (int i = 0; i < Model.Addons.Count; i++)
                            {
                                if (Model.Addons[i].AddonType == AddonType.BalloonDeluxe)
                                {
                                    <div class="col-sm-6 col-md-4">
                                        @Html.Hidden("OrderAddons[" + index + "].Id", Model.Addons[i].Id)
                                        @Html.Hidden("OrderAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                        @Html.Hidden("OrderAddons[" + index + "].Name", Model.Addons[i].Name)
                                        @Html.Hidden("OrderAddons[" + index + "].Price", Model.Addons[i].Price)
                                        @Html.TextBox("OrderAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 40px", @class = "form-control calculated", data_price = Model.Addons[i].Price, pattern = "[0-9]*" })
                                        @Model.Addons[i].Name
                                        @(" ($")@Model.Addons[i].Price@(")")<br />
                                    </div>
                                    { index = index + 1; }
                                }
                            }
                            <br />SuperShape Mylar Balloon(s): <strong><span class="additional-total"></span></strong>
                        </div>
                    }
                    <!-- BALLOONS (LATEX) -->
                    @if (Model.Addons.Any(x => x.AddonType == AddonType.BalloonLatex))
                    {
                        <div class="col-sm-12" id="AddonBalloonLatex">
                            <h3 class="stircrazy">Latex Balloons</h3><hr class="stircrazy" />
                            @for (int i = 0; i < Model.Addons.Count; i++)
                            {
                                if (Model.Addons[i].AddonType == AddonType.BalloonLatex)
                                {
                                    <div class="col-sm-6 col-md-4">
                                        @Html.Hidden("OrderAddons[" + index + "].Id", Model.Addons[i].Id)
                                        @Html.Hidden("OrderAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                        @Html.Hidden("OrderAddons[" + index + "].Name", Model.Addons[i].Name)
                                        @Html.Hidden("OrderAddons[" + index + "].Price", Model.Addons[i].Price)
                                        @Html.TextBox("OrderAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 40px", @class = "form-control calculated", data_price = Model.Addons[i].Price, pattern = "[0-9]*" })
                                        @Model.Addons[i].Name
                                        @(" ($")@Model.Addons[i].Price@(")")<br />
                                    </div>
                                    { index = index + 1; }
                                }
                            }
                            <br />Latex Balloon(s): <strong><span class="additional-total"></span></strong>
                        </div>
                    }
                    <!-- BALLOONS (LATEX THEMED) -->
                    @if (Model.Addons.Any(x => x.AddonType == AddonType.BalloonLatexThemed))
                    {
                        <div class="col-sm-12" id="AddonBalloonLatexThemed">
                            <h3 class="stircrazy">Themed Latex Balloons</h3><hr class="stircrazy" />
                            @for (int i = 0; i < Model.Addons.Count; i++)
                            {
                                if (Model.Addons[i].AddonType == AddonType.BalloonLatexThemed)
                                {
                                    <div class="col-sm-6 col-md-4">
                                        @Html.Hidden("OrderAddons[" + index + "].Id", Model.Addons[i].Id)
                                        @Html.Hidden("OrderAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                        @Html.Hidden("OrderAddons[" + index + "].Name", Model.Addons[i].Name)
                                        @Html.Hidden("OrderAddons[" + index + "].Price", Model.Addons[i].Price)
                                        @Html.TextBox("OrderAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 40px", @class = "form-control calculated", data_price = Model.Addons[i].Price, pattern = "[0-9]*" })
                                        @Model.Addons[i].Name
                                        @(" ($")@Model.Addons[i].Price@(")")<br />
                                    </div>
                                    { index = index + 1; }
                                }
                            }
                            <br />Themed Latex Balloon(s): <strong><span class="additional-total"></span></strong>
                        </div>
                    }
                </div>
            </div>
            <br />
            <!-- SPECIAL INSTRUCTIONS -->
            <div class="row" id="NotesSection">
                <div class="col-md-12">
                    <div class="party-disclaimer">
                        <strong>!- IMPORTANT: GRAB N GO ORDER POLICY -!</strong>
                        <ul>
                            <li>Grab N Go Orders Must Be Placed At Least 2 Days Prior To Pick Up.</li>
                            <li>A Minimum Of 2 Days Is Required For All Grab N Go Cancellations!</li>
                            <li>All Cancellation Requests Must Be Sent To info@stircrazy.ca. No Cancellations Or Refunds Will Be Accepted After This Window.</li>
                            <li>Cakes, Edible Arrangements® And Food Platters Purchased For Consuption At Stir Crazy Are Required To Book/reserve A Room Rental.</li>
                            <li>No Custom Food Or Party Services Are To Be Conducted In The Common Area!</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <h3 class="stircrazy">Order Notes</h3>
                        @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", style = "min-height: 150px" })
                    </div>
                </div>
                <div class="col-md-7 yellow border-radius">
                    <!-- VALIDATION SUMMARY -->
                    <div id="ValidationSummary" class="col-sm-12 party-validations" style="display: none">
                        <strong>Your Order Contains The Following Errors:</strong>
                        <ul></ul>
                    </div>
                    <div class="col-xs-6">
                        <span class="stircrazy">Sub Total: <span id="SubTotal"></span></span>
                        <span class="stircrazy">GST (5%): <span id="GstTotal"></span></span>
                    </div>
                    <div class="col-xs-6">
                        <h1 class="stircrazy"><span id="FinalTotal"></span></h1>
                    </div>
                    <div class="form-group col-md-12">
                        <h4 class="stircrazy">Promotion Code / Gift Certificate</h4>
                        @Html.TextBoxFor(model => model.Promotion, new { @class = "form-control", style = "width: 50%; display: inline" })
                        <a id="PromotionCodeValidate" class="btn btn-default">Apply</a>
                        <span id="PromotionDescription" style="color: red; display: block"></span>
                    </div>
                    <div class="col-md-12 yellow border-radius" id="ManualTransaction" style="display: none">
                        @Html.HiddenFor(model => model.BypassPaypal)
                        <div class="form-group col-xs-4">
                            <strong>Payment Method</strong>
                            @Html.EnumDropDownListFor(model => model.PaymentTransaction.TransactionType, new { @class = "form-control", @style = "width: auto; display: inline" })<br />
                        </div>
                        <div class="form-group col-xs-8">
                            <strong>Transaction Number (Credit Card/Paypal)</strong>
                            @Html.TextBoxFor(model => model.PaymentTransaction.TransactionNumber, new { @class = "form-control" })<br />
                        </div>
                        <input type="submit" class="btn btn-rounded btn-default submit-btn" value="Complete">
                        <span class="submit-progress btn btn-rounded btn-default" style="display: none">
                            @("Processing ")
                            <img src="~/img/status-dots-anim.gif" alt="" />
                        </span>
                        @Html.ActionLink("Cancel", "Index", "Home", new { @class = "btn btn-rounded btn-default" })
                    </div>
                    <div class="col-md-12 yellow border-radius" id="PaypalTransaction">
                        <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" style="margin-right:7px; margin-top: 15px; vertical-align: middle" class="submit-btn">
                        <span class="submit-progress btn btn-rounded btn-default" style="display: none">
                            @("Processing ") <img src="~/img/status-dots-anim.gif" alt="" />
                        </span>
                        @Html.ActionLink("Cancel", "Index", "Home", new { @class = "btn btn-rounded btn-default" })
                    </div>
                </div>
            </div>
        </div>s
    </div>
}