﻿@model IEnumerable<Tuple<StirCrazy.Core.Domain.Party.PartyRoom, StirCrazy.Core.Domain.TimeSlot>>

<div class="panel-group" id="accordion">
    <h4 class="stircrazy">Choose Your Party Room & Time</h4>
    @foreach (var room in Model.GroupBy(x => x.Item1.Id).Select(group => group.First()).OrderBy(r => r.Item1.Capacity))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title party-room">
                    <a data-toggle="collapse" data-parent="#accordion" href="#@room.Item1.Id" style="color: #333; text-decoration: none">
                        @room.Item1.Name
                    </a>
                    <span class="pull-right">
                        Capacity: @room.Item1.Capacity
                    </span>
                </h4>
            </div>
            <div id="@room.Item1.Id" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>@room.Item1.Description</p>
                    <br />
                    @foreach (var timeslot in Model.Where(x => x.Item1.Id == room.Item1.Id))
                    {
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <h4>
                                        @Html.RadioButton("RoomBooking.PartyRoomId", room.Item1.Id, new { @data_timeslot = timeslot.Item2.Id, @data_capacity = room.Item1.Capacity, @class = "timeslot" })
                                        @DateTime.Today.Add(timeslot.Item2.CheckInTime).ToString("t") @if (timeslot.Item2.Id > 5)
                                        { @(" (OLD)")}
                                    </h4>
                                </div>
                                <div class="col-sm-6 pull-right">
                                    <ul class="party-times">
                                        <li><strong>Check-In: </strong> @DateTime.Today.Add(timeslot.Item2.CheckInTime).ToString("t") </li>
                                        <li><strong>Room Time: </strong> @DateTime.Today.Add(timeslot.Item2.StartTime).ToString("t") @(" - ") @DateTime.Today.Add(timeslot.Item2.EndTime).ToString("t") </li>
                                        <li><strong>Check-Out: </strong> @DateTime.Today.Add(timeslot.Item2.CheckOutTime).ToString("t")</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    }
</div>
