﻿@using StirCrazy.Core.Domain.Party
@using StirCrazy.Core.Utilities
@model StirCrazy.Admin.Models.Order.PartyOrderModel

@Styles.Render("~/Content/datetimepicker")
@Scripts.Render("~/bundles/datetimepicker")
@{
    int index = 0;
}

<div class="col-lg-12">
    @using (Html.BeginForm("Create", "Party", FormMethod.Post, new { @id = "PartyBooking", data_submitted = "" }))
    {
        @Html.HiddenFor(model => model.PartyPackage.Price, new { @id = "PackageBasePrice", data_adjustment = "", data_adjustment_type = "" })
        @Html.HiddenFor(model => model.SubTotal, new { @id = "PartySubTotal" })
        @Html.HiddenFor(model => model.Tax, new { @id = "PartyTaxTotal" })
        @Html.HiddenFor(model => model.Total, new { @id = "PartyTotal" })
        @Html.HiddenFor(model => model.PartyPackage.Id, new { @id = "PartyPackage" })

            <!-- DATE/TIME -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Schedule</strong> Party</h3></div>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <div class="text-center">
                                <h1 class="stircrazy">@Model.PartyPackage.Name</h1>
                                <h3 class="stircrazy" id="PackagePrice"></h3>
                                <h4 class="stircrazy">Choose Your Party Date</h4><br />
                                @Html.TextBoxFor(model => model.RoomBooking.Date, "{0:MM/dd/yyyy}", new { @class = "form-control", id = "PartySchedule", data_format = "MM/DD/YYYY" })
                                @Html.HiddenFor(model => model.RoomBooking.TimeSlotId)
                                @Html.Hidden("RoomCapacity", "0", new { @id = "RoomCapacity" })
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h2 id="PartyDate" class="stircrazy"></h2>
                            <div id="progressbar" style="display: none">Checking Availability, Please Wait... <img src="~/img/status-dots-anim.gif" alt="" /></div>
                            <div id="no-availability" class="party-disclaimer" style="display: none">We're Sorry No Available Rooms/timeslots Were Found For The Selected Date. Please Choose A Different Date And Try Again.</div>
                            <div id="availability" style="display: none">
                                @{ Html.RenderAction("Availability", new { searchDate = DateTime.Now.AddDays(3) }); }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Parent/Child</strong> Information</h3></div>
                    <div class="panel-body" id="CustomerInformation">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="stircrazy">Parent / Child Information</h2>
                                <div class="form-group">
                                    <div class="controls">
                                        <label>First Name</label><br />
                                        @Html.TextBoxFor(model => model.Parent.FirstName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <label>Last Name</label><br />
                                        @Html.TextBoxFor(model => model.Parent.LastName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <label>Address</label><br />
                                        @Html.TextBoxFor(model => model.Parent.Address, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <label>City</label><br />
                                        @Html.TextBoxFor(model => model.Parent.City, new { @class = "form-control", data_geo = "locality" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <label>Province</label><br />
                                        <select id="Parent_Province" name="Parent.Province" class="form-control">
                                            <option value="">-- Choose --</option>
                                            <option value="Alberta">Alberta</option>
                                            <option value="British Columbia">British Columbia</option>
                                            <option value="Manitoba">Manitoba</option>
                                            <option value="New Brunswick">New Brunswick</option>
                                            <option value="New Foundland">New Foundland</option>
                                            <option value="Northwest Territories">Northwest Territories</option>
                                            <option value="Nova Scotia">Nova Scotia</option>
                                            <option value="Ontario">Ontario</option>
                                            <option value="Prince Edward Island">Prince Edward Island</option>
                                            <option value="Quebec">Quebec</option>
                                            <option value="Saskatchewan">Saskatchewan</option>
                                            <option value="Yukon Territories">Yukon Territories</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <label>Postal Code</label><br />
                                        @Html.TextBoxFor(model => model.Parent.PostalCode, new { @class = "form-control", data_geo = "postal_code" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <label>Phone</label><br />
                                        @Html.TextBoxFor(model => model.Parent.PhoneNumber, new { @class = "form-control bfh-phone", data_format = "+1 (ddd) ddd-dddd" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <label>Email</label><br />
                                        @Html.TextBoxFor(model => model.Parent.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <label>Confirm Email</label><br />
                                        <input type="text" id="Parent_Email_Confirm" name="Parent_Email_Confirm" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2 class="stircrazy">Child Information</h2>
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>First Name</label><br />
                                        @Html.TextBoxFor(model => model.Child.FirstName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <label>Last Name</label><br />
                                        @Html.TextBoxFor(model => model.Child.LastName, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label>Age</label><br />
                                        @Html.TextBoxFor(model => model.Child.Age, new { @class = "form-control", style = "width: 50px", pattern = "[0-9]*" })
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Gender</label><br />
                                        @Html.EnumDropDownListFor(model => model.Child.Gender, "-- Choose --", new { @class = "form-control" })
                                    </div>
                                    <!-- PACAKGE ADDONS (Data Container) -->
                                    <div id="PackageDetails" style="display: none">
                                        @if (Model.PackageAddons != null)
                                        {
                                        <ul id="PackageAddons">
                                            @foreach (var addon in Model.PackageAddons)
                                                {
                                                <li data-id="@addon.AddonType" data-guests="@addon.RequiredGuests" data-quantity="@addon.Quantity">@addon.Quantity - @addon.AddonType ( @addon.RequiredGuests Guests.)</li>
                                                }
                                        </ul>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            @if (Model.PartyPackage.Id != 4)
        {
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Party</strong> Admission</h3></div>
                <div class="panel-body" id="PartySection">
                    <div class="row" id="PartyGuests" style="display: none">
                        <div class="col-sm-12 col-md-6">
                            <h3 class="stircrazy">Additional Guests</h3>
                            <p>
                                Your Pacakage Includes <strong>
                                    @Model.PartyPackage.Guests
                                </strong> Package Guests (Including The Birthday Child)
                                Additional Guests Are $@Model.PartyPackage.GuestPrice Each And May Be Added Below.<br />
                                @if (Model.PartyPackage.Id != 3)
                                    {
                                    <span>Note The $@Model.PartyPackage.GuestPrice For Additional Guests Covers All Applicable Package Inclusions Such As Place Settings, Loot Bags, Admission, Etc.</span>
                                    }

                                @if (Model.PartyPackage.Id == 3)
                                    {
                                    <span>Note The $@Model.PartyPackage.GuestPrice For Additional Guests Covers All Applicable Package Inclusions Such As Admission, Pizza and Juice.</span>
                                    }

                                <div class="form-group">
                                    <label>Additional Guests</label>
                                    @Html.DropDownListFor(model => model.AdditionalGuests,
                                            Html.GenerateGuestList((Model.PartyPackage.MaxGuests + 1) - Model.PartyPackage.Guests),
                                            new { @class = "form-control calculated", style = "width: 70px; display: inline", data_price = @Model.PartyPackage.GuestPrice })
                                    @Html.HiddenFor(model => model.PartyPackage.Guests)
                                    @("($")@Model.PartyPackage.GuestPrice @("ea.)")
                                    <br />
                                    <div class="pull-right">Additional Guest(s): <strong><span id="AdditionalGuestsTotal">$0.00</span></strong></div>
                                </div>
                            </p>
                            <br />
                            <h3 class="stircrazy">Remaining Room/Guest Capacity</h3>
                            <div class="form-group">
                                <div class="party-disclaimer">
                                    You Are Welcome To Invite Adults And Babies (Under The Age Of 1) At No Charge Up To But NOT EXCEEDING Your TOTAL Room Capacity.
                                    Your Remaining Room/Guest Capacity After Pre-Paid Admissions Is Calculated For You Below.
                                </div>
                                <h4>Package Guests: <strong><span id="ChildGuests">@Model.PartyPackage.Guests</span></strong> <small>(Birthday Child Included)</small></h4>
                                <h4>Pre-Paid Admissions: <strong><span id="PrePaidAdmissions">0</span></strong></h4>
                                <h4>Remaining Room/Guest Capacity: <strong><span id="AdultGuests">0</span></strong></h4><br />
                                <small><strong>REMEMBER:</strong> Socks are required for ALL Stir Crazy guests including adults!</small>
                                <br />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <h3 class="stircrazy">Pre-Paid Admission</h3>
                            <div class="form-group">
                                <small>
                                    * If You Have Infant Guests Over The Age Of 1 Not Included In Your Package Guest Count You Will Be Required To Pay The Applicable Admission For Them.
                                    This Goes For Any Child Guests Attending Over And Above Your Specified Package Guest Quantity.
                                </small>
                            </div>
                            <div class="form-group">
                                <label>Pre-Paid Admissions</label>

                                @Html.DropDownListFor(model => model.PrepaidAdmissions,
                                        Html.GenerateGuestList((Model.PartyPackage.MaxGuests + 1) - Model.PartyPackage.Guests),
                                        new { @class = "form-control calculated", style = "width: 70px; display: inline", data_price = "9.49" })
                                @Html.Hidden("MaxAdmission", (Model.PartyPackage.MaxGuests + 1) - Model.PartyPackage.Guests)
                                @("($9.49 ea.)")
                                <br />
                                <div class="pull-right">Admission(s): <strong><span id="PrePaidAdmissionsTotal">$0.00</span></strong></div>
                            </div>
                            <h3 class="stircrazy">Facility Admission Rates</h3>
                            <div class="form-group">
                                <p>
                                    Admission Is Required In Addition To Your Room Rental.<br />
                                    Admission Prices Are As Follows:<br /><br />
                                    <ul>
                                        <li>Adults And Babies Under 1 Are FREE!</li>
                                        <li>Tots (Ages 1 - 3) $9.49 ea.</li>
                                        <li>General (Ages 4+) $11.49 ea.</li>
                                    </ul>
                                </p>
                            </div>
                            <h3 class="stircrazy">Save On Admission</h3>
                            <div class="party-disclaimer">
                                <ul>
                                    <li>Purchase Your Facility Admissions In Advance And Receive Tot Pricing For ALL!</li>
                                    <li>Any Admissions Purchased On Party Day Will Be Tracked By Age And Tendered At Full Price.</li>
                                    <li>All Outstanding Party Fees And Admissions Are To Be Paid In Full Prior To Checkout On Party Day.</li>
                                </ul>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
            @if (Model.PartyPackage.Id == 4)
        {
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Party</strong> Admission</h3></div>
                <div class="panel-body" id="PartySection">
                    <div class="row" id="PartyGuests" style="display: none">
                        <div class="col-sm-12 col-md-6">
                            <h3 class="stircrazy">Facility Admission Rates</h3>
                            <p>
                                Admission Is Required In Addition To Your Room Rental.<br />
                                Admission Prices Are As Follows:<br />
                                <ul>
                                    <li>Adults And Babies Under 1 Are FREE!</li>
                                    <li>Tots (Ages 1 - 3) $9.49 ea.</li>
                                    <li>General (Ages 4+) $11.49 ea.</li>
                                </ul>
                            </p>
                            <br />
                            <h3 class="stircrazy">Save On Admission</h3>
                            <div class="party-disclaimer">
                                <ul>
                                    <li>Purchase Your Facility Admissions In Advance And Receive Tot Pricing For ALL!</li>
                                    <li>Any Admissions Purchased On Party Day Will Be Tracked By Age And Tendered At Full Price.</li>
                                    <li>All Outstanding Party Fees And Admissions Are To Be Paid In Full Prior To Checkout On Party Day.</li>
                                </ul>
                            </div>
                            <br />
                            @Html.HiddenFor(model => model.PartyPackage.Guests)
                            <div class="col-sm-6" style="display: none">
                                <label>Additional Guests</label>
                                @Html.DropDownListFor(model => model.AdditionalGuests,
                                Html.GenerateGuestList((Model.PartyPackage.MaxGuests + 1) - Model.PartyPackage.Guests),
                                new { @class = "form-control calculated", style = "width: 70px; display: inline", data_price = @Model.PartyPackage.GuestPrice })
                                @("($")@Model.PartyPackage.GuestPrice @("ea.)")
                            </div>
                            <div class="form-group">
                                <label>Pre-Paid Admissions</label>
                                @Html.DropDownListFor(model => model.PrepaidAdmissions,
                                Html.GenerateGuestList((Model.PartyPackage.MaxGuests + 1) - Model.PartyPackage.Guests),
                                new { @class = "form-control calculated", style = "width: 70px; display: inline", data_price = "9.49" })
                                @("($9.49 ea.)")
                                @Html.Hidden("MaxAdmission", "15")
                                <br />
                                <div class="pull-right">Admission(s): <strong><span id="PrePaidAdmissionsTotal">$0.00</span></strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h3 class="stircrazy">Room Capacity</h3>
                            <div class="form-group">
                                <div class="party-disclaimer">
                                    You Are Welcome To Invite Adults And Babies (Under The Age Of 1) At No Charge Up To But NOT EXCEEDING Your TOTAL Room Capacity.
                                    Your Remaining Room/Guest Capacity After Pre-Paid Admissions Is Calculated For You Below.
                                </div>
                                <h4>Pre-Paid Admissions: <strong><span id="ChildGuests">@Model.PartyPackage.Guests</span></strong></h4>
                                <h4>Remaining Room/Guest Capacity: <strong><span id="AdultGuests"></span></strong></h4><br />
                                <small><strong>REMEMBER:</strong> Socks are required for ALL Stir Crazy guests including adults!</small>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        </div>

            <!-- FOOD PLATTERS / PIZZAS -->
        if (Model.Addons.Any(x => x.AddonType == AddonType.FoodPlatter))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title"><strong>Food</strong> Platters</h3></div>
                        <div class="panel-body">
                            <div class="row" id="FoodSection">
                                <!-- INCLUDED FOOD PLATTERS -->
                                @if (Model.PackageAddons.Any(x => x.AddonType == AddonType.FoodPlatter))
                                {
                                <div class="col-sm-6" id="SwapSection">
                                    <div id="FoodPlatter">
                                        <h3 class="stircrazy">Choose Your Food Platters</h3>
                                        <div class="form-group">
                                            <div class="package-includes" data-included="0">
                                                <span class="package-quantity"></span> Food Platter(s) Included.
                                                <span class="package-validate"></span>
                                            </div>

                                            @for (int i = 0; i < Model.Addons.Count; i++)
                                                {
                                                    if (Model.Addons[i].AddonType == AddonType.FoodPlatter)
                                                    {
                                                @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                                @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                                @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                                @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                                @Html.Hidden("PartyAddons[" + index + "].IsIncluded", true)
                                                @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 45px", @class = "form-control calculated", pattern = "[0-9]*" })
                                                @Model.Addons[i].Name<br />
                                                        index++;
                                                    }
                                                }
                                        </div>
                                    </div>
                                    <!-- SWAPPED PIZZA -->
                                    <div id="PizzaSwap" style="display: none">
                                        <h3 class="stircrazy">Choose Your Pizza Flavours</h3>
                                        <div class="form-group">
                                            <div class="package-includes" data-included="0">
                                                <span class="package-quantity"></span> Pizza(s) Included.
                                                <span class="package-validate"></span>
                                            </div>

                                            @for (int i = 0; i < Model.Addons.Count; i++)
                                                {
                                                    if (Model.Addons[i].AddonType == AddonType.FoodPizza)
                                                    {
                                                @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                                @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                                @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                                @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                                @Html.Hidden("PartyAddons[" + index + "].IsIncluded", true)
                                                @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 45px", @class = "form-control calculated", pattern = "[0-9]*" })
                                                @Model.Addons[i].Name<br />
                                                        index++;
                                                    }
                                                }
                                        </div>
                                    </div>
                                    <!-- SWAP FOODPLATTERS / PIZZA -->
                                    <div class="form-group">
                                        @Html.CheckBoxFor(model => model.SwapFoodPlatter)
                                        Swap Included Food Platter(s) For Personal Pizzas
                                    </div>
                                </div>
                                    <!-- ADDITIONAL FOOD PLATTERS -->
                                <div class="col-sm-6" id="AddonFoodPlatter">
                                    <h3 class="stircrazy">Additional Food Platters</h3>
                                    <div class="form-group">

                                        @for (int i = 0; i < Model.Addons.Count; i++)
                                            {
                                                if (Model.Addons[i].AddonType == AddonType.FoodPlatter)
                                                {
                                            @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                            @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                            @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                            @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                            @Html.Hidden("PartyAddons[" + index + "].IsIncluded", false)
                                            @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 45px", @class = "form-control calculated", pattern = "[0-9]*", data_price = Model.Addons[i].Price })
                                            @Model.Addons[i].Name
                                            @(" ($")@Model.Addons[i].Price@(")")<br />
                                                    index++;
                                                }
                                            }
                                    </div>
                                    <div class="party-disclaimer">
                                        <ul>
                                            <li>With The Exception Of Birthday Cakes - ABSOLULTELY NO OUTSIDE FOOD IS PERMITTED!</li>
                                            <li>Cakes And All Other Party Services Are Restricted To Party Rooms And May Not Take Place In Common Area</li>
                                        </ul>
                                    </div>
                                    <br />Additional Food Platter(s): <strong><span class="additional-total"></span></strong>
                                </div>
                                }
                                else
                                {
                                    <!-- ADDON FOOD PLATTERS -->
                                <div class="col-sm-6" id="AddonFoodPlatter">
                                    <h3 class="stircrazy">Add Food Platters</h3>
                                    <div class="form-group">

                                        @for (int i = 0; i < Model.Addons.Count; i++)
                                            {
                                                if (Model.Addons[i].AddonType == AddonType.FoodPlatter)
                                                {
                                            @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                            @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                            @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                            @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                            @Html.Hidden("PartyAddons[" + index + "].IsIncluded", false)
                                            @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 45px", @class = "form-control calculated", pattern = "[0-9]*", data_price = Model.Addons[i].Price })
                                            @Model.Addons[i].Name
                                            @(" ($")@Model.Addons[i].Price@(")")<br />
                                                    index++;
                                                }
                                            }
                                    </div>
                                    <div class="party-disclaimer">
                                        <ul>
                                            <li>With The Exception Of Birthday Cakes - ABSOLULTELY NO OUTSIDE FOOD IS PERMITTED!</li>
                                            <li>Cakes And All Other Party Services Are Restricted To Party Rooms And May Not Take Place In Common Area</li>
                                        </ul>
                                    </div>
                                    <br />Food Platter(s): <strong><span class="additional-total"></span></strong>
                                </div>
                                }
                            </div>
                            <hr class="stircrazy" />
                            <!-- PIZZA -->
                            <div class="row">
                                <!-- INCLUDED PIZZA -->
                                @if (Model.PackageAddons.Any(x => x.AddonType == AddonType.FoodPizza))
                                {
                                <div class="col-sm-6">
                                    <h3 class="stircrazy">Choose Personal Pizza Flavours</h3>
                                    <div class="form-group" id="FoodPizza">
                                        <div class="package-includes" data-included="0">
                                            <span class="package-quantity"></span> Pizza(s) Included.
                                            <span class="package-validate"></span>
                                        </div>

                                        @for (int i = 0; i < Model.Addons.Count; i++)
                                            {
                                                if (Model.Addons[i].AddonType == AddonType.FoodPizza)
                                                {
                                            @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                            @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                            @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                            @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                            @Html.Hidden("PartyAddons[" + index + "].IsIncluded", true)
                                            @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 45px", @class = "form-control calculated", pattern = "[0-9]*" })
                                            @Model.Addons[i].Name<br />
                                                    index++;
                                                }
                                            }
                                    </div>
                                </div>
                                    <!-- ADDITIONAL PIZZA -->
                                <div class="col-sm-6" id="AddonFoodPizza">
                                    <h3 class="stircrazy">Additional Personal Pizzas</h3>
                                    <div class="form-group">

                                        @for (int i = 0; i < Model.Addons.Count; i++)
                                            {
                                                if (Model.Addons[i].AddonType == AddonType.FoodPizza)
                                                {
                                            @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                            @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                            @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                            @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                            @Html.Hidden("PartyAddons[" + index + "].IsIncluded", false)
                                            @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 45px", @class = "form-control calculated", pattern = "[0-9]*", data_price = Model.Addons[i].Price })
                                            @Model.Addons[i].Name
                                            @(" ($")@Model.Addons[i].Price@(")")<br />
                                                    index++;
                                                }
                                            }
                                    </div>
                                    <br />Additional Pizza(s): <strong><span class="additional-total"></span></strong>
                                </div>
                                }
                                else
                                {
                                <div class="col-sm-6" id="AddonFoodPizza">
                                    <h3 class="stircrazy">Personal Pizzas</h3>
                                    <div class="form-group">

                                        @for (int i = 0; i < Model.Addons.Count; i++)
                                            {
                                                if (Model.Addons[i].AddonType == AddonType.FoodPizza)
                                                {
                                            @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                            @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                            @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                            @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                            @Html.Hidden("PartyAddons[" + index + "].IsIncluded", false)
                                            @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 45px", @class = "form-control calculated", pattern = "[0-9]*", data_price = Model.Addons[i].Price })
                                            @Model.Addons[i].Name
                                            @(" ($")@Model.Addons[i].Price@(")")<br />
                                                    index++;
                                                }
                                            }
                                    </div>
                                    <br />Personal Pizza(s): <strong><span class="additional-total"></span></strong>
                                </div>
                                }
                            </div>
                            <hr class="stircrazy" />
                            <div class="row">
                                @if (Model.PackageAddons.Any(x => x.AddonType == AddonType.Beverage))
                                {
                                <div class="col-sm-6">
                                    <div id="Beverage">
                                        <h3 class="stircrazy">Choose Your Beverage</h3>
                                        <div class="form-group">
                                            <div class="package-includes" data-included="0">
                                                <span class="package-quantity"></span> Beverage(s) Included.
                                                <span class="package-validate"></span>
                                            </div>

                                            @for (int i = 0; i < Model.Addons.Count; i++)
                                                {
                                                    if (Model.Addons[i].AddonType == AddonType.Beverage)
                                                    {
                                                @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                                @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                                @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                                @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                                @Html.Hidden("PartyAddons[" + index + "].IsIncluded", true)
                                                @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 45px", @class = "form-control calculated", pattern = "[0-9]*" })
                                                @Model.Addons[i].Name<br />
                                                        index++;
                                                    }
                                                }
                                        </div>
                                    </div>
                                </div>
                                    <!-- ADDITIONAL BEVERAGES -->
                                <div class="col-sm-6" id="AddonBeverage">
                                    <h3 class="stircrazy">Additional Beverages</h3>
                                    <div class="form-group">

                                        @for (int i = 0; i < Model.Addons.Count; i++)
                                            {
                                                if (Model.Addons[i].AddonType == AddonType.Beverage)
                                                {
                                            @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                            @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                            @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                            @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                            @Html.Hidden("PartyAddons[" + index + "].IsIncluded", false)
                                            @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 45px", @class = "form-control calculated", pattern = "[0-9]*", data_price = Model.Addons[i].Price })
                                            @Model.Addons[i].Name
                                            @(" ($")@Model.Addons[i].Price@(")")<br />
                                                    index++;
                                                }
                                            }
                                    </div>
                                    <br />Additional Beverage(s): <strong><span class="additional-total"></span></strong>
                                </div>
                                }
                                else
                                {
                                    <!-- ADDON BEVERAGES -->
                                <div class="col-sm-6" id="AddonBeverage">
                                    <h3 class="stircrazy">Beverages</h3>
                                    <div class="form-group">

                                        @for (int i = 0; i < Model.Addons.Count; i++)
                                            {
                                                if (Model.Addons[i].AddonType == AddonType.Beverage)
                                                {
                                            @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                            @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                            @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                            @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                            @Html.Hidden("PartyAddons[" + index + "].IsIncluded", false)
                                            @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 45px", @class = "form-control calculated", pattern = "[0-9]*", data_price = Model.Addons[i].Price })
                                            @Model.Addons[i].Name
                                            @(" ($")@Model.Addons[i].Price@(")")<br />
                                                    index++;
                                                }
                                            }
                                    </div>
                                    <br />Beverage(s): <strong><span class="additional-total"></span></strong>
                                </div>
                                }
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="party-disclaimer">
                                        <ul>
                                            <li>ABSOLUTELY NO OUTSIDE BEVERAGE PERMITTED!</li>
                                            <li>Party Tabs For Additional Beverage Available On Party Day.</li>
                                            <li>In Room Mini Beverage Coolers Also Available, Tab Required For Access.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }

            <!-- CAKE / CUPCAKES -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Bakery</strong> Options</h3></div>
                    <div class="panel-body">
                        @if (Model.PartyPackage.HasCake)
                        {
                                <!-- INCLUDED CAKE / CUPCAKES -->
                        <div class="row">
                            <div class="col-sm-12 col-md-7">
                                <div class="form-group" id="BakeryContainer">
                                    <h3 class="stircrazy">Choose Your Party & Cake Theme</h3>
                                    @Html.DropDownListFor(model => model.PartyTheme, new SelectList(Model.Addons.Where(c => c.AddonType == AddonType.ThemeParty), "Name", "Name"), "-- Choose A Theme --", new { @class = "form-control" })
                                    <div class="form-group" id="OwnCake">
                                        <div id="Cake">
                                            <br />
                                            <h3 class="stircrazy">Pick Your Included Cake Flavour</h3>
                                            @Html.DropDownListFor(model => model.CakeFlavour, new SelectList(Model.Addons.Where(c => c.AddonType == AddonType.FlavourCake), "Name", "Name"), "-- Choose A Flavour --", new { @class = "form-control" })
                                        </div>
                                        @Html.CheckBoxFor(model => model.HasOwnCake) Bring My Own Cake
                                        <div class="party-disclaimer" id="OwnCakeDisclaimer" style="display: none">
                                            <strong>!- IMPORTANT: BRING YOUR OWN CAKE -!</strong>
                                            <ul>
                                                <li>No Ice Cream Cakes Or Cakes With Nuts Or Nut By Products And No Cakes That Require Refrigeration.</li>
                                                <li>No Credit Will Be Applied For Bringing Your Own Cake As This Package Already Includes Various Discounts.</li>
                                                <li>Remember We Have More Than 550 Cake Pan Rental Options As Well As Complete Rental Packages To Help You Create An Amazing Cake For That Special Someone.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="form-group" id="SwapCupcakes">
                                        @Html.CheckBoxFor(model => model.HasCupcakes) Swap Included Cake For 18 Cupcakes
                                    </div>
                                    <!-- TOGGLE / SWAP CAKE -->
                                    <div class="form-group" id="Cupcakes" style="display: none">
                                        <br /><h3 class="stircrazy">Pick Your Cupcakes</h3>
                                        <p>18 Cupcakes Instead Of Cake</p>
                                        <div class="party-disclaimer">
                                            <strong>!- IMPORTANT: SWAPPED CAKE FOR CUPCAKES -!</strong>
                                            <ul>
                                                <li>Cupcakes are coloured icing only and not themed.</li>
                                                <li>Swapped are NOT a cupcake cake.</li>
                                            </ul>
                                        </div>
                                        <div class="form-group">
                                            <h4 class="stircrazy">Choose Flavour</h4>
                                            @for (int i = 0; i < Model.Addons.Count; i++)
                                                {
                                                    if (Model.Addons[i].AddonType == AddonType.FlavourCupcake)
                                                    {
                                                @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                                @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                                @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                                @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                                @Html.Hidden("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity)
                                                @Html.Hidden("PartyAddons[" + index + "].IsIncluded", true)
                                                @Html.RadioButton("PartyAddons[" + index + "].IsSelected", Model.Addons[i].IsSelected, new { @style = "width: 45px", @class = "cupcake" })
                                                @Model.Addons[i].Name<br />
                                                    }
                                                }
                                        </div>
                                        <div class="form-group" id="Flavours">
                                            <h4 class="stircrazy">Icing Colour(s) <small>(Max 2)</small></h4>
                                            @for (int i = 0; i < Model.Addons.Count; i++)
                                                {
                                                    if (Model.Addons[i].AddonType == AddonType.FlavourIcing)
                                                    {
                                                @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                                @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                                @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                                @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                                @Html.Hidden("PartyAddons[" + index + "].IsIncluded", true)
                                                @Html.CheckBox("PartyAddons[" + index + "].IsSelected", false, new { @style = "width: 45px", @class = "flavours-included calculated", pattern = "[0-9]*", data_price = Model.Addons[i].Price })
                                                @Model.Addons[i].Name<br />
                                                        index++;
                                                    }
                                                }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @if (Model.PartyPackage.HasPlaceSetting)
                                            {
                                            <h3 class="stircrazy">Place Settings</h3>
                                            <p>
                                                Your Party Package Includes Themed Place Settings For All Party Guests.
                                                Place Settings Consist Of A Plate, Cup, Napkin (And Hat If Booking Package #2) And Are Co-ordinated To Match Your Chosen Party/cake Theme.
                                                Generic Paper Products And Cutlery Are Included In Addition To Your Themed Place Settings At No Charge.
                                            </p>
                                            }
                                        @Html.CheckBoxFor(model => model.HasOwnDecor) Bring Your Own Decorations @if (Model.PartyPackage.Id == 3 || Model.PartyPackage.Id == 4)
                                            { <span>For <strong><span id="HasOwnDecorTotal"></span></strong> ($2.00/Guest)</span> }
                                    </div>
                                    <div class="party-disclaimer" id="OwnDecorDisclaimer" style="display: none">
                                        <strong>!- IMPORTANT: BRING YOUR OWN DECORATIONS -!</strong>
                                        <ul>
                                            <li>Guests Wishing To Bring In Their Own Decorations Must Specify This At The Time Of Booking! Failure To Do So May Result In Your Items Not Being Permitted In The Facility.</li>
                                            <li>There Are No Surcharges Applied When Utilizing This Option With Our All Inclusive Packages (Packages 1 & 2) However No Credits Are Applied Either As These Packages Already Extremely Discounted.</li>
                                            <li>Stir Crazy Party Decorations Are No Longer Included When Choosing To Bring Your Own!</li>
                                            <li>Decorations Being Brought Into The Facility May Not Contain Gum, Food, Nuts, Noisemakers Or Items That May Pose A Potential Risk To Other Stir Crazy Guests Or The Facility!</li>
                                            <li>No Decorations Are Permitted To Be Attached To The Walls, Ceiling, Facility Or Furnishings.</li>
                                            <li>ABSOLUTELY NO PINATAS!</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="form-group">
                                    <h3 class="stircrazy">Additional Cupcakes</h3>
                                    @for (int i = 0; i < Model.Addons.Count; i++)
                                        {
                                            if (Model.Addons[i].AddonType == AddonType.FlavourCupcake)
                                            {
                                        @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                        @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                        @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                        @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                        @Html.Hidden("PartyAddons[" + index + "].IsIncluded", false)
                                        @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 45px", @class = "form-control cupcakes", pattern = "[0-9]*", data_price = Model.Addons[i].Price })
                                        @Model.Addons[i].Name
                                        @(" ($")@Model.Addons[i].Price@("/Dozen)")<br />
                                                index++;
                                            }
                                        }
                                    <br />Cupcake Total: <strong><span id="cupcakeTotal"></span></strong>
                                </div>
                                <div class="form-group" id="Flavours">
                                    <h4 class="stircrazy">Icing Colour(s) <small>(Max 2)</small></h4>
                                    @for (int i = 0; i < Model.Addons.Count; i++)
                                        {
                                            if (Model.Addons[i].AddonType == AddonType.FlavourIcing)
                                            {
                                        @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                        @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                        @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                        @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                        @Html.Hidden("PartyAddons[" + index + "].IsIncluded", false)
                                        @Html.CheckBox("PartyAddons[" + index + "].IsSelected", false, new { @style = "width: 45px", @class = "flavours calculated", data_price = Model.Addons[i].Price })
                                        @Model.Addons[i].Name<br />
                                                index++;
                                            }
                                        }
                                </div>
                            </div>
                        </div>
                        }
                        else
                        {
                                <!-- ADDITIONAL CAKE / CUPCAKES -->
                        <div class="row">
                            <div class="col-sm-12 col-md-7" id="BakeryContainer">
                                <h2 class="stircrazy">Choose Your Party Options</h2>
                                <div class="form-group">
                                    @if (Model.PartyPackage.HasPlaceSetting)
                                        {
                                        <h3 class="stircrazy">Place Settings</h3>
                                        <p>
                                            Your Party Package Includes Themed Place Settings For All Party Guests.
                                            Place Settings Consist Of A Plate, Cup, Napkin (And Hat If Booking Package #2) And Are Co-ordinated To Match Your Chosen Party/Cake Theme.
                                            Generic Paper Products And Cutlery Are Included In Addition To Your Themed Place Settings At No Charge.
                                        </p>
                                        }

                                    @if (!Model.PartyPackage.HasPlaceSetting)
                                        {
                                        <div id="HasOwnPlaceSettings">
                                            @Html.CheckBoxFor(model => model.HasOwnPlaceSetting)
                                            @(" Bring Your Own Cups, Plates, Napkins And Party Hats For Guests.") For <strong><span id="HasOwnPlaceSettingTotal">$0.00</span></strong> ($2.00/Guest)<br />
                                            <p>
                                                The $2.00 Surcharge Will Be Applied To Each Individual PAID ADMISSION OR INCLUDED PACKAGE GUEST Count When Selecting This Option.
                                            </p>
                                        </div>

                                        <div id="AddPlaceSettings">
                                            @Html.CheckBoxFor(model => model.AddPlaceSetting)
                                            @(" Add Cups, Plates, Napkins And Party Hats For Guests.") For <strong><span id="AddPlaceSettingTotal">$0.00</span></strong> ($5.00/Guest)<br />
                                            @Html.DropDownListFor(model => model.PartyTheme, new SelectList(Model.Addons.Where(c => c.AddonType == AddonType.ThemeParty), "Name", "Name"), "-- Choose A Theme --", new { @class = "form-control", style = "display: none" })
                                            <p>
                                                The $5.00 Charge Will Be Applied To Each Individual PAID ADMISSION OR INCLUDED PACKAGE GUEST Count When Choosing This Add On.
                                            </p>
                                        </div>
                                        }
                                </div>
                                <h3 class="stircrazy">Do You Need A Cake?</h3>
                                @Html.CheckBoxFor(model => model.AddCake) Add A Cake For $45.00
                                <div id="Cake" style="display: none">
                                    <h4 class="stircrazy">Flavour</h4>
                                    @Html.DropDownListFor(model => model.CakeFlavour, new SelectList(Model.Addons.Where(c => c.AddonType == AddonType.FlavourCake), "Name", "Name"), "-- Choose A Flavour --", new { @class = "form-control" })
                                    <h4 class="stircrazy">Theme</h4>
                                    @Html.DropDownListFor(model => model.CakeTheme, new SelectList(Model.Addons.Where(c => c.AddonType == AddonType.ThemeParty), "Name", "Name"), "-- Choose A Theme --", new { @class = "form-control" })
                                </div>
                                <div class="form-group" id="OwnCake">
                                    @Html.CheckBoxFor(model => model.HasOwnCake) Bring Your Own Cake
                                </div>
                                <div class="party-disclaimer" id="OwnCakeDisclaimer" style="display: none">
                                    <strong>!- IMPORTANT: BRING YOUR OWN CAKE -!</strong>
                                    <ul>
                                        <li>No Ice Cream Cakes Or Cakes With Nuts Or Nut By Products And No Cakes That Require Refrigeration.</li>
                                        <li>No Credit Or Discount Will Be Applied For Bringing Your Own Cake.</li>
                                        <li>Remember We Have More Than 550 Cake Pan Rental Options As Well As Complete Rental Packages To Help You Create An Amazing Cake For That Special Someone.</li>
                                    </ul>
                                </div>
                                <div class="party-disclaimer" id="OwnDecorDisclaimer" style="display: none">
                                    <strong>!- IMPORTANT: BRING YOUR OWN DECORATIONS -!</strong>
                                    <ul>
                                        <li>Guests Wishing To Bring In Their Own Decorations Must Specify This At The Time Of Booking! Failure To Do So May Result In Your Items Not Being Permitted In The Facility.</li>
                                        <li>Decorations Being Brought Into The Facility May Not Contain Gum, Food, Nuts, Noisemakers Or Items That May Pose A Potential Risk To Other Stir Crazy Guests Or The Facility!</li>
                                        <li>No Decorations Are Permitted To Be Attached To The Walls, Ceiling, Facility Or Furnishings.</li>
                                        <li>ABSOLUTELY NO PINATAS!</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5">
                                <div class="form-group">
                                    <h3 class="stircrazy">Additional Cupcakes</h3>
                                    @for (int i = 0; i < Model.Addons.Count; i++)
                                        {
                                            if (Model.Addons[i].AddonType == AddonType.FlavourCupcake)
                                            {
                                        @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                        @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                        @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                        @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                        @Html.Hidden("PartyAddons[" + index + "].IsIncluded", false)
                                        @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 45px", @class = "form-control cupcakes", pattern = "[0-9]*", data_price = Model.Addons[i].Price })
                                        @Model.Addons[i].Name
                                        @(" ($")@Model.Addons[i].Price@("/Dozen)")<br />
                                                index++;
                                            }
                                        }
                                    <br />Additional Cupcake(s): <b><span id="cupcakeTotal"></span></b>
                                </div>
                                <div class="form-group" id="Flavours">
                                    <h4 class="stircrazy">Icing Colour(s) <small>(Max 2)</small></h4>
                                    @for (int i = 0; i < Model.Addons.Count; i++)
                                        {
                                            if (Model.Addons[i].AddonType == AddonType.FlavourIcing)
                                            {
                                        @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                        @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                        @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                        @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                        @Html.Hidden("PartyAddons[" + index + "].IsIncluded", false)
                                        @Html.CheckBox("PartyAddons[" + index + "].IsSelected", false, new { @style = "width: 45px", @class = "flavours", data_price = Model.Addons[i].Price })
                                        @Model.Addons[i].Name<br />
                                                index++;
                                            }
                                        }
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
            <!-- EDIBLE ARRANGMENTS -->
        if (Model.AddonGroups.Any())
        {
            <!-- EDIBLE ARRANGEMENTS -->
            <div class="row" id="AddonEdibleArrangements">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title"><strong>Edible</strong> Arrangements</h3></div>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <h3 class="stircrazy">Edible Arrangements</h3>
                                <p>
                                    We Partner With Our Good Friends At Edible Arrangements® Mckenzie Towne To Offer You A Selection Of Mouth Watering Fruit Bouquets.
                                    Don't See The Arrangement Of Your Choice Here? Email To <a href="mailto:partycoordinator@stircrazy.ca">partycoordinator@stircrazy.ca</a> To Request Any Bouquet Listed On The Edible Arrangement® Website!
                                </p><br />
                                <div class="form-group col-wrap">
                                    @foreach (var addonGroup in Model.AddonGroups)
                                    {
                                    <div class="col-sm-12 col-md-4 text-center" style="margin-bottom: 5px; min-height: 230px">
                                        <img src="~/img/edible-arrangements/@Html.Raw(addonGroup.Id)@(".jpg")" class="center edible-arrangement" />
                                        <br />@addonGroup.Name<br />
                                        @foreach (var addon in addonGroup.Addons)
                                            {
                                        @Html.Hidden("PartyAddons[" + index + "].Id", addon.Id)
                                        @Html.Hidden("PartyAddons[" + index + "].AddonType", addon.AddonType)
                                        @Html.Hidden("PartyAddons[" + index + "].Name", addon.Name)
                                        @Html.Hidden("PartyAddons[" + index + "].Price", addon.Price)
                                        @Html.Hidden("PartyAddons[" + index + "].IsIncluded", false)
                                        @Html.TextBox("PartyAddons[" + index + "].Quantity", addon.Quantity, new { @style = "width: 45px", @class = "form-control calculated", data_price = addon.Price, pattern = "[0-9]*" })
                                        <span style="width: 50px; display: inline-block">@Html.Raw(addon.Size)</span>
                                        @(" ($")@addon.Price@(")")<br />
                                                index++;
                                            }

                                    </div>
                                    }
                                    <div style="clear:both;padding-top: 10px;padding-left: 10px;"></div>
                                    Edible Arrangement(s): <strong><span class="additional-total"></span></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

            <!-- LOOT BAGS -->
        <div class="row" id="LootBagSection">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Loot</strong> Bags</h3></div>
                    <div class="panel-body">
                        <!-- LOOT BAGS -->
                        @if (Model.Addons.Any(x => x.AddonType == AddonType.LootBag || x.AddonType == AddonType.LootBagDeluxe))
                                {
                        <div class="row" id="AddonLootBag">
                            <p>
                                Stir Crazy Loot Bags Are Low In Sugar And High In Fun And Include An Assortment Of Fun Quality Items Kids Love!
                            </p><br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="stircrazy">Standard Loot Bags</h4>
                                    @for (int i = 0; i < Model.Addons.Count; i++)
                                                {
                                                    if (Model.Addons[i].AddonType == AddonType.LootBag)
                                                    {
                                        @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                        @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                        @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                        @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                        @Html.Hidden("PartyAddons[" + index + "].IsIncluded", false)
                                        @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 45px", @class = "form-control calculated", pattern = "[0-9]*", data_price = Model.Addons[i].Price })
                                        @Model.Addons[i].Name
                                        @(" ($")
                                        @Model.Addons[i].Price
                                        @(")")<br />
                                                        index++;
                                                    }
                                                }
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="stircrazy">Stir Crazy Loot Bags</h4>
                                    @for (int i = 0; i < Model.Addons.Count; i++)
                                                {
                                                    if (Model.Addons[i].AddonType == AddonType.LootBagDeluxe)
                                                    {
                                        @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                        @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                        @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                        @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                        @Html.Hidden("PartyAddons[" + index + "].IsIncluded", false)
                                        @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 45px", @class = "form-control calculated", pattern = "[0-9]*", data_price = Model.Addons[i].Price })
                                        @Model.Addons[i].Name
                                        @(" ($")
                                        @Model.Addons[i].Price
                                        @(")")<br />
                                                        index++;
                                                    }
                                                }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <br />Loot Bag(s): <strong><span class="additional-total"></span></strong><br />
                                </div>
                            </div>
                        </div>
                                }
                    </div>
                </div>
            </div>
        </div>
            <!-- BALLOONS -->
        <div class="row orderSection">
            <div class="col-md-12">
                <div class="panel panel-default" id="BalloonSection">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Party</strong> Balloons</h3></div>
                    <div class="panel-body">
                        <!-- BALLOONS (MYLAR) -->
                        @if (Model.Addons.Any(x => x.AddonType == AddonType.BalloonMylar))
                    {
                        <div class="row" id="AddonBalloonMylar">
                            <div class="col-sm-12">
                                <h3 class="stircrazy">18" Mylar Balloons</h3><hr class="stircrazy" />
                                @for (int i = 0; i < Model.Addons.Count; i++)
                                {
                                    if (Model.Addons[i].AddonType == AddonType.BalloonMylar)
                                    {
                                    <div class="col-sm-6 col-md-4">
                                        @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                        @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                        @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                        @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                        @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 40px", @class = "form-control calculated", data_price = Model.Addons[i].Price, pattern = "[0-9]*" })
                                        @Model.Addons[i].Name
                                        @(" ($")@Model.Addons[i].Price@(")")<br />
                                    </div>
                                        { index = index + 1; }
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">18" Mylar Balloon(s): <strong><span class="additional-total"></span></strong></div>
                        </div>
                    }
                        <!-- BALLOONS (SUPERSHAPE) -->
                        @if (Model.Addons.Any(x => x.AddonType == AddonType.BalloonDeluxe))
                    {
                        <div class="row" id="AddonBalloonDeluxe">
                            <div class="col-sm-12">
                                <h3 class="stircrazy">SuperShape Mylar Balloons</h3><hr class="stircrazy" />
                                @for (int i = 0; i < Model.Addons.Count; i++)
                                {
                                    if (Model.Addons[i].AddonType == AddonType.BalloonDeluxe)
                                    {
                                    <div class="col-sm-6 col-md-4">
                                        @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                        @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                        @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                        @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                        @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 40px", @class = "form-control calculated", data_price = Model.Addons[i].Price, pattern = "[0-9]*" })
                                        @Model.Addons[i].Name
                                        @(" ($")@Model.Addons[i].Price@(")")<br />
                                    </div>
                                        { index = index + 1; }
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">SuperShape Mylar Balloon(s): <strong><span class="additional-total"></span></strong></div>
                        </div>
                    }
                        <!-- BALLOONS (LATEX) -->
                        @if (Model.Addons.Any(x => x.AddonType == AddonType.BalloonLatex))
                    {
                        <div class="row" id="AddonBalloonLatex">
                            <div class="col-sm-12">
                                <h3 class="stircrazy">Latex Balloons</h3><hr class="stircrazy" />
                                @for (int i = 0; i < Model.Addons.Count; i++)
                                {
                                    if (Model.Addons[i].AddonType == AddonType.BalloonLatex)
                                    {
                                    <div class="col-sm-6 col-md-4">
                                        @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                        @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                        @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                        @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                        @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 40px", @class = "form-control calculated", data_price = Model.Addons[i].Price, pattern = "[0-9]*" })
                                        @Model.Addons[i].Name
                                        @(" ($")@Model.Addons[i].Price@(")")<br />
                                    </div>
                                        { index = index + 1; }
                                    }
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">Latex Balloon(s): <strong><span class="additional-total"></span></strong></div>
                        </div>
                    }
                        <!-- BALLOONS (LATEX THEMED) -->
                        @if (Model.Addons.Any(x => x.AddonType == AddonType.BalloonLatexThemed))
                    {

                        <div class="row" id="AddonBalloonLatexThemed">
                            <div class="col-sm-12">
                                <h3 class="stircrazy">Themed Latex Balloons</h3><hr class="stircrazy" />
                                @for (int i = 0; i < Model.Addons.Count; i++)
                                {
                                    if (Model.Addons[i].AddonType == AddonType.BalloonLatexThemed)
                                    {
                                    <div class="col-sm-6 col-md-4">
                                        @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                        @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                        @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                        @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                        @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 40px", @class = "form-control calculated", data_price = Model.Addons[i].Price, pattern = "[0-9]*" })
                                        @Model.Addons[i].Name
                                        @(" ($")@Model.Addons[i].Price@(")")<br />
                                    </div>
                                        { index = index + 1; }
                                    }
                                }

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"> Themed latex balloon(s) <strong><span class="additional-total"></span></strong></div>
                        </div>
                    }
                    </div>
                </div>
            </div>
        </div>
            <!-- ACCESSORIES -->
        <div class="row orderSection">
            <div class="col-md-12">
                <div class="panel panel-default" id="AddonSection">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Party</strong> Addons</h3></div>
                    <div class="panel-body">
                        <div class="row">
                            @if (Model.Addons.Any(x => x.AddonType == AddonType.Tattoo))
                            {
                                <div class="col-sm-12" id="AddonTattoo">
                                    <div class="col-md-6">
                                        <h3 class="stircrazy">Glitter Tattoos</h3>
                                        <p>
                                            Glitter Tattoos Are Super Popular At Stir Crazy!
                                            They Are Applied Using Hypo Allergenic Body Glue And Cosmetic Grade Glitter And Can Last A Week Or Longer!
                                            This Service Must Be Ordered In Advance To Guarantee The Availability Of Tattoo Artists!
                                        </p><br />
                                        <div class="form-group">

                                            @for (int i = 0; i < Model.Addons.Count; i++)
                                            {
                                                if (Model.Addons[i].AddonType == AddonType.Tattoo)
                                                {
                                                    @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                                    @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                                    @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                                    @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                                    @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 45px", @class = "form-control calculated", pattern = "[0-9]*", data_price = Model.Addons[i].Price })
                                                    @Model.Addons[i].Name
                                                    @(" ($")@Model.Addons[i].Price@(")")<br />
                                                    index++;
                                                }
                                            }
                                        </div>
                                        <br />Glitter Tattoo(s) Total: <strong><span class="additional-total"></span></strong>
                                    </div>
                                </div>
                            }
                            @if (Model.Addons.Any(x => x.AddonType == AddonType.AddOns))
                            {
                                <div class="col-md-12" id="AddonAddOns">
                                    <h3 class="stircrazy">Accessories</h3>
                                    <div class="form-group">

                                        @for (int i = 0; i < Model.Addons.Count; i++)
                                        {
                                            if (Model.Addons[i].AddonType == AddonType.AddOns)
                                            {
                                                <div class="col-sm-6 col-md-4">
                                                    @Html.Hidden("PartyAddons[" + index + "].Id", Model.Addons[i].Id)
                                                    @Html.Hidden("PartyAddons[" + index + "].AddonType", Model.Addons[i].AddonType)
                                                    @Html.Hidden("PartyAddons[" + index + "].Name", Model.Addons[i].Name)
                                                    @Html.Hidden("PartyAddons[" + index + "].Price", Model.Addons[i].Price)
                                                    @Html.TextBox("PartyAddons[" + index + "].Quantity", Model.Addons[i].Quantity, new { @style = "width: 45px", @class = "form-control calculated", pattern = "[0-9]*", data_price = Model.Addons[i].Price })
                                                    @Model.Addons[i].Name
                                                    @(" ($")@Model.Addons[i].Price@(")")<br />
                                                </div>
                                                { index = index + 1; }
                                            }
                                        }
                                        <br />Accessories Total: <strong><span class="additional-total"></span></strong>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- SPECIAL INSTRUCTIONS -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Order</strong> Details</h3></div>
                    <div class="panel-body" id="NotesSection">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h3 class="stircrazy">Order Notes</h3>
                                    @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", style = "min-height: 150px" })
                                </div>
                                <div class="form-group col-md-10">
                                    <h4 class="stircrazy">Promotion Code / Gift Certificate</h4>
                                    @Html.TextBoxFor(model => model.Promotion, new { @class = "form-control", style = "width: 50%; display: inline" })
                                    <a id="PromotionCodeValidate" class="btn btn-default">Apply</a>
                                    <span id="PromotionDescription" style="color: red; display: block"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- VALIDATION SUMMARY -->
                                <div id="ValidationSummary" class="col-sm-12 party-validations" style="display: none">
                                    <strong>Your Order Contains The Following Errors:</strong>
                                    <ul></ul>
                                </div>
                                <div class="col-md-6">
                                    <h4 class="stircrazy">Sub Total: <span id="SubTotal"></span></h4>
                                    <h4 class="stircrazy">GST (5%): <span id="GstTotal"></span></h4>
                                </div>
                                <div class="col-md-6">
                                    <h1 class="stircrazy"><span id="FinalTotal"></span></h1>
                                </div>
                                <div class="col-md-10 border-radius">
                                    <div class="form-group">
                                        <label>Payment Method</label>
                                        @Html.EnumDropDownListFor(model => model.PaymentTransaction.TransactionType, new { @class = "form-control" })<br />
                                        <label>Transaction Number (Credit Card/Paypal)</label>
                                        @Html.TextBoxFor(model => model.PaymentTransaction.TransactionNumber, new { @class = "form-control" })<br />
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-rounded btn-default" id="Submit" name="Submit" value="Complete">
                                        <span id="SubmitProgress" style="display: none">
                                            @("Processing ")
                                            <img src="~/img/status-dots-anim.gif" alt="" />
                                        </span>
                                        @Html.ActionLink("Cancel", "Index", "Home", new { @class = "btn btn-rounded btn-default" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@Scripts.Render("~/bundles/stircrazy-booking")
