﻿<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading bg-dark">
            <h3 class="panel-title"><strong>Party </strong> Packages</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <p>Choose A Party Package</p>
                <div class="col-lg-3 col-md-6">
                    <div class="panel no-bd bd-3 panel-stat">
                        <div class="panel-body bg-blue">
                            <a href="/Party/Create/1">
                                <div class="icon">
                                    <i class="fa fa-birthday-cake"></i>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="stat-num">
                                            <h2 class="m-0 w-300">Package</h2>
                                        </div>
                                        <h1>1</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel no-bd bd-3 panel-stat">
                        <div class="panel-body bg-orange">
                            <a href="/Party/Create/2">
                                <div class="icon">
                                    <i class="fa fa-birthday-cake"></i>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="stat-num">
                                            <h2 class="m-0 w-300">Package</h2>
                                        </div>
                                        <h1>2</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel no-bd bd-3 panel-stat">
                        <div class="panel-body bg-green">
                            <a href="/Party/Create/3">
                                <div class="icon">
                                    <i class="fa fa-birthday-cake"></i>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="stat-num">
                                            <h2 class="m-0 w-300">Package</h2>
                                        </div>
                                        <h1>3</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel no-bd bd-3 panel-stat">
                        <div class="panel-body bg-red">
                            <a href="/Party/Create/4">
                                <div class="icon">
                                    <i class="fa fa-gift"></i>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="stat-num">
                                            <h2 class="m-0 w-300">Build Your Own</h2>
                                        </div>
                                        <h1>Package</h1>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>