﻿@Scripts.Render("~/bundles/flexisel")

<div class="flexisel-stircrazy-awards" style="display: none">
    <div class="nbs-flexisel-item">
        <img src="/img/awards/Winner-2011-col.jpg" alt="Calgary's Child Award Winner 2011">
    </div>
    <div class="nbs-flexisel-item">
        <img src="/img/awards/HonMention-2012-ol-col.jpg" alt="Calgary's Child Award Honorable Mention 2012">
    </div>
    <div class="nbs-flexisel-item">
        <img src="/img/awards/Winner-2013-col.jpg" alt="Calgary's Child Award Honorable Winner 2013">
    </div>
    <div class="nbs-flexisel-item">
        <img src="/img/awards/HonMention-2014-ol-col.jpg" alt="Calgary's Child Award Honorable Mention 2014">
    </div>
    <div class="nbs-flexisel-item">
        <img src="/img/awards/Winner-2011-col.jpg" alt="Calgary's Child Award Winner 2011">
    </div>
    <div class="nbs-flexisel-item">
        <img src="/img/awards/HonMention-2012-ol-col.jpg" alt="Calgary's Child Award Honorable Mention 2012">
    </div>
    <div class="nbs-flexisel-item">
        <img src="/img/awards/Winner-2013-col.jpg" alt="Calgary's Child Award Honorable Winner 2013">
    </div>
    <div class="nbs-flexisel-item">
        <img src="/img/awards/HonMention-2014-ol-col.jpg" alt="Calgary's Child Award Honorable Mention 2014">
    </div>
</div>

<script>
    $(".flexisel-stircrazy-awards").click(function () {
        window.open("http://www.calgaryschild.com/parents-choice-awards", "_blank");
        return false;
    });
</script>