﻿@using System.Globalization
@model StirCrazy.Models.Store.StoreModel
<h2>Hours Of Operation</h2>
<table>
    @foreach (var hour in Model.StoreHours)
    {
        <tr>
            <td class="col-sm-6 text-right">@hour.DayOfWeek</td>
            <td class="text-right"> @DateTime.Today.Add(hour.OpenTime).ToString("h:mmtt") @(" - ") @DateTime.Today.Add(hour.ClosedTime).ToString("h:mmtt") </td>
        </tr>
    }
</table>
@if (Model.StoreHolidays.Any())
{
    <h2>Holiday Hours</h2>
    <table>
        @foreach (var holiday in Model.StoreHolidays)
        {
            var startTime = DateTime.ParseExact(holiday.OpenTime, "HH:mm:ss", CultureInfo.InvariantCulture);
            var endTime = DateTime.ParseExact(holiday.ClosedTime, "HH:mm:ss", CultureInfo.InvariantCulture);

            <tr>
                <td class="col-sm-6 text-right">@holiday.Date.ToString("MM/dd/yy") - @holiday.Holiday</td>
                @if (!holiday.IsClosed)
                {
                    <td class="text-right"> @DateTime.Today.Add(startTime.TimeOfDay).ToString("h:mm tt") @(" - ") @DateTime.Today.Add(endTime.TimeOfDay).ToString("h:mm tt") </td>
                }
                else
                {
                    <td> CLOSED </td>
                }
            </tr>
        }
    </table>
}