﻿@model List<StirCrazy.Core.Domain.MediaFile>

<div class="stircrazy-carousel">
    @if (Model.Any())
    {
        var slideCount = Model.Count();
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider stircrazySlider">
                @for (int i = 0; i < slideCount; i++)
                {
                    <img src="@Model[i].FilePath" alt="Welcome to StirCrazy" data-transition="@Model[i].Transition">
                }
            </div>
        </div>

        <script type="text/javascript">
            $(window).load(function () {
                $('#slider').nivoSlider({
                    randomStart: true,
                    pauseTime: 8000,
                    animSpeed: 2000,
                    pauseOnHover: true
                });
            });
        </script>
    }
</div>



