﻿@model List<StirCrazy.Models.SocialFeedModel>
<div id="" style="overflow-y: scroll; overflow-x: hidden; height:350px;">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <div>
                <strong><a href="@item.Link">@item.Title</a></strong>
                <p>@Html.Raw(item.Description)</p>
            </div>
            <hr class="dashed" /><br />
        }
    }
</div>