﻿@model StirCrazy.Models.PopupModel
           
@if (Model.Announcements.Any())
{
    <div id="popup" data-open="" data-close="" style="left: 676px; position: absolute; top: -607px; z-index: 9999; display: none">
        <span class="button b-close"><span>X</span></span>
        <div class="popup-title text-center"><h2 class="stircrazy stircrazy-yellow">New Anouncements!</h2></div>
        <div class="popup-content" style="text-align: center;">
            <hr class="dashed" />
            
            @foreach (var message in Model.Announcements)
            {
                if (message.MediaFileId != null)
                {
                    <img src="@message.MediaFile.FilePath" alt="Stir Crazy Family Fun Centre" />
                }
                else
                {
                    <br /> @message.Message <br />
                }
            }

            <div class="popup-bottom" id="dont-show"><input type="checkbox" /> Do Not Show Again Today</div>
        </div>
    </div>
}