﻿<div class="row">
    <div class="glow glow_blue">
        <div class="col-sm-12">
            <h2 class="stircrazy">OUR MISSION</h2>
            <p>
                To grow happy, healthy children one imagination at a time. We are dedicated to providing a CLEAN. SAFE, FUN & HEALTHY environment for all Stir Crazy guests!
                We aim to deliver the perfect "Party and Play" experience by offering fun stimulating play in a safe clean environment with unique all inclusive party packages
                complimented by impeccable customer care.
            </p>
            <h2 class="stircrazy">ABOUT US</h2>
            <p>
                Michelle and Greg Benson are the co-founders of STIR CRAZY FAMILY FUN CENTRE. The idea of STIR CRAZY was born from a love of family, children and the entrepreneurial spirit.
                <br /><br />
                In the fall of 2009 Greg’s career path took an unexpected turn and it was at that time, Thanks Giving of 2009 to be exact that Michelle and Greg decided to focus on a new dream.
                Michelle already had a successful home based business "KIDZ CAKEZ AND FACEZ" and although it was the right business at the time, Michelle had big plans to grow and evolve it into something AMAZING.
                Drawing on both of their strengths including backgrounds in retail, accounting, party planning, cake decorating, child care, customer service and SO much more, the couple quickly groomed an impressive business plan and began the search for space.
                Coupled with hard work, dedication and a true vision in just 9 short months STIR CRAZY FAMILY FUN CENTRE was born.
                Michelle and Greg continue to "dream big" and grow their vision daily.
                <br /><br />
                Their passion, dedication and love of their business and customers are unique to STIR CRAZY and the quality of care and affordable
                products and services continue to attract families and keep them coming back.
                With such an open forum to both positive and negative feedback STIR CRAZY evolves daily and continues to raise the bar in the FEC industry.
                Together with their 4 children Greg and Michelle have many more plans for their family owned and operated business.
                <br /><br />
                Watch for big things to come, this is just the beginning...
            </p>
        </div>
        <div class="col-sm-12">
            <h2 class="stircrazy">OUR VALUES</h2>
            <p>
                <h4 class="stircrazy" style="display: inline">CLEAN</h4>
                Cleanliness is important to the well being and overall health of all persons especially children.
                We aim to provide a clean and sanitized environment promoting health and wellness for all guests.
                <br /><br />
                <h4 class="stircrazy" style="display: inline">SAFE</h4>
                As parents we know that children participating in indoor play will dart in & out and up & down quickly. 
                With that in mind we have installed the safest play equipment available designed to minimize "blind spots" and allow guardians and staff full visibility at all times. 
                This is our way of promoting the most relaxing, worry-free environment for all. 
                We have implemented Rules viewable online and on site for the safety and enjoyment of all visitors and staff.
                <br /><br />
                <h4 class="stircrazy" style="display: inline">FUN</h4>
                Fun of course is what inspired STIR CRAZY FAMILY FUN CENTRE! The 50's themed atmosphere, smells of fresh baked cakes and sounds of laughter are sure to make any visit a fun, fond and lasting memory.
                We aim to offer ever changing events and classes promoting fun for the entire family. Visit our EVENTS & CLASS pages for more details.
            </p>
        </div>
    </div>
</div>