﻿@model List<StirCrazy.Core.Domain.AppSetting>
<div class="row">
    <div class="glow glow_blue">
        <div class="col-sm-12">
            <h2 class="stircrazy text-center">STIR CRAZY ADMISSION INFORMATION</h2>
            <table class="admission striped-blue table-rounded">
                @foreach (var rate in Model)
                {
                    <tr>
                        <td><i class="fa fa-star"></i> @rate.Meta</td>
                        <td>@rate.Value</td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-sm-12">
            <h2 class="stircrazy text-center">GROUP PACKAGES</h2>            
        </div>
        <div class="col-sm-6">
            <h4 class="stircrazy text-center">Group Package A</h4>
            <table class="admission striped-blue table-rounded">
                <tr>
                    <td>Child Admission - $12.49.</td>
                </tr>
                <tr>
                    <td>Adults And Babies Under 1 Are Free!</td>
                </tr>
                <tr>
                    <td>Admission Includes Mini Cupcake And Juice Box. </td>
                </tr>
                <tr>
                    <td>Minimum 1 Hour Room Rental Required With Package A $50.00/hr</td>
                </tr>
                <tr>
                    <td>Minimum Of 20 Children Required For Booking.</td>
                </tr>
                <tr>
                    <td>Party Rooms Have A Total Capacity For 25. Groups Exceeding 25 Persons May Be Required To Reserve Additional Rooms In Order To Accommodate All Guests.</td>
                </tr>
                <tr>
                    <td>Absolutely No Outside Food Or Beverage Permitted!</td>
                </tr>
                <tr>
                    <td>Socks Required By All Stir Crazy Guests!</td>
                </tr>
                <tr>
                    <td>For further information or to reserve email to <a href="mailto:partycoordinator@stircrazy.ca">partycoordinator@stircrazy.ca</a></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <h4 class="stircrazy text-center">Group Package B</h4>
            <table class="admission striped-blue table-rounded">
                <tr>
                    <td>Tot Admission Ages 1–3 Years Old - $9.49</td>
                </tr>
                <tr>
                    <td>General Admission Aages 4 Years And Up - $11.49</td>
                </tr>
                <tr>
                    <td>Adults and babies under 1 are FREE! </td>
                </tr>
                <tr>
                    <td>Minimum 1 Hour Room Rental Required With Package A $50.00/hr</td>
                </tr>
                <tr>
                    <td>Minimum Of 20 Children Required For Booking.</td>
                </tr>
                <tr>
                    <td>Party Rooms Have A Total Capacity For 25. Groups Exceeding 25 Persons May Be Required To Reserve Additional Rooms In Order To Accommodate All Guests.</td>
                </tr>
                <tr>
                    <td>Absolutely No Outside Food Or Beverage Permitted!</td>
                </tr>
                <tr>
                    <td>Socks Required By All Stir Crazy Guests!</td>
                </tr>
                <tr>
                    <td>For Further Information Or To Reserve Email To <a href="mailto:partycoordinator@stircrazy.ca">partycoordinator@stircrazy.ca</a></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12">
            <h2 class="stircrazy text-center">CORPORATE EVENTS</h2>
            <p class="text-center">
                Stir Crazy Offers Private Rental Of Our Facility For Large Group & Corporate Events.
                <br />For More Information Or To Reserve Your Event Email To <a href="mailto:partycoordinator@stircrazy.ca">partycoordinator@stircrazy.ca</a>
            </p>
            <br /><br />
        </div>
        
        <div class="col-sm-12">
            <h3 class="stircrazy">CAPACITY RESTRICTIONS & WAIT LISTS</h3>
        </div>
        <div class="col-sm-12">
            <ul class="text-left">
                <li>
                    Stir Crazy Adheres To A Strict Maximum Capacity Enforced By Law!
                </li>
                <li>
                    When We Reach Full Capacity Wait Lists Take Immediate Effect!
                </li>
                <li>
                    All Guests Wishing To Check In Are Subject To Wait Lists Including Our Annual Pass Holders!
                </li>
                <li>
                    Waiting Guests Will Not Be Permitted To Check In To The Facility Until It Is Safe To Do So!
                </li>
                <li>
                    Capacity Counts Factor In Pending Party Reservations And Party Guests Receive Priority Entry When Wait Lists Are In Effect!
                </li>
                <li>
                    We Are A Nut And Allergy Aware Facility. No Outside Food Permitted.
                </li>
                <li>
                    Stir Crazy Is A Shoe Free Environment. Socks Required By All Stir Crazy Guests.
                </li>
            </ul>
        </div>
        <div class="col-sm-12"><small>For A Complete List Rules And Regulations: <a href="/Home/Rules">Click Here</a></small><br /></div>
    </div>
</div>