﻿<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<div class="row">
    <!-- Google Maps -->
    <div id="googlemaps" class="google-map"></div>
</div>
<div class="row">
    <div class="glow glow_blue">
        <div class="col-sm-12 col-md-6">
            <a href="/" class="col-xs-4 stircrazy-logo" style="width: 100%"></a>
        </div>
        <div class="col-sm-12 col-md-6">
            <h2 class="stircrazy-address">
                3355 Sunridge Way NE<br />
                Calgary, AB T1Y 7H5<br />
            </h2>
            <br /><br />
        </div>
        <div class="col-sm-12 col-md-6">
            <h3><i class="fa fa-phone"></i> Phone</h3>
            <p>
                <strong>Toll-Free:</strong> <a href="tel:18778917847">1-877-891-STIR <small>(7847)</small></a><br />
                <strong>Phone:</strong> <a href="tel:4032777847">1-403-277-STIR <small>(7847)</small></a><br />
                <strong>Fax:</strong> <a href="tel:4032777847">1-403-277-7846</a>
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <h3><i class="fa fa-envelope"></i> Email</h3>
            <p>
                <strong>General Inquiries:</strong> <a href="mailto:info@StirCrazy.ca">info@stircrazy.ca</a><br />
                <strong>Party Inquiries:</strong> <a href="mailto:partycoordinator@StirCrazy.ca">partycoordinator@stircrazy.ca</a><br />
                <strong>Manager:</strong> <a href="mailto:manager@StirCrazy.ca">manager@stircrazy.ca</a><br />
                <strong>Bakery:</strong> <a href="mailto:bakery@StirCrazy.ca">bakery@stircrazy.ca</a><br />
            </p>
        </div>
    </div>
</div>