﻿@model HandleErrorInfo
<div class="row">
    <div class="glow glow_blue  text-center" style="min-height: 500px">
        <h1 class="stircrazy text-center">We're sorry an error occurred.</h1>
        <p>
            @Model.Exception.Message
        </p>
    </div>
</div>