﻿@model StirCrazy.Models.Carousel.CarouselModel

@Styles.Render("~/Content/nivo-slider")
@Scripts.Render("~/bundles/nivo-slider")

@Styles.Render("~/Content/bpopup")
@Scripts.Render("~/bundles/bpopup")

<div class="row">
    @Html.Partial("_CarouselPartial", Model.CarouselImages)
    <div class="glow glow_blue">
        <div class="col-sm-6">
            <div class="row">
                <h2 class="row stircrazy">Stir Crazy Family Fun Center</h2><br />
                <p>
                    We are one of Calgary's largest Indoor Play & Party Centre’s dedicated to providing a clean, safe and FUN environment for all guests.
                    We cater to moms, dads and children 12 and under.
                    <br /><br />
                    Our facility boasts 18' ceilings and over 11,000 square feet of indoor fun including:
                    <ul>
                        <li>Huge "THEMED" Play Structure</li>
                        <li>Parent & Tot Lounge Complete With Comfortable Seating, Wireless Internet And Tot-Sized Play Area</li>
                        <li>Private Nursing Rooms</li>
                        <li>6 Private Party Rooms</li>
                        <li>All-Inclusive Party Packages <small> with Cakes, Balloons, Loot Bags And More!</small></li>
                        <li>Mini Arcade</li>
                        <li>2 Bounce Houses</li>
                        <li>Concession Counter</li>
                        <li>Birthday Bakery And Cake Pan Rental Service</li>
                    </ul>
                    <br />
                    Drop in to play or book your party TODAY!<br />
                    <div id="packages-button" class="pull-left">
                        <a href="@Url.Action("Packages", "Party")">Book Your Party Online</a>
                    </div>
                </p>
            </div>
            <div class="row">
                <h2 class="stircrazy">Safe & Clean Environment</h2><br />
                <p>
                    Public Health Inspectors operate under the Alberta Public Health Act to ensure compliance with the province's Food Regulation.
                    Stir Crazy is committed to a safe and clean environment, all our health inspections are made viewable at
                    <div id="packages-button" class="pull-left">
                        <a href="http://www12.albertahealthservices.ca/health-inspections/" target="_blank">AHS Health Inspections</a>
                    </div>
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="stircrazy-awards">
                @Html.Partial("_AwardsCarousel")
            </div>
            <div class="row stircrazy-votenow">
                <a href="http://www.calgaryschild.com/parents-choice-awards">
                    <img src="/img/awards/StirCrazy-VoteNow.png" alt="Calgary's Child - Cast Your Vote Now For Stir Crazy Family Fun Centre!" class="rounded" style="width: 100%" />
                </a>
            </div>
            <div class="video-container">
                <br />
                <video poster="/img/video-cover.jpg" controls>
                    <source src="/video/stircrazy-intro.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div><!--vid-->
        </div>
    </div>
</div>

@Html.Action("_PopupMessages", "Home")