﻿<div class="page-break"></div>
<div class="floating-div floating-div-left">
    <h3>Bakery Order: Terms & Conditions</h3>
    <ul>
        <li>Any Special Notes Attached To Your Order Will Be Reviewed The Week Of Your Celebration Or Order Pick Up Date.
        <li>If You Require An Immediate Response Please Email To <a href="mailto:partycoordinator@stircrazy.ca">partycoordinator@("@")stircrazy.ca</a> for assistance.</li>
        <li>A Minimum Of 2 Days Is Required For All Bakery Order Cancellations!
        <li>All Cancellation Requests Must Be Emailed to <a href="mailto:partycoordinator@stircrazy.ca">partycoordinator@("@")stircrazy.ca</a></li>
        <li>Cancellation Requests Will Be Confirmed Via Email If Approved.</li>
        <li>If You Do Not Receive A Confirmation Email Your Order Has Not Been Cancelled.</li>
        <li>It Is Your Responsibility To Ensure Your Request Was Received And Confirmed Prior to Your Order Being Processed Or You Will Still Be Responsible For Your Purchase.</li>
        <li>No Cancellations Or Refunds Will Be Processed With Less Than 2 Days Notice.</li>
        <li>Bakery Or Special Order Food And Party Services Are NOT Permitted In The Common Area!</li>
        <li>All Cakes, Cupcakes, Edible Arrangements And Fresh Food Platters Ect Purchased For Celebration Or Consumption AT STIR CRAZY Must Be Done In Conjunction With A Private Party Room Rental!</li>
        <li>WE ARE A NUT AND ALLERGY AWARE FACILITY! With the exception of cakes absolutely NO OUTSIDE FOOD OR BEVERAGE IS PERMITTED!</li>
        <li>All Custom Edible Images Are A Final Sale!</li>
        <li>NO EXCEPTIONS AT ALL TO THE ABOVE POLICIES!</li>
    </ul>
</div>


