﻿<div class="page-break"></div>
<div class="floating-div floating-div-left">
    <h3>Grab N Go Order: Terms & Conditions</h3>
    <ul>
        <li>GRAB AND GO ORDERS ARE FOR OFF SITE CELEBRATIONS ONLY AND REQUIRE CUSTOMER PICK UP!</li>
        <li>Note; Bakery Or Special Order Food And Party Services Are NOT Permitted In The Stir Crazy Common Area!</li>
        <li>All Cakes, Cupcakes, Edible Arrangements And Fresh Food Platters Ect Purchased For Celebration Or Consumption AT STIR CRAZY Must Be Booked Via a Party Package and in Conjunction With A Private Party Room Rental.</li>
        <li>If you purchased Grab N Go’s in error and wish to celebrate on site email to partycoordinator@stircrazy.ca at least 2 days prior to your scheduled pick up date to have your booking corrected.</li>
        <li>NOTE WE ARE A NUT AND ALLERGY AWARE FACILITY. ABSOLUTLEY NO OUTSIDE FOOD OR BEVERAGE PERMITTED AT STIR CRAZY!</li>
        <li>Any Special Notes Attached To Your Order Will Be Reviewed The Week Of Your Order Pick Up Date.</li>
        <li>If You Require An Immediate Response Please Email To <a href="mailto:partycoordinator@stircrazy.ca">partycoordinator@("@")stircrazy.ca</a> for assistance.</li>
        <li>A minimum of 2 Days Is Required For All Grab N Go Order Cancellations!</li>
        <li>All Cancellation Requests Must Be Emailed to <a href="mailto:partycoordinator@stircrazy.ca">partycoordinator@("@")stircrazy.ca</a></li>
        <li>Cancellation Requests Will Be Confirmed Via Email If Approved.</li>
        <li>If You Do Not Receive A Confirmation Email Your Order Has Not Been Cancelled.</li>
        <li>It Is Your Responsibility To Ensure Your Request Was Received And Confirmed Prior to Your Order Being Processed Or You Will Still Be Responsible For Your Purchase.</li>
        <li>No Cancellations Or Refunds Will Be Processed With Less Than 2 Days Notice.</li>
        <li>NO EXCEPTIONS AT ALL TO THE ABOVE POLICIES!</li>
    </ul>
</div>


