﻿@model StirCrazy.Admin.Models.Account.RegisterViewModel

<div class="col-lg-12">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>User</strong> Information</h3></div>
                    <div class="panel-body">
                        <div class="row">
                            @Html.ValidationSummary(true)
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Street Address</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Province</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Province, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Postal Code</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Choose</strong> Password</h3></div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <strong>Password must be at least 7 characters long and each of the following:</strong>
                                <ul>
                                    <li>Uppercase letter</li>
                                    <li>Lowercase letter</li>
                                    <li>Special character or Number.</li>
                                </ul>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off" })
                                </div>                                <br />
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="controls">
                                <input type="submit" value="Save & Finish" class="btn btn-dark btn-rounded" />
                                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default btn-rounded" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>