﻿@model StirCrazy.Admin.Models.Account.UserRolesModel

<div class="col-lg-12">
    @using (Html.BeginForm("Roles", "Account", FormMethod.Post, new { encType = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-12">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(s => s.Id)

                @Html.ValidationSummary(true)

                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>User</strong> Roles</h3></div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 20px">Access</th>
                                    <th class="text-left">Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Roles.Any())
                                {
                                    int i = 0;

                                    foreach (var role in Model.Roles)
                                    {
                                        <tr>
                                            <td class="text-center">@Html.CheckBoxFor(m => Model.Roles[i].Selected)</td>
                                            <td>
                                                @role.RoleName
                                                @Html.HiddenFor(m => Model.Roles[i].RoleName)
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="controls">
                                <input type="submit" value="Save & Finish" class="btn btn-dark btn-rounded" />
                                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default btn-rounded" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>