﻿@model StirCrazy.Admin.Models.Party.PartyRoomModel

<div class="col-lg-12">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Room</strong> Details</h3></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Capacity</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Capacity, new { @class = "form-control", style = "width: 40px" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Description</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="ui-checkbox">
                                    <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off">
                                        Allow Scheduling
                                        @Html.CheckBoxFor(model => model.IsAvailable)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Helpful</strong> Information</h3></div>
                    <div class="panel-body">
                        <p>
                            Party rooms can be created easily and quickly by providing the following information.
                            <br />Don't want the room to be scheduled until further notice? no problem,
                            simply uncheck allow scheduling to hide the room from the party booking screen.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="controls">
                                <input type="submit" value="Save & Finish" class="btn btn-dark btn-rounded" />
                                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default btn-rounded" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>