﻿@model StirCrazy.Admin.Models.Party.PartyRoomModel

<div class="col-lg-12">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Room</strong> Details</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Name</label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.Name, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Description</label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.Description, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Capacity</label>
                                <div class="controls">
                                    @Html.DisplayFor(model => model.Capacity, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Allow Scheduling</label>
                                <div class="controls">
                                    @Html.CheckBoxFor(model => model.IsAvailable, new { @class = "form-control", disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Helpful</strong> Information</h3></div>
                <div class="panel-body">
                    <p>
                        Party rooms can be created easily and quickly by providing the following information.
                        <br />Don't want the room to be scheduled until further notice? no problem,
                        simply uncheck allow scheduling to hide the room from the party booking screen.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>