﻿@model IEnumerable<StirCrazy.Admin.Models.Party.PartyRoomModel>

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading bg-dark">
            <h3 class="panel-title"><strong>Party </strong> rooms</h3> <a href="/PartyRoom/Create" class="btn btn-default btn-rounded btn-sm pull-right"><i class="fa fa-plus"></i> Party Room</a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive filter-right">
                    @if (!Model.Any())
                    {
                        <div class="alert bg-gray-light">
                            It doesn't look like you have any party rooms currently.
                            <a href="/PartyRoom/Create">Create a new party room?</a>
                        </div>
                    }
                    else
                    {
                        <table id="datatable" class="table table-striped table-hover table-dynamic table-dark dataTable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Capacity</th>
                                    <th>Scheduling</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Capacity)
                                        </td>
                                        <td>
                                            @((item.IsAvailable) ? "Yes" : "No")
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>