﻿@model IEnumerable<StirCrazy.Models.Addons.AddonModel>
<div class="row">
    <div class="glow glow_blue">
        <h1 class="stircrazy">Grab N Go's</h1>
        <div class="col-md-12">
            <h2 class="stircrazy">PARTY FOOD</h2>
            <table class="admission striped-blue table-rounded">
                <tr>
                    <td>
                        Food Platters
                        <small>
                            (Veg, Cheese, Fruit, Sandwhich)<br />
                        </small>
                    </td>
                    <td style="width: 100px">$30.00 ea</td>
                </tr>
                <tr>
                    <td>
                        Individual Pizzas
                        <small>
                            (Pepperoni Or Cheese)<br />
                        </small>
                    </td>
                    <td style="width: 100px">$5.00 ea</td>
                </tr>
            </table>
            

            <h2 class="stircrazy">LOOT BAGS</h2>
            <table class="admission striped-blue table-rounded">
                <tr>
                    <td>
                        Standard
                    </td>
                    <td style="width: 100px">$4.99 ea</td>
                </tr>
                <tr>
                    <td>
                        Stir Crazy Loots
                    </td>
                    <td style="width: 100px">$6.99 ea</td>
                </tr>
            </table>
            <h2 class="stircrazy">BALLOONS</h2>
            <table class="admission striped-blue table-rounded">
                <tr>
                    <td>
                        Standard Latex
                    </td>
                    <td style="width: 100px">$1.25 ea</td>
                </tr>
                <tr>
                    <td>
                        Themed Latex
                    </td>
                    <td style="width: 100px">$1.99 ea</td>
                </tr>
                <tr>
                    <td>
                        18" Mylar
                    </td>
                    <td style="width: 100px">$4.99 ea</td>
                </tr>
                <tr>
                    <td>
                        Super Shape Mylar
                    </td>
                    <td style="width: 100px">$10.99 ea</td>
                </tr>
                <tr>
                    <td>
                        Air Filled
                    </td>
                    <td style="width: 100px">$3.25 ea</td>
                </tr>
            </table>
        </div>
    </div>
</div>

