﻿<div class="row">
    <div class="glow glow_blue  text-center" style="min-height: 500px">
        <h1 class="stircrazy text-center">We're sorry an error occurred.</h1>
        <p>
            The room for the timeslot scheduled is no longer available.<br />
            We apologize for any inconvenience, please contact partycoordinator@("@")stircrazy.ca to process your refund.
        </p>
    </div>
</div>