﻿@using StirCrazy.Core.Utilities
@model StirCrazy.Models.Party.PartyCardModel
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invites</title>
    <link href="~/Content/party-cards.css" rel="stylesheet" type="text/css" />
    <style>
        .invite {
            position: relative;
            width: 490px; /* for IE 6 */
            text-align: center;
        }

        #birthday-child {
            position: absolute;
            top: 200px;
            left: 50px;
            width: 100%;
            font-size: 3em;
        }

        #birthday-location {
            position: absolute;
            top: 335px;
            left: 75px;
        }

        #birthday-date {
            position: absolute;
            top: 433px;
            left: 30px;
            width: 100%;
        }

        #birthday-room {
            position: absolute;
            top: 520px;
            left: 115px;
            width: 100%;
        }

        #birthday-rsvp {
            position: absolute;
            top: 590px;
            left: 200px;
            width: 100%;
            text-align: left;
            font-size: 0.9em;
        }
    </style>
</head>
<body>
    <div class="invite">
        <img src="/img/party/SC-Birthday-Invite--card-vrmvd.png" alt="" />
        <h1 class="stircrazy" id="birthday-child">@Model.Child.FirstName</h1>
        <h3 id="birthday-location" style="font-weight: bold">
            3355 Sunridge Way NE<br />Calgary, AB
        </h3>
        <h3 id="birthday-date" style="font-weight: bold">
            @Model.RoomBooking.Date.ToString("dddd MMMM d, yyyy")<br />
            @DateTime.Today.Add(Model.RoomBooking.TimeSlot.CheckInTime).ToString("h:mm tt") -
            @DateTime.Today.Add(Model.RoomBooking.TimeSlot.CheckOutTime).ToString("h:mm tt")
        </h3>
        <h3 id="birthday-room" style="font-weight: bold">@Model.RoomBooking.PartyRoom.Name</h3>
        <h3 id="birthday-rsvp" style="font-weight: bold">
            @Model.Parent.FullName.ToUpper()<br />
            Email: @Model.Parent.Email<br />
            Phone: @HtmlHelperExtensions.PhoneNumber(Model.Parent.PhoneNumber)
        </h3>
    </div>
</body>
</html>
