﻿@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Map</title>
    <style type="text/css" media="all">
        body {
            font: 9pt/1.2 Arial, sans-serif;
        }

        .content {
            width: 9.5in;
        }
    </style>

</head>
<body>
    <div class="content"> <img src="/img/party/FA-MapStirCrazy_Map.png" alt="" /> </div>
</body>
</html>
