﻿<div class="row">
    <div class="glow glow_blue">
        <div class="col-sm-12">
            <h2 class="stircrazy">All Inclusive Party Packages 1 & 2</h2>
            <p>Choose From Licensed Party Themes And 6 Private Party Rooms.</p>
            <div class="col-sm-12 col-md-5 party-disclaimer">
                <p>
                    <b>Includes 2.5-Hour Booking/Room Rental:</b>
                    <ul>
                        <li>Check-In & Play (30 min)</li>
                        <li>Party Room (90 min)</li>
                        <li>Check-Out & Play (30 min)</li>
                    </ul>
                    You Are Welcome To Stay And Play Past Your Checkout Time<br />
                    Provided We Are Not At Capacity.
                </p>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="packages-tabs blue">
                <span>Package 1</span>
                <span>Package 2</span>
            </div>
            <table class="packages striped-blue">
                <tr>
                    <td class="border-top-left-radius">Admission And Access To Play Area For 8 Children (Including Birthday Child)</td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                </tr>
                <tr>
                    <td>Themed Place Settings For 8</td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                </tr>
                <tr>
                    <td>
                        Party Host/hostess - Hostess Will Set Up And Clean Up The Room And Check On You
                        Periodically. Hostess Is Not In The Room For The Duration Of The Party!
                    </td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                </tr>
                <tr>
                    <td>Cake And Candles (Choice Of Chocolate, Vanilla Or Marble. Gluten Free Options Also Available)</td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                </tr>
                <tr>
                    <td>No Need For Your Birthday Star To Share The Spotlight At Stir Crazy With 90 Minutes In A Private Party Room Of Your Choice</td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                </tr>
                <tr>
                    <td>18" Mylar Balloon For The Birthday Child And Standard Latex Balloons For Remaining Party Guests</td>
                    <td><i class="fa fa-times-circle fa-lg"></i></td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                </tr>
                <tr>
                    <td>
                        Choice Of 2 Food Platters – If Party Consists Of Maximum Guest Count An Additional Platter Option Is Awarded
                    </td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                    <td><i class="fa fa-times-circle fa-lg"></i></td>
                </tr>
                <tr>
                    <td>
                        Choice Of 3 Food Platters – If Party Consists Of Maximum Guest Count An Additional Platter Option Is Awarded
                    </td>
                    <td><i class="fa fa-times-circle fa-lg"></i></td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                </tr>
                <tr>
                    <td>
                        *Food Platter Options - Assorted Sandwich, Fruit And 8 Yogurt Tubes, Veggies & Dip And
                        Cheese & Crackers
                    </td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                </tr>
                <tr>
                    <td>Assorted Beverage Service For 8 (Water & Juice)</td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                </tr>
                <tr>
                    <td>8 Standard Loot Bags</td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                </tr>
                <tr>
                    <td class="border-bottom-left-radius"><strong>Cost</strong></td>
                    <td><strong>$339.99</strong></td>
                    <td class="border-bottom-right-radius"><strong>$389.99</strong></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div id="packages-button" class="col-sm-12">
                <a href="@Url.Action("Create", "Party", new RouteValueDictionary { { "Id", "2" } })">Select Package 2</a>
                <a href="@Url.Action("Create", "Party", new RouteValueDictionary { { "Id", "1" } })">Select Package 1</a>
            </div>
        </div>
        <div class="col-xs-12">
            <p class="col-md-4 pull-right">
                To Check Availability Or Reserve A Date, Select The Package Of Your Choice And Complete All Required Booking And Payment Steps.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="list-title">All Inclusive Party Packages: Terms & Conditions</h3>
                <div class="col-sm-4 list-terms">
                    <ul>
                        <li>
                            Party Bookings Are 2.5 Hours In Length. First 30 Minutes Is Check In And Play, Next 90 Minutes Party Room And Continued Play Time, Last 30 Minutes Is Checkout And Play. You Are Welcome To Stay And Play Past Your Checkout Time Provided We Are Not At Capacity.
                        </li>
                        <li>
                            All Room Capacities Hold A Maximum Of 25 Total Guests With The Exception Of The Lime Room Which Holds 30 Guests.
                        </li>
                        <li>
                            Total Guest Count Includes Adults And Babies And Cannot Exceed Room Capacity.
                        </li>
                        <li>
                            Additional “Package Guests” Are $22.99 Each.
                            The Additional Package Guest Price Cover All Applicable Party Package Inclusions. General Admissions Added DO NOT Include Package Inclusions!
                            Up To 7 Additional “Package Guests” Allowed.
                        </li>
                        <li>
                            Adults And Babies Under 1 Are Free!
                        </li>
                        <li>
                            You Are Welcome To Bring Your Own Cake However No Credit Will Be Applied To The Already Discounted Package Price!
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 list-terms">
                    <ul>
                        <li>With The Exception Of Birthday Cakes, Absolutely No Outside Food Or Beverage Permitted!</li>
                        <li>Cakes Of ANY Kind Are Only Permitted With The Rental Of A Private Room! Cakes Of ANY Kind Are NOT Permitted In The Common Area.</li>
                        <li>WE ARE A NUT AND ALLERGY AWARE FACILITY!</li>
                        <li>Cakes Requiring Refrigeration Or That Contain Ice Cream Or Nut Products Are Not Permitted!</li>
                        <li>Additional Food Trays Are $30 Each, Serve 6-8 And Must Be Ordered 2 Days In Advance.</li>
                        <li>Party Room Coolers And Tabs Are Available On Party Day For Additional Food And Beverage Purchases.</li>
                        <li>Guests Purchasing Package #1 Or #2 Are Welcome To Bring In Their Own Non Stir Crazy Loot Bags And Themed Place Settings And No Surcharges Will Be Applied. Outside Balloons Are Also Welcome BUT A Surcharge Is Applicable On Package #1</li>
                    </ul>
                </div>
                <div class="col-sm-4 list-terms">
                    <ul>
                        <li>No Credits Will Be Applied To The Already Discounted Package Price When Choosing To Bring In Your Own Loot Bags, Themed Place Settings Or Balloons!</li>
                        <li>NO HELIUM TANKS PERMITTED ON SITE!</li>
                        <li>Non Stir Crazy Or Outside Loot Bags May Not Contain Gum, Food, Nut Products, Noise Makers Or Other Items That May Cause Potential Damage To The Facility Or Pose A Risk To Or Disturb Other Facility Guests.</li>
                        <li>Absolutely No Decorations Are Permitted To Be Attached To The Walls, Ceiling, Facility, Or Furnishings!</li>
                        <li>Absolutely No Pinatas!</li>
                        <li>Special Requests Welcome.</li>
                        <li>Birthday Upgrades And Add-ons Available.</li>
                        <li>Prices And Package Content Are Subject To Substitution Or Change Without Notice!</li>
                        <li>No Mandatory Gratuities At Stir Crazy!</li>
                        <li>SOCKS ARE REQUIRED FOR ALL STIR CRAZY GUESTS INCLUDING ADULTES AND BABIES!</li>
                        <li>Socks are available for purchase.</li>
                        <li>Complete List Of Facility Rules Here</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="glow glow_purple">
        <div class="col-sm-12">
            <h2 class="stircrazy">Standard Party Package 3</h2>
            <p>Choose From Licensed Party Themes And 6 Private Party Rooms.</p>
            <div class="col-sm-12 col-md-5 party-disclaimer">
                <p>
                    <b>Includes 2.5-Hour Booking/Room Rental:</b>
                    <ul>
                        <li>Check-In & Play (30 min)</li>
                        <li>Party Room (90 min)</li>
                        <li>Check-Out & Play (30 min)</li>
                    </ul>
                    You Are Welcome To Stay And Play Past Your Checkout Time<br />
                    Provided We Are Not At Capacity.
                </p>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="packages-tabs purple">
                <span>Package 3</span>
            </div>
            <table class="packages striped-purple">
                <tr>
                    <td class="border-top-left-radius">Admission And Access To The Play Area For 9 Children (Including The Birthday Child)</td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                </tr>
                <tr>
                    <td>Cutlery & Generic Paper Products For 9 Guests</td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                </tr>
                <tr>
                    <td>No Need For Your Birthday Star To Share The Spotlight At Stir Crazy With 90 Minutes In A Private Party Room Of Your Choice</td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                </tr>
                <tr>
                    <td>Assorted Beverage Service For 9 (Water And Juice)</td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                </tr>
                <tr>
                    <td>9 Individual Pizzas (Pepperoni Or Cheese)</td>
                    <td><i class="fa fa-check-circle fa-lg"></i></td>
                </tr>
                <tr>
                    <td class="border-bottom-left-radius"><strong>Cost</strong></td>
                    <td class="border-bottom-right-radius">
                        <strong>Mon-Thurs</strong> $99.99<br />
                        <strong>Fridays</strong> $119.99<br />
                        <strong>Sat & Sun</strong> $249.99
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div id="packages-button" class="col-sm-12">
                <a href="@Url.Action("Create", "Party", new RouteValueDictionary { { "Id", "3" } })">Select Package 3</a>
            </div>
        </div>
        <div class="col-xs-12">
            <p class="col-md-4 pull-right">
                To Check Availability Or Reserve A Date, Select The Package Of Your Choice And Complete All Required Booking And Payment Steps.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="list-title">Standard Party Package: Terms & Conditions</h3>
                <div class="col-sm-4 list-terms">
                    <ul>
                        <li>Party Bookings Are 2.5 Hours In Length. First 30 Minutes Is Check In And Play, Next 90 Minutes Party Room And Continued Play Time, Last 30 Minutes Is Checkout And Play. You Are Welcome To Stay Play Past Your Checkout Time Provided We Are Not At Capacity.</li>
                        <li>Additional “Package Guests” Are $16.00 Each. The Additional Package Guest Covers All Applicable Party Package Inclusions. General Admissions Added DO NOT Include Package Inclusions! Up To 9 Additional Package Guests Allowed.</li>
                        <li>Adults And Babies Under 1 Are Free!</li>
                        <li>All Room Capacities Hold A Maximum Of 25 Total Guests With The Exception Of The Lime Room Which Holds 30 Guests.</li>
                        <li>Total Guest Count Including Adults And Babies May Not Exceed Room Capacity.</li>
                        <li>Pizzas Included May Not Be Substituted For Food Platters.</li>
                        <li>Additional Food Platters Are $30.00 Each, Serve 6-8 And Must Be Ordered At Least 2 Day In Advance.</li>
                    </ul>
                </div>
                <div class="col-sm-4 list-terms">
                    <ul>
                        <li>Stir Crazy Cakes Can Be Added To Your Package For $45.00. Cakes Must Be Ordered At Least 2 Days In Advance!</li>
                        <li>Stir Crazy Cakes Can Be Added To Your Package for $45.00 And Must Be Ordered 2 Days In Advance.</li>
                        <li>With The Exception Of Birthday Cakes Absolutely No Outside Food Or Beverage Permitted!</li>
                        <li>Cakes Of ANY Kind Are Only Permitted With The Rental Of A Private Room! Cakes Of ANY Kind Are NOT Permitted In The Common Area.</li>
                        <li>If Bringing In Your Own Cake Please Note; WE ARE A NUT AND ALLERGY AWARE FACILITY! Cakes Requiring Refrigeration Or That Contain Ice Cream Or Nut Products Are Not Permitted!</li>
                        <li>Party Room Coolers And Tabs Are Available On Party Day For Additional Food And Beverage Purchases.</li>
                        <li>No Height Or Age Restrictions!</li>
                        <li>Special Requests Welcome.</li>
                        <li>Birthday Upgrades And Add-Ons Available. </li>
                        <li>No Mandatory Gratuities At Stir Crazy!</li>
                    </ul>
                </div>
                <div class="col-sm-4 list-terms">
                    <ul>
                        <li>Prices And Package Content Are Subject To Substitution Or Change Without Notice!</li>
                        <li>Loot Bags, Themed Place Settings And Balloons Are Available For Purchase Through Stir Crazy. Package #3 Guests Wishing To Bring In Non-stir Crazy Loot Bags, Themed Place Settings And Balloons Are Subject To The Applicable Surcharges; $2.00 Per Loot Bag/Package Guest And $2.00 Per Place Setting/Package Guest. $5.00 Flat Fee To Bring In Balloons.</li>
                        <li>NO HELIUM TANKS PERMITTED ON SITE!</li>
                        <li>No Credit Will Be Applied To Party Package #3 Bookings Wishing To Bring In Their Own Loot Bags, Place Settings Or Balloons.</li>
                        <li>Non Stir Crazy Or Outside Loot Bags May Not Contain Gum, Food, Nut Products, Noise Makers Or Items That May Cause Potential Damage To The Facility Or Pose A Risk To Or Disturb Other Guests.</li>
                        <li>absolutely no decorations are permitted to be attached to the walls, ceiling, facility or furnishings.</li>
                        <li>Absolutely No Pinatas!</li>
                        <li>SOCKS ARE REQUIRED FOR ALL STIR CRAZY GUESTS INCLUDING ADULTS AND BABIES!</li>
                        <li>Socks are available for purchase.</li>
                        <li>Complete List Of Facility Rules Here</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="glow glow_yellow">
            <div class="col-sm-12">
                <div class="col-sm-4 list-terms">
                    <h3>Party Changes/Requests:</h3>
                    <ul>
                        <li>All Party Changes/requests Must Be Submitted via Email to <a href="mailto:partycoordinator@stircrazy.ca">partycoordinator@("@")stircrazy.ca</a></li>
                        <li>Only Changes Received to the Party Coordinator Email Will Be Considered.</li>
                        <li>Any and All Party Changes Must Be Received No Less than 2 Days Prior to Your Party Date!</li>
                    </ul>
                </div>
                <div class="col-sm-4 list-terms">
                    <h3>Cancellation Policy:</h3>
                    <ul>
                        <li>Cancellations Made More than 5 Days Prior to the Scheduled Booking Date Will Receive a Full Refund.</li>
                        <li>Cancellations Within 4 Days of the Booking Date Will Receive a Full Refund Less a $75.00 Cancellation Fee.</li>
                        <li>Cancellations Made Within 72 Hours of the Booking Date Will Receive a Full Refund Less a $100.00 Cancellation Fee.</li>
                        <li>Cancellations Made Within 48 Hours or Less of the Booking Date Are Not Entitled to a Refund.</li>
                    </ul>
                    <p>NO EXCEPTIONS AT ALL TO THE ABOVE POLICY!</p>
                </div>
                <div class="col-sm-4 list-terms">
                    <h3>Party Rescheduling Policy:</h3>
                    <ul>
                        <li>Parties Wishing to Reschedule Within 5 Days of the Original Party Date May Do so Without Incurring Rescheduling or Administration Fees.</li>
                        <li>Parties Wishing to Reschedule Within 4 Days of the Original Party Date Will Incur a $50.00 Administration Fee and Be Required to Cover the Cost of Any Food And/or Product Already Purchased And/or Prepared for the Original Event Date.</li>
                        <li>Note Rescheduled Parties Forfeit the Right to Future Cancellations or Refunds.</li>
                    </ul>
                    <p>NO EXCEPTIONS AT ALL TO THE ABOVE POLICY!</p>
                </div>
            </div>
        </div>
    </div></div>
