﻿@using StirCrazy.Core.Domain.Party
@using StirCrazy.Core.Utilities
@model StirCrazy.Models.Order.PartyOrderModel
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <style type="text/css" media="all">
        body {
            font: 9pt/1.2 Arial, sans-serif;
        }

        .content {
            width: 9.5in;
        }

        .floating-div {
            float: left;
            margin: 1%;
            -moz-page-break-inside: avoid;
            page-break-inside: avoid;
        }

        .floating-div-left {
            width: 55%;
        }

        .floating-div-right {
            width: 40%;
        }

        .page-break {
            page-break-after: always;
        }
    </style>
</head>
<body onload="window.print()">
    <div class="content">
        <img src="/img/logo.png" />
        <br>
        <div class="floating-div floating-div-left">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Party</strong> Overview</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <h1>@Model.PartyPackage.Name.ToUpper()</h1>
                                    <h2>@Model.RoomBooking.PartyRoom.Name Room</h2>
                                    @if (Model.PartyPackage.Guests > 0)
                                    {
                                        <h3>@(Model.PartyPackage.Guests) PACKAGE GUESTS</h3>
                                    }
                                    <h4>@(Model.PartyTheme.ToUpper())</h4>
                                    <br />
                                    @if (Model.PartyPackage.Id != 4)
                                    {
                                        <h3>Party Package  $@(Model.PartyPackage.Price) </h3>
                                    }
                                    @if (Model.PartyPackage.Id == 4)
                                    {
                                        <h3>Room Rental  $@(Model.PartyPackage.Price) </h3>
                                    }
                                    <br />
                                    @if (Model.AdditionalGuests > 0)
                                    {
                                        <span><strong>Additional Guests</strong><br /> @Model.AdditionalGuests @("-") @string.Format("{0:c}", (Model.AdditionalGuests * Model.PartyPackage.GuestPrice)) ($@Model.PartyPackage.GuestPrice ea.)</span><br />
                                    }
                                    @if (Model.PrepaidAdmissions > 0)
                                    {
                                        <span><strong>Pre-Paid Admissions</strong><br /> @Model.PrepaidAdmissions @("-") @string.Format("{0:c}", (Model.PrepaidAdmissions * 9.49m)) ($9.49 ea.)</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <h3>@Model.RoomBooking.Date.ToString("ddd MMM dd, yyyy").ToUpper()</h3>
                                    <b>Check-In</b><br /> @DateTime.Today.Add(Model.RoomBooking.TimeSlot.CheckInTime).ToString("h:mm tt")<br />
                                    <b>Room Time</b><br /> @DateTime.Today.Add(Model.RoomBooking.TimeSlot.StartTime).ToString("h:mm tt") - @DateTime.Today.Add(Model.RoomBooking.TimeSlot.EndTime).ToString("h:mm tt")<br />
                                    <b>Check-Out</b><br />@DateTime.Today.Add(Model.RoomBooking.TimeSlot.CheckOutTime).ToString("h:mm tt")<br />
                                    <br /><small>Feel free to stay and play later provided we are not at capacity at either time.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="controls">
                                    @if (Model.Notes != null)
                                    {
                                        <br /> @Html.Raw(Model.Notes.Replace(Environment.NewLine, "<br/>"))
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Parent / Child</strong> Information</h3></div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="controls">
                                <h3>@Model.Parent.FullName</h3>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Address</label>
                            <div class="controls">
                                @Model.Parent.Address<br />
                                @Model.Parent.City, @Model.Parent.Province @Model.Parent.PostalCode<br />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Phone Number</label>
                            <div class="controls">
                                @HtmlHelperExtensions.PhoneNumber(Model.Parent.PhoneNumber)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Email Address</label>
                            <div class="controls">
                                @Model.Parent.Email
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="controls">
                                <h3>@Model.Child.FullName</h3>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Gender</label>
                                <div class="controls">
                                    @Model.Child.Gender
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Age</label>
                                <div class="controls">
                                    @Model.Child.Age
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Party</strong> Balloons</h3>
                </div>
                <div class="panel-body">
                    <h4>Included Balloons</h4><hr class="dashed" />
                    <!-- UPGRADED BALLOONS -->
                    @if (Model.UpgradeLatexBalloons && !Model.HasOwnBalloons)
                    {
                        <small>@("*** Upgraded Latex Balloons To Themed Balloons ($")@((Model.PartyPackage.Guests + Model.AdditionalGuests) - 1)@(".00) ***")</small>
                        <br />
                    }

                    <!-- OWN BALLOONS -->
                    @if (Model.HasOwnBalloons && Model.PartyPackage.Id != 2)
                    {
                        <small>@("*** Bringing Own Balloons ($5.00) ***")</small>
                        <br /><br />
                        <span class="pull-right">Total: $5.00</span>
                    }
                    @if (Model.HasOwnBalloons && Model.PartyPackage.Id == 2)
                    {
                        <small>@("*** Bringing Own Balloons ***")</small><br /><br />
                    }

                    @if (!Model.HasOwnBalloons)
                    {
                        foreach (var addon in Model.PartyPackage.PackageAddons.Where(x => x.AddonType == AddonType.BalloonMylar))
                        {
                            @addon.Quantity @(" - 18\" Mylar Ballon(s)")<br />
                        }

                        foreach (var addon in Model.PartyPackage.PackageAddons.Where(x => x.AddonType == AddonType.BalloonDeluxe))
                        {
                            @addon.Quantity @(" - SuperShape Balloon(s)")<br />
                        }

                        foreach (var addon in Model.PartyPackage.PackageAddons.Where(x => x.AddonType == AddonType.BalloonLatex))
                        {
                            if (Model.PartyPackage.Id == 2)
                            {
                                @(Model.PartyPackage.Guests + Model.AdditionalGuests - 1)
                                @(" - Colour Latex Balloon(s)")<br />
                            }
                            else
                            {
                                @addon.Quantity @(" - Colour Latex Balloon(s)")<br />
                            }
                        }

                        foreach (var addon in Model.PartyPackage.PackageAddons.Where(x => x.AddonType == AddonType.BalloonLatexThemed))
                        {
                            @addon.Quantity @(" - Themed Latex Balloon(s)")<br />
                        }
                    }

                    @if (!Model.PackageAddons.Any(x => x.AddonType == AddonType.BalloonMylar || x.AddonType == AddonType.BalloonDeluxe || x.AddonType == AddonType.BalloonLatex || x.AddonType == AddonType.BalloonLatexThemed) && !Model.UpgradeLatexBalloons && !Model.HasOwnBalloons)
                    {
                        @("--- None ---")<br />
                    }

                    <br /><h4>Additional Balloons</h4><hr class="dashed" />
                    @if (!Model.PartyAddons.Any(x => x.AddonType == AddonType.BalloonMylar && !x.IsIncluded
                                                     || x.AddonType == AddonType.BalloonDeluxe && !x.IsIncluded
                                                     || x.AddonType == AddonType.BalloonLatex && !x.IsIncluded
                                                     || x.AddonType == AddonType.BalloonLatexThemed && !x.IsIncluded))
                    {
                        @("--- None ---")<br />
                    }

                    @if (Model.PartyAddons.Any(x => x.AddonType == AddonType.BalloonMylar && !x.IsIncluded))
                    {
                        <br /><strong>18" Mylar Balloon(s)</strong>
                        <span class="pull-right">
                            @string.Format("{0:c}", Model.PartyAddons.Where(x => x.AddonType == AddonType.BalloonMylar && !x.IsIncluded).Sum(y => y.Quantity * y.Price))
                        </span>
                        <br />
                        foreach (var addon in Model.PartyAddons.Where(x => x.AddonType == AddonType.BalloonMylar && !x.IsIncluded))
                        {
                            @addon.Quantity @(" - ") @addon.Name @(" ($") @addon.Price @(" ea.)") <br />
                        }
                        <br />
                    }

                    @if (Model.PartyAddons.Any(x => x.AddonType == AddonType.BalloonDeluxe && !x.IsIncluded))
                    {
                        <br /><strong>SuperShape Mylar Balloon(s)</strong>
                        <span class="pull-right">
                            @string.Format("{0:c}", Model.PartyAddons.Where(x => x.AddonType == AddonType.BalloonDeluxe && !x.IsIncluded).Sum(y => y.Quantity * y.Price))
                        </span>
                        <br />
                        foreach (var addon in Model.PartyAddons.Where(x => x.AddonType == AddonType.BalloonDeluxe && !x.IsIncluded))
                        {
                            @addon.Quantity @(" - ") @addon.Name @(" ($") @addon.Price @(" ea.)") <br />
                        }
                        <br />
                    }

                    @if (Model.PartyAddons.Any(x => x.AddonType == AddonType.BalloonLatex && !x.IsIncluded))
                    {
                        <br /><strong>Latex Balloon(s)</strong>
                        <span class="pull-right">
                            @string.Format("{0:c}", Model.PartyAddons.Where(x => x.AddonType == AddonType.BalloonLatex && !x.IsIncluded).Sum(y => y.Quantity * y.Price))
                        </span>
                        <br />
                        foreach (var addon in Model.PartyAddons.Where(x => x.AddonType == AddonType.BalloonLatex && !x.IsIncluded))
                        {
                            @addon.Quantity @(" - ") @addon.Name @(" ($") @addon.Price @(" ea.)") <br />
                        }
                        <br />
                    }

                    @if (Model.PartyAddons.Any(x => x.AddonType == AddonType.BalloonLatexThemed && !x.IsIncluded))
                    {
                        <br /><strong>Themed Latex Balloon(s)</strong>
                        <span class="pull-right">
                            @string.Format("{0:c}", Model.PartyAddons.Where(x => x.AddonType == AddonType.BalloonLatexThemed && !x.IsIncluded).Sum(y => y.Quantity * y.Price))
                        </span>
                        <br />
                        foreach (var addon in Model.PartyAddons.Where(x => x.AddonType == AddonType.BalloonLatexThemed && !x.IsIncluded))
                        {
                            @addon.Quantity @(" - ") @addon.Name @(" ($") @addon.Price @(" ea.)") <br />
                        }
                        <br />
                    }
                    <br /><br /><br />
                    <span class="pull-right">
                        Total: @string.Format("{0:c}", Model.PartyAddons.Where(x => (x.AddonType == AddonType.BalloonDeluxe || x.AddonType == AddonType.BalloonMylar || x.AddonType == AddonType.BalloonLatex || x.AddonType == AddonType.BalloonLatexThemed) && !x.IsIncluded).Sum(y => y.Quantity * y.Price))
                    </span>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Party</strong> Addons</h3></div>
                <div class="panel-body">

                    @if (!Model.PartyAddons.Any(x => x.AddonType == AddonType.LootBag && x.IsIncluded || x.AddonType == AddonType.LootBagDeluxe && x.IsIncluded) && !Model.HasOwnLootBag)
                    {
                        <h4>Included Loot Bags</h4><hr class="dashed" />
                        @("--- None ---")<br />
                    }

                    @if (Model.PartyAddons.Any(x => x.AddonType == AddonType.LootBag && x.IsIncluded || x.AddonType == AddonType.LootBagDeluxe && x.IsIncluded) && !Model.HasOwnLootBag)
                    {
                        foreach (var addon in Model.PartyAddons.Where(x => x.AddonType == AddonType.LootBag && x.IsIncluded || x.AddonType == AddonType.LootBagDeluxe && x.IsIncluded))
                        {
                            <h4>Included Loot Bags</h4><hr class="dashed" />
                            @addon.Quantity @(" - ") @addon.Name<br />
                        }
                    }

                    @if (Model.HasOwnLootBag && (Model.PartyPackage.Id == 1 || Model.PartyPackage.Id == 2))
                    {
                        <h4>Loot Bags</h4><hr class="dashed" />
                        <small>@("*** Bringing Own Loot Bags ***")</small>
                        <br />
                        <span class="pull-right">Total: $0.00</span><br />
                    }

                    @if (Model.HasOwnLootBag && (Model.PartyPackage.Id == 3))
                    {
                        <h4>Loot Bags</h4><hr class="dashed" />
                        <small>@("*** Bringing Own Loot Bags (")@string.Format("{0:c}", (Model.PartyPackage.Guests + Model.AdditionalGuests) * 2)@(") ***")</small>
                        <br />
                        <span class="pull-right">Total: @string.Format("{0:c}", (Model.PartyPackage.Guests + Model.AdditionalGuests) * 2)</span><br />
                    }

                    @if (Model.HasOwnLootBag && (Model.PartyPackage.Id == 4))
                    {
                        <h4>Loot Bags</h4><hr class="dashed" />
                        <small>@("*** Bringing Own Loot Bags (")@string.Format("{0:c}", (Model.PartyPackage.Guests + Model.PrepaidAdmissions) * 2)@(") ***")</small>
                        <br />
                        <span class="pull-right">Total: @string.Format("{0:c}", (Model.PartyPackage.Guests + Model.PrepaidAdmissions) * 2)</span><br />
                    }

                    @if (Model.UpgradeLootBags)
                    { <small> @("*** Upgraded To Stir Crazy Loot Bags ($")@((Model.PartyPackage.Guests + Model.AdditionalGuests) * 2)@(".00) ***")</small><br /> }

                    <br /><h4>Additional Loot Bags</h4><hr class="dashed" />
                    @if (!Model.PartyAddons.Any(x => x.AddonType == AddonType.LootBag && !x.IsIncluded || x.AddonType == AddonType.LootBagDeluxe && !x.IsIncluded))
                    {
                        @("--- None ---")<br />
                    }
                    else
                    {
                        foreach (var addon in Model.PartyAddons.Where(x => x.AddonType == AddonType.LootBag && !x.IsIncluded || x.AddonType == AddonType.LootBagDeluxe && !x.IsIncluded))
                        {
                            @addon.Quantity @(" - ") @addon.Name @(" ($") @addon.Price @(" ea.)")<br />
                        }
                        <br /><span class="pull-right">Total: @string.Format("{0:c}", Model.PartyAddons.Where(x => x.AddonType == AddonType.LootBag && !x.IsIncluded || x.AddonType == AddonType.LootBagDeluxe && !x.IsIncluded).Sum(y => y.Quantity * y.Price))</span>
                    }

                    <br /><h4>Tattoos</h4><hr class="dashed" />
                    @if (Model.PartyAddons.All(x => x.AddonType != AddonType.Tattoo))
                    {
                        @("--- None ---")<br />
                    }
                    else
                    {
                        foreach (var addon in Model.PartyAddons.Where(x => x.AddonType == AddonType.Tattoo))
                        {
                            @addon.Quantity @(" - ") @addon.Name @(" ($") @addon.Price @(" ea.)")<br />
                        }
                        <br /><span class="pull-right">Total: @string.Format("{0:c}", Model.PartyAddons.Where(x => x.AddonType == AddonType.Tattoo && !x.IsIncluded).Sum(y => y.Quantity * y.Price))</span>
                    }
                    <br /><h4>Accessories</h4><hr class="dashed" />
                    @if (Model.PartyAddons.All(x => x.AddonType != AddonType.AddOns))
                    {
                        @("--- None ---")<br />
                    }
                    else
                    {
                        foreach (var addon in Model.PartyAddons.Where(x => x.AddonType == AddonType.AddOns))
                        {
                            @addon.Quantity @(" - ") @addon.Name @(" ($") @addon.Price @(" ea.)")<br />
                        }
                        <br /><span class="pull-right">Total: @string.Format("{0:c}", Model.PartyAddons.Where(x => x.AddonType == AddonType.AddOns && !x.IsIncluded).Sum(y => y.Quantity * y.Price))</span>
                    }
                </div>
            </div>
        </div>
        <div class="floating-div floating-div-right">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Party Theme</strong> Details</h3></div>
                <div class="panel-body">
                    <h4>@(Model.PartyTheme.ToUpper())</h4>
                    @{ int total = 0; }
                    @if (Model.HasOwnDecor && (Model.PartyPackageId == 1 || Model.PartyPackageId == 2))
                    {
                        <small>@("*** Bringing Own Decorations ***")</small>
                    }
                    @if (Model.HasOwnDecor && Model.PartyPackageId == 3)
                    {
                        <small>@("*** Bringing Own Decorations ($2.00/Guest) ***")</small>
                        <br /><br />
                        { total += ((Model.PartyPackage.Guests + Model.AdditionalGuests) * 2); }
                    }
                    @if (Model.HasOwnDecor && Model.PartyPackageId == 4)
                    {
                        <small>@("*** Bringing Own Decorations ($2.00/Guest) ***")</small>
                        <br /><br />
                        { total += ((Model.PartyPackage.Guests + Model.PrepaidAdmissions) * 2); }
                    }
                    @if (Model.AddPlaceSetting && (Model.PartyPackageId == 1 || Model.PartyPackageId == 2))
                    {
                        <h4>Themed Place Settings</h4><hr class="dashed" />
                        <small>@("*** " + Model.PartyTheme + " Themed Place Setting. ***")</small><br />
                    }

                    @if (Model.AddPlaceSetting && Model.PartyPackageId == 3)
                    {
                        <h4>Themed Place Settings</h4>
                        <hr class="dashed" />
                        <small>@("*** Added " + Model.PartyTheme + " Themed Place Setting. ($5.00/Guest) ***")</small>
                        <br />
                        { total += ((Model.PartyPackage.Guests + Model.AdditionalGuests) * 5); }
                    }
                    @if (Model.AddPlaceSetting && Model.PartyPackageId == 4)
                    {
                        <br /><h4>Themed Place Settings</h4>
                        <hr class="dashed" />
                        <small>@("*** Added " + Model.PartyTheme + " Themed Place Setting. ($5.00/Guest) ***")</small><br />
                        { total += ((Model.PartyPackage.Guests + Model.AdditionalGuests + Model.PrepaidAdmissions) * 5); }
                    }

                    @if (Model.HasOwnPlaceSetting && Model.PartyPackage.Id != 4)
                    {
                        <small>@("*** Bringing Own Place Settings ($2.00/Guest) ***")</small><br />
                        { total += ((Model.PartyPackage.Guests + Model.AdditionalGuests) * 2); }
                    }

                    @if (Model.HasOwnPlaceSetting && Model.PartyPackage.Id == 4)
                    {
                        <small>@("*** Bringing Own Place Settings ($2.00/Guest) ***")</small><br />
                        { total += ((Model.PartyPackage.Guests + Model.PrepaidAdmissions) * 2); }
                    }

                    <br /><span class="pull-right">Total: $@(total)@(".00")</span>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Cake / Cupcake</strong> Details</h3></div>
                <div class="panel-body">
                    @if (Model.PartyPackage.HasCake && !Model.AddCake && !Model.HasCupcakes)
                    {
                        <h4>Included Cake</h4><hr class="dashed" />
                        if (Model.HasOwnCake && !Model.HasCupcakes)
                        { <small>@("*** Bringing Own Cake ***")</small><br /> }

                        if (!Model.HasOwnCake && !string.IsNullOrEmpty(Model.CakeTheme) && !string.IsNullOrEmpty(Model.CakeFlavour) && !Model.HasCupcakes && !Model.AddCake)
                        {
                            @Model.CakeFlavour.ToUpper() @(" - ") @Model.CakeTheme.ToUpper()
                        }
                        else
                        { @("--- None ---")<br /> }
                    }
                    @if (Model.AddCake)
                    {
                        <h4>Cake</h4><hr class="dashed" />
                        if (Model.HasOwnCake && !Model.HasCupcakes)
                        { <small>@("*** Bringing Own Cake ***")</small><br /> }

                        if (!Model.HasOwnCake && Model.CakeTheme != null && !Model.HasCupcakes)
                        {
                            @Model.CakeFlavour.ToUpper() @(" - ") @Model.CakeTheme.ToUpper()
                        }

                        <br /><br />
                        <span class="pull-right">Total: $45.00</span>
                    }

                    @if (!Model.AddCake && !Model.PartyPackage.HasCake)
                    {
                        <h4>Cake</h4><hr class="dashed" />
                        if (Model.HasOwnCake && !Model.HasCupcakes)
                        { <small>@("*** Bringing Own Cake ***")</small><br /> }
                    }

                    @if (Model.HasCupcakes)
                    {
                        <h4>Cake</h4><hr class="dashed" />
                        <small>@("*** Swapped Included Cake For Cupcakes  ***")</small><br />
                        foreach (var cupcake in Model.PartyAddons.Where(x => x.AddonType == AddonType.FlavourCupcake && x.IsIncluded))
                        {
                            @("18 - ") @cupcake.Name @(" Cupcakes (Included)")<br />
                        }

                        <br /><strong>@("Colour(s): ")</strong>
                        @Html.Raw(string.Join(", ", Model.PartyAddons.Where(x => x.AddonType == AddonType.FlavourIcing && x.IsIncluded).Select(y => y.Name)))<br />
                    }
                    <br /><h4>Additional Cupcakes</h4><hr class="dashed" />
                    @if (!Model.PartyAddons.Any(x => x.AddonType == AddonType.FlavourCupcake && !x.IsIncluded))
                    {
                        @("--- None ---")<br />
                    }
                    else
                    {
                        foreach (var cupcake in Model.PartyAddons.Where(x => x.AddonType == AddonType.FlavourCupcake && !x.IsIncluded))
                        {
                            @cupcake.Quantity @(" Dozen - ") @cupcake.Name @(" ($") @cupcake.Price @("/Dozen)")<br />
                        }

                        <br /><strong>@("Colour(s): ")</strong>
                        @Html.Raw(string.Join(", ", Model.PartyAddons.Where(x => x.AddonType == AddonType.FlavourIcing && !x.IsIncluded).Select(y => y.Name)))
                        <br /><br />
                        <span class="pull-right">Total: @string.Format("{0:c}", Model.PartyAddons.Where(x => x.AddonType == AddonType.FlavourCupcake && !x.IsIncluded).Sum(y => y.Quantity * y.Price))</span>
                    }
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Food / Beverage</strong> Details</h3></div>
                <div class="panel-body">
                    @* FOOD PLATTERS - INCLUDED *@
                    @if (Model.PartyAddons.Any(x => x.AddonType == AddonType.FoodPlatter && x.IsIncluded))
                    {
                        <h4>Included Food Platters</h4><hr class="dashed" />

                        if (Model.SwapFoodPlatter)
                        {
                            <small>@("*** Swapped Included Food Platter(s) For Personal Pizza(s). ***")</small><br />
                        }
                        if (!Model.PartyAddons.Any(x => x.AddonType == AddonType.FoodPlatter && x.IsIncluded))
                        {
                            @("--- None ---")<br />
                        }
                        else
                        {
                            foreach (var addon in Model.PartyAddons.Where(x => x.AddonType == AddonType.FoodPlatter && x.IsIncluded))
                            {
                                @addon.Quantity @(" - ") @addon.Name<br />
                            }
                        }
                    }

                    @* FOOD PLATTERS - ADDITIONAL *@
                    @if (Model.PartyAddons.Any(x => x.AddonType == AddonType.FoodPlatter && !x.IsIncluded) && (Model.PartyPackage.Id == 1 || Model.PartyPackage.Id == 2))
                    {
                        <h4>Additional Food Platters</h4><hr class="dashed" />

                        if (!Model.PartyAddons.Any(x => x.AddonType == AddonType.FoodPlatter && !x.IsIncluded))
                        {
                            @("--- None ---")<br />
                        }
                        else
                        {
                            foreach (var addon in Model.PartyAddons.Where(x => x.AddonType == AddonType.FoodPlatter && !x.IsIncluded))
                            {
                                @addon.Quantity @(" - ") @addon.Name @(" ($") @addon.Price @(" ea.)")<br />
                            }

                            <br /><span class="pull-right">Total: @string.Format("{0:c}", Model.PartyAddons.Where(x => x.AddonType == AddonType.FoodPlatter && !x.IsIncluded).Sum(y => y.Quantity * y.Price))</span><br />
                        }
                    }

                    @* FOOD PLATTERS *@
                    @if (Model.PartyAddons.Any(x => x.AddonType == AddonType.FoodPlatter && !x.IsIncluded) && (Model.PartyPackage.Id == 3 || Model.PartyPackage.Id == 4))
                    {
                        <h4>Food Platters</h4><hr class="dashed" />

                        if (!Model.PartyAddons.Any(x => x.AddonType == AddonType.FoodPlatter && !x.IsIncluded))
                        {
                            @("--- None ---")<br />
                        }
                        else
                        {
                            foreach (var addon in Model.PartyAddons.Where(x => x.AddonType == AddonType.FoodPlatter && !x.IsIncluded))
                            {
                                @addon.Quantity @(" - ") @addon.Name @(" ($") @addon.Price @(" ea.)")<br />
                            }

                            <br /><span class="pull-right">Total: @string.Format("{0:c}", Model.PartyAddons.Where(x => x.AddonType == AddonType.FoodPlatter && !x.IsIncluded).Sum(y => y.Quantity * y.Price))</span><br />
                        }
                    }


                    @* PERSONAL PIZZAS - INCLUDED *@
                    @if (Model.PartyAddons.Any(x => x.AddonType == AddonType.FoodPizza && x.IsIncluded))
                    {
                        <h4>Included Personal Pizzas</h4><hr class="dashed" />

                        if (Model.SwapFoodPlatter)
                        {
                            <small>@("*** Swapped Included Food Platter(s) For Personal Pizza(s). ***")</small><br />
                        }
                        if (!Model.PartyAddons.Any(x => x.AddonType == AddonType.FoodPizza && x.IsIncluded))
                        {
                            @("--- None ---")<br />
                        }
                        else
                        {
                            foreach (var addon in Model.PartyAddons.Where(x => x.AddonType == AddonType.FoodPizza && x.IsIncluded))
                            {
                                @addon.Quantity @(" - ") @addon.Name<br />
                            }
                        }
                    }

                    @* PERSONAL PIZZAS - ADDITIONAL *@
                    @if (Model.PartyAddons.Any(x => x.AddonType == AddonType.FoodPizza && !x.IsIncluded) && (Model.PartyPackage.Id == 1 || Model.PartyPackage.Id == 2))
                    {
                        <h4>Additional Personal Pizzas</h4><hr class="dashed" />

                        if (!Model.PartyAddons.Any(x => x.AddonType == AddonType.FoodPizza && !x.IsIncluded))
                        {
                            @("--- None ---")<br />
                        }
                        else
                        {
                            foreach (var addon in Model.PartyAddons.Where(x => x.AddonType == AddonType.FoodPizza && !x.IsIncluded))
                            {
                                @addon.Quantity @(" - ") @addon.Name @(" ($") @addon.Price @(" ea.)")<br />
                            }
                        }

                        <br /><span class="pull-right">Total: @string.Format("{0:c}", Model.PartyAddons.Where(x => x.AddonType == AddonType.FoodPizza && !x.IsIncluded).Sum(y => y.Quantity * y.Price))</span><br />
                    }

                    @* PERSONAL PIZZAS *@
                    @if (Model.PartyAddons.Any(x => x.AddonType == AddonType.FoodPizza && !x.IsIncluded) && (Model.PartyPackage.Id == 3 || Model.PartyPackage.Id == 4))
                    {
                        <h4>Personal Pizzas</h4><hr class="dashed" />

                        if (!Model.PartyAddons.Any(x => x.AddonType == AddonType.FoodPizza && !x.IsIncluded))
                        {
                            @("--- None ---")<br />
                        }
                        else
                        {
                            foreach (var addon in Model.PartyAddons.Where(x => x.AddonType == AddonType.FoodPizza && !x.IsIncluded))
                            {
                                @addon.Quantity @(" - ") @addon.Name @(" ($") @addon.Price @(" ea.)")<br />
                            }

                            <br /><span class="pull-right">Total: @string.Format("{0:c}", Model.PartyAddons.Where(x => x.AddonType == AddonType.FoodPizza && !x.IsIncluded).Sum(y => y.Quantity * y.Price))</span><br />
                        }
                    }

                    @* BEVERAGES - INCLUDED *@
                    @if (Model.PartyAddons.Any(x => x.AddonType == AddonType.Beverage && x.IsIncluded))
                    {
                        <h4>Included Beverages</h4><hr class="dashed" />

                        if (!Model.PartyAddons.Any(x => x.AddonType == AddonType.Beverage && x.IsIncluded))
                        {
                            @("--- None ---")<br />
                        }
                        else
                        {
                            foreach (var addon in Model.PartyAddons.Where(x => x.AddonType == AddonType.Beverage && x.IsIncluded))
                            {
                                @addon.Quantity @(" - ") @addon.Name<br />
                            }
                        }
                    }

                    @* BEVERAGES - ADDITIONAL *@
                    @if (Model.PartyAddons.Any(x => x.AddonType == AddonType.Beverage && !x.IsIncluded) && (Model.PartyPackage.Id == 1 || Model.PartyPackage.Id == 2))
                    {
                        <h4>Additional Beverages</h4><hr class="dashed" />

                        if (!Model.PartyAddons.Any(x => x.AddonType == AddonType.Beverage && !x.IsIncluded))
                        {
                            @("--- None ---")<br />
                        }
                        else
                        {
                            foreach (var addon in Model.PartyAddons.Where(x => x.AddonType == AddonType.Beverage && !x.IsIncluded))
                            {
                                @addon.Quantity @(" - ") @addon.Name @(" ($") @addon.Price @(" ea.)")<br />
                            }

                            <br /><span class="pull-right">Total: @string.Format("{0:c}", Model.PartyAddons.Where(x => x.AddonType == AddonType.Beverage && !x.IsIncluded).Sum(y => y.Quantity * y.Price))</span><br />
                        }
                    }

                    @* BEVERAGES *@
                    @if (Model.PartyAddons.Any(x => x.AddonType == AddonType.Beverage && !x.IsIncluded) && (Model.PartyPackage.Id == 3 || Model.PartyPackage.Id == 4))
                    {
                        <h4>Beverages</h4><hr class="dashed" />

                        if (!Model.PartyAddons.Any(x => x.AddonType == AddonType.Beverage && !x.IsIncluded))
                        {
                            @("--- None ---")<br />
                        }
                        else
                        {
                            foreach (var addon in Model.PartyAddons.Where(x => x.AddonType == AddonType.Beverage && !x.IsIncluded))
                            {
                                @addon.Quantity @(" - ") @addon.Name @(" ($") @addon.Price @(" ea.)")<br />
                            }

                            <br /><span class="pull-right">Total: @string.Format("{0:c}", Model.PartyAddons.Where(x => x.AddonType == AddonType.Beverage && !x.IsIncluded).Sum(y => y.Quantity * y.Price))</span><br />
                        }
                    }

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Edible</strong> Arrangements</h3></div>
                <div class="panel-body">
                    @if (!Model.PartyAddons.Any(x => x.AddonType == AddonType.EdibleArrangement && !x.IsIncluded))
                    {
                        @("--- None ---")<br />
                    }
                    else
                    {
                        foreach (var addon in Model.PartyAddons.Where(x => x.AddonType == AddonType.EdibleArrangement && !x.IsIncluded))
                        {
                            @addon.Quantity @(" - ") @addon.Name @(" ($") @addon.Price @(" ea.)")<br />
                        }
                        <span class="pull-right">Total: @string.Format("{0:c}", Model.PartyAddons.Where(x => x.AddonType == AddonType.EdibleArrangement && !x.IsIncluded).Sum(y => y.Quantity * y.Price))</span>
                    }
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Payment</strong> Details</h3></div>
                <div class="panel-body">
                    <div class="col-xs-12 col-md-12">
                        <h1 class="payment-total">$@Model.Total.ToString("0.00")</h1>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        <span>Sub-total <strong class="pull-right">$@Model.SubTotal.ToString("0.00")</strong></span><br />
                        <span>GST <strong class="pull-right">$@Model.Tax.ToString("0.00")</strong></span><br />
                        @if (Model.Discount > 0)
                        {
                            <br />
                            <span>Discount <strong class="pull-right">$@Model.SubTotal.ToString("0.00")</strong></span><br />
                            <span>Promotion <strong class="pull-right">$@Model.SubTotal.ToString("0.00")</strong></span><br />
                        }

                        @if (Model.PaymentTransaction != null)
                        {
                            <br />
                            <span>Payment <strong class="pull-right">@Model.PaymentTransaction.TransactionType.GetDisplayName() - @Model.PaymentTransaction.PaymentStatus</strong></span><br />
                            <span>Transaction <strong class="pull-right">@(Model.PaymentTransaction.TransactionNumber ?? "Not Applicable")</strong></span><br />
                            <span>Status <strong class="pull-right">@Model.Status</strong></span><br />
                        }
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Thank You For Ordering!</h2>
                    <p>
                        Your order is on it's way to our team and we look forward to seeing you soon,
                        you should get a confirmation email from us shortly.<br />
                        Should you wish to change your order please feel free to email us at <a href="mailto:partycoordinator@stircrazy.ca">partycoordinator@("@")stircrazy.ca</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
        <div style="clear:both"></div>
        <div class="content">

            @switch (Model.PartyPackageId)
            {
                case 1:
                    Html.RenderPartial("Policies/_AllInclusivePackages");
                    break;

                case 2:
                    Html.RenderPartial("Policies/_AllInclusivePackages");
                    break;

                case 3:
                    Html.RenderPartial("Policies/_StandardPackages");
                    break;

                default:
                    Html.RenderPartial("Policies/_BuildYourOwnPackage");
                    break;
            }

        </div>
</body>
</html>
