﻿@model StirCrazy.Models.Party.PartyCardModel
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invites</title>
    <link href="~/Content/party-cards.css" rel="stylesheet" type="text/css" />
    <style>
        .invite {
            position: relative;
            width: 490px; /* for IE 6 */
            text-align: center;
        }

        #birthday-child {
            position: absolute;
            top: 235px;
            left: 10px;
            width: 100%;
        }

        #birthday-expires {
            position: absolute;
            top: 600px;
            left: 215px;
        }

    </style>
</head>
<body>
    <div class="invite">
        <img src="/img/party/SC-Birthday-TY-card-vrmvd.png" alt="" />
        <h3 class="stircrazy" id="birthday-child">@Model.Child.FirstName's<br /> Party</h3>
        <h3 id="birthday-expires" style="font-weight: bold">
            @Model.RoomBooking.Date.AddDays(30).ToString("dddd MMMM d, yyyy")<br />
        </h3>
    </div>
</body>
</html>
