﻿@model StirCrazy.Models.Gallery.PartyThemeModel

@Styles.Render("~/Content/nivo-lightbox")
@Scripts.Render("~/bundles/nivo-lightbox")

<div class="row">
    <div class="glow glow_blue">
        <h2 class="stircrazy">Party Cakes & Themes</h2>
        <p>
            Below Is A List Of Our Current Party Package Cakes And Themes!<br />
            In Addition To What You See Here Stir Crazy Has Access To Many More Popular Licensed Themes And We Do Photo Cakes!
            <br />Visit Our <a href="/Bakery">Bakery Page</a> For More Information On These And All Other Exclusive Stir Crazy Birthday Bakery Services!
        </p>
        <br />
        <ul>
            <li>Stir Crazy Cakes Are A 10 X 10 Slab With A Single Icing Border Wrapping The Entire Cake.</li>
            <li>While Your Chosen Cake Theme Choice Will Always Remain The Same The Image Itself May Vary Depending On What Is Currently Available From The Supplier.</li>
            <li>Cake Images Vary!</li>
        </ul>
        <div class="col-sm-12 imagelightbox">
            <ul>
                @if (Model.GalleryImages.Any())
                {
                    foreach (var galleryImage in Model.GalleryImages)
                    {
                        <li><a href="@galleryImage.FilePath" data-imagelightbox="a"><img src="@galleryImage.ThumbnailPath" alt=""></a></li>
                    }
                }
            </ul>
        </div>
        <p>

        </p>
    </div>
</div>
<script>
    $(function () { $('a').nivoLightbox(); });
</script>