﻿@charset "utf-8";

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular_0.eot');
    src: url('../fonts/opensans-regular_0.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular_0.woff') format('woff'), url('../fonts/opensans-regular_0.ttf') format('truetype'), url('../fonts/opensans-regular_0.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/381103516-OpenSans-BoldItalic_0.eot');
    src: url('../fonts/381103516-OpenSans-BoldItalic_0.eot?#iefix') format('embedded-opentype'), url('../fonts/381103516-OpenSans-BoldItalic_0.svg#Open Sans') format('svg'), url('../fonts/381103516-OpenSans-BoldItalic_0.woff') format('woff'), url('../fonts/381103516-OpenSans-BoldItalic_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'varela_roundregular';
    src: url('../fonts/varelaround-regular-webfont.eot');
    src: url('../fonts/varelaround-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/varelaround-regular-webfont.woff') format('woff'), url('../fonts/varelaround-regular-webfont.ttf') format('truetype'), url('../fonts/varelaround-regular-webfont.svg#varela_roundregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anja_eliane_accentnornal';
    src: url('../fonts/anja_eliane_accent002-webfont.eot');
    src: url('../fonts/anja_eliane_accent002-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/anja_eliane_accent002-webfont.woff') format('woff'), url('../fonts/anja_eliane_accent002-webfont.ttf') format('truetype'), url('../fonts/anja_eliane_accent002-webfont.svg#anja_eliane_accentnornal') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ========================================================
    Layout Components
   ======================================================== */

body {
    background: url(../img/starburst-light.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-color: #f69522;
    margin: 0;
    padding: 0;
}

#starkids {
    background: url(/img/wrapper-starkids.png) no-repeat top;
    -ms-background-size: 100%;
    background-size: 100%;
}

#balloons {
    background: url(/img/wrapper-balloons_full.png) center bottom no-repeat;
    -ms-background-size: 100%;
    background-size: 100%;
    background-attachment: fixed;
    padding-bottom: 40px;
}

input, select {
    color: #000000;
    margin: 2px;
}

strong {
    color: inherit;
}

p {
    margin: 5px;
}

h1 small, h2 small, h3 small, h4 small {
    color: inherit;
}

hr.stircrazy {
    border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(250, 239, 35, 1), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(250, 239, 35, 1), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(250, 239, 35, 1), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(250, 239, 35, 1), rgba(0,0,0,0));
}

hr.dashed {
    border: none;
    border-top: dashed 1px #ddd;
    color: #ffffff;
    background-color: #ffffff;
    margin: 0;
}

hr.vertically {
    width: 0;
    border: 0;
    height: 100%;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(250, 239, 35, 1), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(250, 239, 35, 1), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(250, 239, 35, 1), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(250, 239, 35, 1), rgba(0,0,0,0));
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

video {
    width: 100% !important;
    height: auto !important;
    -ms-border-radius: 15px;
    border-radius: 15px;
}

.video-container {
    /*margin-top: 10%;*/
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.footer {
    background: #fff;
    padding: 20px;
}

    .footer h2 {
        margin: 15px 0;
        color: #2ba9dc;
        font-size: 18px;
        text-transform: uppercase;
    }

.copyright {
    background: url("/img/menu-bg.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    color: #000;
    line-height: 1;
    text-align: center;
    padding: 12px 0;
    margin-bottom: 15px;
    -ms-border-radius: 0;
    border-radius: 0;
    -ms-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.small-print {
    font-size: 65%;
    display: block;
}

.stircrazy {
    font-family: 'anja_eliane_accentnornal';
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: black;
    margin: 10px;
    display: block;
    line-height: 1;
}

.stircrazy-yellow {
    color: #f8ef26 !important;
    -webkit-text-fill-color: #f8ef26 !important;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: black;
}

.stircrazy-awards {
    background-color: #fff;
    -ms-border-radius: 15px;
    border-radius: 15px;
    padding: 15px;
}

.google-map {
    height: 300px;
}

span.b-close {
    line-height: 30px !important;
    float: right;
}

.fa-twitter-square {
    color: #F8F050;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #f69522;
}

.fa-facebook-square {
    color: #2ba9dc;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #f69522;
}

.fa-linkedin-square {
    color: #f69522;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #f69522;
}

.fa-pinterest-square {
    color: #f32034;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #f69522;
}

.fa-instagram {
    color: #009f52;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #f69522;
}

.fa-share-alt-square {
    color: #1e1f78;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: #f69522;
}

#stircrazy {
    margin: 0 auto;
}

.submit-progress {
    color: #333 !important;
}

a.stircrazy-logo {
    background: url("/img/logo.png") no-repeat;
    -ms-background-size: contain;
    background-size: contain;
    position: relative;
    width: 316px;
    height: 110px;
    display: inline;
    margin: 0;
}

div.stircrazy-carousel {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.shopping-cart {
    display: block;
    margin-top: 10px;
    list-style: none;
    color: #333;
}

    .shopping-cart li {
        border-right: #fff solid 1px;
        padding: 0 10px;
        display: block;
        float: left;
    }

        .shopping-cart li a {
            text-decoration: none;
            color: #fff;
        }

    .shopping-cart ul li a:hover {
        text-decoration: none;
    }

    .shopping-cart ul li:last-child {
        border-right: none;
    }

#totals_container {
    position: fixed;
    padding: 5px;
    border: 1px solid #F8F050;
    border-radius: 5px;
    background: rgba(255,251,216,0.6);
}

#totals_wrapper {
    float: right;
}

/* ========================================================
    Inputs / Forms
   ======================================================== */

.form-control {
    display: inline;
}

/* ========================================================
    Misc. Components
   ======================================================== */
div.img-rounded {
    margin: 5px;
}

.img-rounded {
    display: block;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
    border-radius: 150px;
}

.rounded {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

.circle {
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
    border-radius: 150px;
}

.stircrazy-votenow {
    width: 100%;
    height: 8em;
    overflow: hidden;
    margin-top: 10px;
}

    .stircrazy-votenow img {
        min-width: 100%;
        min-height: 100%;
    }

/* ========================================================
    Edible Arrangements
   ======================================================== */
div.edible-arrangement {
    margin: 5px;
}

.edible-arrangement {
    display: block;
    width: 150px;
    height: 150px;
    border-color: #eee;
    border: 0.625em solid rgba( 255, 255, 255, .5 );
    -ms-border-radius: 15px;
    border-radius: 15px;
}

.col-wrap div:nth-child(3n+1) {
    clear: left;
}

/* ========================================================
    Navigation Menu
   ======================================================== */

.navigation {
    margin-top: 30px;
    float: left;
    position: relative;
    width: 100%;
}

.navbar {
    margin-bottom: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -ms-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -ms-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}

.navbar-brand {
    display: none;
}

.navbar-default {
    background: url("../img/menu-bg.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 0px solid transparent;
}

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        background-color: #2eccf9;
    }

.navbar-nav > li {
    /*border-right: 1px solid #ccc;*/
    float: left;
    font-size: 12px;
}

    .navbar-nav > li:last-child {
        border-right: medium none;
        float: left;
    }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #2eccf9;
    color: #ffffff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #2eccf9;
    color: #555555;
}

/* ========================================================
    Tab Styles
   ======================================================== */

.nav-tabs {
    border-bottom: 2px solid #96d3ef;
    text-decoration: none;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-color: #96d3ef;
        border-color: transparent;
        color: #fff;
        text-decoration: none;
        -moz-border-radius-topleft: 8px;
        -webkit-border-top-left-radius: 8px;
        -ms-border-top-left-radius: 8px;
        -moz-border-radius-topright: 8px;
        -webkit-border-top-right-radius: 8px;
        -ms-border-top-right-radius: 8px;
        border-top-right-radius: 8px;
        border-top-right-radius: 8px;
    }

.nav > li > a {
    text-decoration: none;
}

/*
.tab-content {
    padding-top: 20px;
}
*/

/* ========================================================
    Text Styles
   ======================================================== */

.text-medium {
    font-size: 1.7rem;
}

/* ========================================================
    Base Styles / Containers
   ======================================================== */

.glow {
    float: left;
    padding: 10px;
    min-height: 300px;
    color: #ffffff;
    width: 100%;
}

    .glow a {
        color: #ffffff;
        text-decoration: underline;
    }

.glow_grey {
    background-color: #fbfbfb;
    padding: 10px;
}

.glow_red {
    background: url(/img/glow.png) no-repeat center top #f32034;
}

.glow_teal {
    background: url(/img/glow.png) no-repeat center top #2ba9dc;
}

.glow_purple {
    background: url(/img/glow.png) no-repeat center top #843493;
}

.glow_green {
    background: url(/img/glow.png) no-repeat center top #009f52;
}

.glow_pink {
    background: url(/img/glow.png) no-repeat center top #ec0283;
}

.glow_navy {
    background: url(/img/glow.png) no-repeat center top #656ca3;
}

.glow_orange {
    background: url(/img/glow.png) no-repeat center top #f69522;
}

.glow_blue {
    background: url(/img/glow.png) no-repeat center top #2ba9dc;
}

.glow_yellow {
    background: url(/img/glow.png) no-repeat center top #faef23;
    color: #333;
}

.red {
    background-color: #f32034;
    padding: 10px;
}

.teal {
    background-color: #2ba9dc;
    padding: 10px;
}

.purple {
    background-color: #843493;
    padding: 10px;
}

.orange {
    background-color: #f69522;
    padding: 10px;
}

.blue {
    background-color: #2ba9dc;
    padding: 10px;
}

.yellow {
    background-color: #faef23;
    padding: 10px;
}

.btn.glow_yellow a {
    float: right;
    background: none repeat scroll 0 0 #faef23;
    border: 1px solid #fffecb;
    -ms-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 4px 6px #673371;
    -ms-box-shadow: 3px 4px 6px #673371;
    box-shadow: 3px 4px 6px #673371;
    color: #000;
    outline: medium none;
    padding: 8px 14px;
    margin: 15px;
    text-decoration: none;
}

/* ========================================================
    Base Styles
   ======================================================== */

.table-rounded tr:first-child td:first-child {
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
    -ms-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
}

.table-rounded tr:first-child td:last-child {
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    -ms-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
}

.table-rounded tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -ms-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.table-rounded tr:last-child td:last-child {
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -ms-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.border-top-left-radius {
    -ms-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
}

.border-top-right-radius {
    -ms-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
}

.border-bottom-right-radius {
    -ms-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.border-bottom-left-radius {
    -ms-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.border-radius {
    -ms-border-radius: 15px;
    border-radius: 15px;
}

.striped-blue tr:nth-child(odd) {
    background-color: #96d3f2;
}

.striped-blue tr:nth-child(even) {
    background-color: #cbe9f4;
}

.striped-purple tr:nth-child(odd) {
    background-color: #c19ac9;
}

.striped-purple tr:nth-child(even) {
    background-color: #e0cce5;
}

.striped-red tr:nth-child(odd) {
    background-color: #fbc8c0;
    background-color: rgba(251, 200, 192, 0.7);
}

.striped-red tr:nth-child(even) {
    background-color: #f32034;
    background-color: rgba(243, 134, 126, 0.7);
}

.img-bordered {
    border-color: #eee;
    border: 0.625em solid rgba( 255, 255, 255, .5 );
}
/* ========================================================
    Bootstrap Overrides
   ======================================================== */

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

a.btn {
    color: #333 !important;
    text-decoration: none;
}

/* ========================================================
    Revolution Slider
   ======================================================== */

.bannercontainer {
    width: 100%;
    position: relative;
    padding: 0;
}

.banner {
    width: 100%;
    position: relative;
}

/* ========================================================
    Facility / Table
   ======================================================== */

.facility {
    margin-bottom: 20px;
    width: 100%;
    float: left;
    clear: both;
}

    .facility td {
        padding: 10px 12px 10px 15px;
        font-size: 1.2rem;
        color: #16232b;
    }

    .facility a {
        text-decoration: none;
        color: #16232b;
    }

/* ========================================================
    Rules & Regulations / Table
   ======================================================== */

.regulations {
    margin-bottom: 20px;
    width: 100%;
    float: left;
    clear: both;
}

    .regulations td {
        padding: 10px 12px 10px 15px;
        font-size: 1.2rem;
        color: #16232b;
    }

/* ========================================================
    Addons / Table
   ======================================================== */

.addons {
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 20px;
}

    .addons td {
        padding: 10px 12px 10px 15px;
        color: #16232b;
        text-align: left;
    }

/* ========================================================
    Admission Rates / Table
   ======================================================== */

.admission {
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 20px;
}

    .admission td {
        padding: 10px 12px 10px 15px;
        font-weight: bold;
        color: #16232b;
        text-align: left;
    }

    .admission .fa {
        font-family: FontAwesome;
        padding-right: 8px;
    }

/* ========================================================
    Party Packages / Table
   ======================================================== */

.packages {
    width: 100%;
    float: left;
    clear: both;
}

    .packages td {
        padding: 10px 12px 10px 15px;
        font-size: 1.2rem;
        color: #16232b;
    }

        .packages td:first-child {
            width: 80%;
        }

        .packages td:last-child {
            text-align: right;
            padding-right: 40px;
        }

.packages-tabs {
    float: right;
    background: #d7ebf4;
    -ms-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
    line-height: 3;
    font-size: 1.2rem;
}

    .packages-tabs.purple {
        background-color: #e0cce5;
    }

    .packages-tabs.blue {
        background-color: #cbe9f4;
    }

    .packages-tabs span {
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        color: #000;
        margin: 25px;
    }

.packages .fa-check-circle {
    font-family: FontAwesome;
    font-size: 2rem;
    color: #009f52;
}

.packages .fa-times-circle {
    font-family: FontAwesome;
    font-size: 2rem;
    color: darkred;
}

#packages-button p {
    margin-left: 75px;
    padding: 5px;
}

#packages-button a {
    float: right;
    background: none repeat scroll 0 0 #faef23;
    border: 1px solid #fffecb;
    -ms-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 4px 6px #673371;
    -ms-box-shadow: 3px 4px 6px #673371;
    box-shadow: 3px 4px 6px #673371;
    color: #000;
    outline: medium none;
    padding: 8px 14px;
    margin: 15px;
    text-decoration: none;
}

#packages-button-sm a {
    float: right;
    background: none repeat scroll 0 0 #faef23;
    border: 1px solid #fffecb;
    -ms-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 3px 4px 6px #673371;
    -ms-box-shadow: 3px 4px 6px #673371;
    box-shadow: 3px 4px 6px #673371;
    color: #000;
    font-size: 1.1rem;
    outline: medium none;
    padding: 4px 7px;
    margin: 7px;
    text-decoration: none;
}

.package-includes {
    background-color: #faef23;
    color: #333;
    padding: 5px;
    margin: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.package-quantity {
    font-weight: bold;
}

.package-validate {
    color: #f32034;
}

.room-total {
    background-color: #faef23;
    color: #333;
    padding: 5px;
    margin: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.party-disclaimer {
    background-color: #faef23;
    color: #333;
    padding: 5px;
    margin: 5px;
    -ms-border-radius: 15px;
    border-radius: 15px;
}

    .party-disclaimer a {
        color: #333;
    }

.party-validations {
    background-color: #faef23;
    color: #f32034;
    padding: 5px;
    margin: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.party-times {
    background: #f7f7f7;
    padding: 8px;
}

    .party-times > li {
        display: inline-block;
        zoom: 1;
        *display: inline;
        /* this fix is needed for IE7- */
    }

.party-room a {
    font-family: 'anja_eliane_accentnornal';
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: black;
    margin: 5px;
    display: inline-block;
    line-height: 0.8;
    vertical-align: middle;
}

.party-room span {
    color: #333;
    font-size: 0.8em;
    display: inline-block;
    margin: 5px;
    line-height: 0.8;
    vertical-align: middle;
}

#PartyOrderDetails small {
    color: red;
}

.facility-carousel-radius {
    border-color: #eee;
    border: 0.625em solid rgba( 255, 255, 255, .5 );
    -ms-border-radius: 15px;
    border-radius: 15px;
}

/* ========================================================
    List / Styles
   ======================================================== */

.list-title {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 2px 5px #333;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 2px solid #96d3ef;
    margin-bottom: 15px;
    margin-top: 30px;
}

.list-terms {
    font-size: 1rem;
}

    .list-terms li {
        padding: 2px;
    }

    .list-terms h3 {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .list-terms a {
        color: inherit;
    }

h3.panel-title {
    display: inline;
}

.panel-group {
    color: #333 !important;
    text-decoration: none;
}

/* ========================================================
    Marque Styles
   ======================================================== */

ul.marquee {
    background: #fff;
    -ms-border-radius: 5px;
    border: #333 solid 1px;
    height: 25px;
    margin-top: 20px;
    padding: 5px 10px;
    padding: 5px 10px;
    text-align: center;
    overflow: hidden;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background-color 350ms;
    -moz-transition: background-color 350ms;
    -ms-transition: background-color 350ms;
    -o-transition: background-color 350ms;
    transition: background-color 350ms;
}

#dont-show {
    position: absolute;
    bottom: 10px;
    text-decoration: none;
    cursor: pointer;
}

/* ========================================================
    Awards Parade Styles
   ======================================================== */

.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
}

.nbs-flexisel-inner {
    overflow: hidden;
    float: left;
    width: 100%;
}

.nbs-flexisel-item {
    float: left;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    position: relative;
    line-height: 0px;
    width: 16.6%;
    max-width: 100% !important;
}

.stircrazy-awards {
    padding: 15px 10px;
    text-align: center;
    position: relative;
    z-index: 2;
    height: 155px;
}

    .stircrazy-awards img {
        max-width: 100%;
        height: 120px;
    }

    .stircrazy-awards .row div {
        text-align: center;
    }


/* ========================================================
    Image Lightbox Styles
   ======================================================== */

#imagelightbox {
    position: fixed;
    z-index: 9999;
    -ms-touch-action: none;
    touch-action: none;
    border-color: #eee;
    border: 0.625em solid rgba( 255, 255, 255, .5 );
    -ms-border-radius: 15px;
    border-radius: 15px;
}

.imagelightbox ul {
    list-style: none;
}

.imagelightbox li {
    display: inline-block;
    margin: 0.625em;
}

.nivo-lightbox-image img {
    border-color: #eee;
    border: 0.625em solid rgba( 255, 255, 255, .5 );
    -ms-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 );
    -moz-box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 );
    box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 );
    -webkit-transition: -webkit-box-shadow .3s ease, border-color .3s ease;
    -moz-transition: -moz-box-shadow .3s ease, border-color .3s ease;
    -ms-transition: -ms-box-shadow .3s ease, border-color .3s ease;
    -o-transition: -o-box-shadow .3s ease, border-color .3s ease;
    transition: box-shadow .3s ease, border-color .3s ease;
}

.imagelightbox img {
    width: 12.75em;
    height: 10.75em;
    border-color: #eee;
    border: 0.625em solid rgba( 255, 255, 255, .5 );
    -ms-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 );
    -moz-box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 );
    box-shadow: 0 0 0.313em rgba( 0, 0, 0, .05 );
    -webkit-transition: -webkit-box-shadow .3s ease, border-color .3s ease;
    -moz-transition: -moz-box-shadow .3s ease, border-color .3s ease;
    -ms-transition: -ms-box-shadow .3s ease, border-color .3s ease;
    -o-transition: -o-box-shadow .3s ease, border-color .3s ease;
    transition: box-shadow .3s ease, border-color .3s ease;
}

/* ========================================================
    DateTimePicker / Component
   ======================================================== */

.datepicker.dropdown-menu {
    width: 250px;
    height: 270px;
}

    .datepicker.dropdown-menu button {
        outline: 0;
        border: 0;
    }

    .datepicker.dropdown-menu tbody {
        height: 180px;
    }

        .datepicker.dropdown-menu tbody button {
            padding: 6px;
        }

    .datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
        height: 65px;
    }

.timepicker.dropdown-menu {
    padding: 0 4px;
}

    .timepicker.dropdown-menu button {
        outline: 0;
        border: 0;
    }

    .timepicker.dropdown-menu tbody button {
        padding: 6px;
    }

.fc-view-container {
    background-color: white;
    color: #333;
}

/* ========================================================
    Misc. Styles
   ======================================================== */

.payment-total {
    background-color: #eee;
    -ms-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

#ManualTransaction {
    color: #333;
}

/* ========================================================
    Responsive / Overrides
   ======================================================== */

@media (max-width: 570px) {

    form {
        font-size: 85%;
    }

    .container {
        padding-left: 8px;
        padding-right: 8px;
    }

    .packages-tabs span {
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        color: #000;
        margin: 10px;
    }

    .packages-tabs.blue, .glow {
        padding: 0;
    }

    .packages td {
        padding: 5px;
    }

    #packages-button a {
        margin: 5px;
    }

    #availability {
        font-size: 80%;
    }

    .party-room a {
        margin: 0;
        font-size: 80%;
    }

    .stircrazy {
        margin: 10px;
    }

    a.stircrazy-logo {
        margin-left: -5px;
    }

    ul.marquee {
        width: 100%;
    }

    .footer-logo {
        text-align: center;
    }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

        .navbar-collapse.collapse {
            display: none !important;
        }

    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
                font-weight: bold;
                font-size: 1.4em;
            }

    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .collapsing {
        overflow: hidden !important;
    }

    .navbar-default {
        background: url("../img/menu-bg.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
        border: 0px solid transparent;
        background-color: #faef23;
    }

    #HoursOfOperation div {
        float: left;
        padding-left: 5px;
    }

    .room-rental-times {
        width: 60%;
    }

    #calendar {
        margin: 2px;
    }

    .fc-header-right {
        display: none;
    }

    .fc-header-title h2 {
        margin-top: 7px !important;
        font-size: 15px;
    }

    .fc-content {
        margin: 2px;
    }

    .stircrazy-address {
        font-size: 20px;
    }

    #popup {
        left: 0 !important;
        -moz-min-width: 90%;
        -ms-min-width: 90%;
        -o-min-width: 90%;
        -webkit-min-width: 90%;
        min-width: 90% !important;
        padding: 15px !important;
    }
}

.tp-bannertimer {
    display: none;
}

/* ========================================================
    Vendor Overrides
   ======================================================== */

.theme-default .nivo-controlNav {
    bottom: 30px !important;
    height: 0 !important;
    padding: 0 !important;
    position: relative !important;
    text-align: center !important;
    z-index: 10 !important;
}

.theme-default .nivoSlider {
    margin-bottom: 0 !important;
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
}

.center-vertical {
    bottom: 0;
    left: 0;
    margin: 24px;
    top: 0;
    right: 0;
}
