﻿@charset "utf-8";

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular_0.eot');
    src: url('../fonts/opensans-regular_0.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular_0.woff') format('woff'), url('../fonts/opensans-regular_0.ttf') format('truetype'), url('../fonts/opensans-regular_0.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anja_eliane_accentnornal';
    src: url('../fonts/anja_eliane_accent002-webfont.eot');
    src: url('../fonts/anja_eliane_accent002-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/anja_eliane_accent002-webfont.woff') format('woff'), url('../fonts/anja_eliane_accent002-webfont.ttf') format('truetype'), url('../fonts/anja_eliane_accent002-webfont.svg#anja_eliane_accentnornal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media all {
    body {
        font-family: 'open_sansregular';
    }

    .stircrazy {
        font-family: 'anja_eliane_accentnornal';
        font-size: 2.8em;
        color: white;
        -ms-text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
        text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
        letter-spacing: 1.5px;
        margin: 10px;
        display: block;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }

    .stircrazy-yellow {
        color: #f8ef26 !important;
        -webkit-text-fill-color: #f8ef26 !important;
        -webkit-text-stroke-width: 0.1rem;
        -webkit-text-stroke-color: black;
    }
}
