﻿@model IEnumerable<Tuple<StirCrazy.Core.Domain.PartyRoom, StirCrazy.Core.Domain.TimeSlot>>
@{
    int index = 0;
}
<div class="panel-group" id="accordion">
    <h4 class="stircrazy">Choose Party Room & Timeslot(s)</h4>
    @foreach (var room in Model.GroupBy(x => x.Item1.Id).Select(group => group.First()).OrderBy(r => r.Item1.Capacity))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title party-room">@room.Item1.Name</h4>
            </div>
                <div class="panel-body">
                    <p>@room.Item1.Description</p>
                    <div class="row">
                        @foreach (var timeslot in Model.Where(x => x.Item1.Id == room.Item1.Id))
                        {
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <h4>
                                        @Html.Hidden("RoomBooking[" + index + "].TimeSlotId", timeslot.Item2.Id)
                                        @Html.Hidden("RoomBooking[" + index + "].PartyRoomId", room.Item1.Id)
                                        @Html.CheckBox("RoomBooking[" + index + "].IsSelected", false)
                                        @DateTime.Today.Add(timeslot.Item2.CheckInTime).ToString("t")
                                    </h4>
                                </div>
                            </div>
                            
                            index++;
                        }
                    </div>
                </div>
            </div>
    }
</div>
