﻿@model StirCrazy.Admin.Models.Party.CorporateEventModel

@Styles.Render("~/Content/datetimepicker")
@Scripts.Render("~/bundles/datetimepicker")
@Scripts.Render("~/bundles/stircrazy-corporate-booking")

<div class="col-lg-12">
    @using (Html.BeginForm("Create", "CorporateEvents", FormMethod.Post, new { @id = "Availability" }))
    {
        @Html.AntiForgeryToken()

        <!-- DATE/TIME -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Corporate</strong> Event</h3></div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label><i class="fa fa-calendar"></i>  Choose A Date</label><br />
                                    <div class="col-sm-2">
                                        @Html.TextBoxFor(model => model.Date, "{0:MM/dd/yyyy}", new { @class = "form-control", id = "Schedule", data_format = "MM/DD/YYYY" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="DatePair">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>From</label>
                                    @Html.TextBoxFor(model => model.StartTime, new { @class = "form-control time start" })
                                </div>
                                <div class="form-group">
                                    <label>Until</label>
                                    @Html.TextBoxFor(model => model.EndTime, new { @class = "form-control time end" })
                                </div>
                                <div class="form-group">
                                    <input type="button" class="btn btn-default" name="Check" value="Check Availability" id="CheckAvailability" />
                                </div>
                                <div class="form-group" id="AvailabilityStatus"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="ui-checkbox">
                                    <label class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off">
                                        All Day Event
                                        @Html.CheckBoxFor(model => model.IsAllDay)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Corporate</strong> Information</h3></div>
                    <div class="panel-body">
                        <div class="col-md-5" id="CustomerInformation">
                            <!-- CUSTOMER INFORMATION -->
                            <div class="form-group">
                                <div class="controls">
                                    <label>Company Name</label><br />
                                    @Html.TextBoxFor(model => model.Customer.BusinessName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>First Name</label><br />
                                    @Html.TextBoxFor(model => model.Customer.FirstName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Last Name</label><br />
                                    @Html.TextBoxFor(model => model.Customer.LastName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Address</label><br />
                                    @Html.TextBoxFor(model => model.Customer.Address, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>City</label><br />
                                    @Html.TextBoxFor(model => model.Customer.City, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Province</label><br />
                                    <select id="Customer_Province" name="Customer.Province" class="form-control">
                                        <option value="">-- Choose --</option>
                                        <option value="Alberta">Alberta</option>
                                        <option value="British Columbia">British Columbia</option>
                                        <option value="Manitoba">Manitoba</option>
                                        <option value="New Brunswick">New Brunswick</option>
                                        <option value="New Foundland">New Foundland</option>
                                        <option value="Northwest Territories">Northwest Territories</option>
                                        <option value="Nova Scotia">Nova Scotia</option>
                                        <option value="Ontario">Ontario</option>
                                        <option value="Prince Edward Island">Prince Edward Island</option>
                                        <option value="Quebec">Quebec</option>
                                        <option value="Saskatchewan">Saskatchewan</option>
                                        <option value="Yukon Territories">Yukon Territories</option>
                                    </select>                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Postal Code</label><br />
                                    @Html.TextBoxFor(model => model.Customer.PostalCode, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Phone</label><br />
                                    @Html.TextBoxFor(model => model.Customer.PhoneNumber, new { @class = "form-control  bfh-phone" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Email</label><br />
                                    @Html.TextBoxFor(model => model.Customer.Email, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Total</label><br />
                                    @Html.TextBoxFor(model => model.Total, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="controls">
                                    <label>Special Instructions</label><br />
                                    @Html.TextAreaFor(model => model.Notes, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <span id="ScheduleResponse" style="display: block"></span>
                            <input type="submit" value="Save & Finish" class="btn btn-default" />
                            @Html.ActionLink("Cancel", "Index", "Room", new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<link href="~/Scripts/plugins/jquery.timepicker/jquery.timepicker.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/plugins/jquery.timepicker/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/jquery.datepair/Datepair.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/jquery.datepair/jquery.datepair.js"></script>
<script>

    $('#DatePair .time').timepicker({
        'showDuration': true,
        'timeFormat': 'g:i A'
    });

    $('.time').timepicker('setTime', new Date(0, 0, 0, 0, 0, 0, 0));
    $('#DatePair').datepair();

    $('#IsAllDay').click(function () {
        if ($('#IsAllDay').is(':checked')) {
            $('.time').attr('disabled', 'disabled');
            return;
        }

        $('.time').removeAttr('disabled');
    });
</script>
