﻿@using System.Globalization
@using StirCrazy.Core.Utilities
@model StirCrazy.Admin.Models.Party.CorporateEventModel
@{
    var startTime = DateTime.ParseExact(Model.StartTime, "HH:mm:ss", CultureInfo.InvariantCulture);
    var endTime = DateTime.ParseExact(Model.EndTime, "HH:mm:ss", CultureInfo.InvariantCulture);
}
<div class="col-lg-12">
    <div class="row" id="CorporateEventDetails">
        <br />
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Event</strong> Overview</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <h1>
                                        @(string.IsNullOrEmpty(Model.Customer.BusinessName) ? Model.Customer.FullName : Model.Customer.BusinessName)
                                    </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="controls">
                                <h3>@Model.Date.ToString("ddd MMM dd, yyyy").ToUpper()</h3>
                                <b>Event Time</b><br /> @startTime.ToString("h:mm tt") - @endTime.ToString("h:mm tt")<br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="controls">
                                @if (Model.Notes != null)
                                {
                                    <strong>-== SPECIAL INSTRUCTIONS ==-</strong><br /> @Model.Notes.ToUpper()
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title"><strong>Customer</strong> Information</h3></div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="controls">
                            <h3>@Model.Customer.FullName</h3>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Address</label>
                        <div class="controls">
                            @Model.Customer.Address<br />
                            @Model.Customer.City, @Model.Customer.Province @Model.Customer.PostalCode<br />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Phone Number</label>
                        <div class="controls">
                            @HtmlHelperExtensions.PhoneNumber(Model.Customer.PhoneNumber)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Email Address</label>
                        <div class="controls">
                            @Model.Customer.Email
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="packages-button" class="col-sm-12">
                    <p style="color: red; font-weight:  bold">
                        WARNING: Cancelling this order cannot be undone.<br />Do not forget to issue a refund for the cancellation.
                    </p>
                    @using (Html.BeginForm("Delete", "CorporateEvents"))
                    {
                        @Html.HiddenFor(model => model.Id)
                        <input type="submit" value="Confirm & Cancel" class="btn btn-dark btn-rounded" />
                        @Html.ActionLink("Go Back", "Index", null, new { @class = "btn btn-default btn-rounded" })
                    }
                </div>
            </div>
        </div>

    </div>
</div>
</div>
