﻿@using System.Globalization
@using StirCrazy.Core.Utilities
@model IEnumerable<StirCrazy.Admin.Models.Party.CorporateEventModel>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading bg-dark">
            <h3 class="panel-title"><strong>Corporate</strong> Bookings</h3> <a href="/CorporateEvents/Create" class="btn btn-default btn-rounded btn-sm pull-right"><i class="fa fa-plus"></i> Corporate Booking</a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive filter-right">
                    @if (!Model.Any())
                    {
                        <div class="alert bg-gray-light">
                            It doesn't look like you have any corporate bookings currently.
                            <a href="/CorporateEvents/Create">Create a new corporate booking?</a>
                        </div>
                    }
                    else
                    {
                        <table id="datatable" class="table table-striped table-hover table-dynamic table-dark dataTable">
                            <thead>
                                <tr>
                                    <th>Scheduled</th>
                                    <th>Business</th>
                                    <th>Event</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var startTime = DateTime.ParseExact(item.StartTime, "HH:mm:ss", CultureInfo.InvariantCulture);
                                    var endTime = DateTime.ParseExact(item.EndTime, "HH:mm:ss", CultureInfo.InvariantCulture);

                                    <tr id="@item.Id">
                                        <td>
                                            @item.Date.ToString("MMM dd, yyyy")
                                        </td>
                                        <td>
                                            @(string.IsNullOrEmpty(item.Customer.BusinessName) ? item.Customer.FullName : item.Customer.BusinessName)
                                        </td>
                                        <td>
                                            @if (item.IsAllDay)
                                            {
                                                @("FULL DAY")
                                            }
                                            else
                                            {
                                                @DateTime.Today.Add(startTime.TimeOfDay).ToString("h:mm tt") @(" - ")
                                                @DateTime.Today.Add(endTime.TimeOfDay).ToString("h:mm tt")
                                            }
                                        </td>
                                        <td>
                                            @item.Status.GetDisplayName()
                                        </td>
                                        <td>
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) <br />
                                            @Html.ActionLink("Print", "Print", new { id = item.Id }) <br />
                                            @Html.ActionLink("Download", "Save", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>