﻿@using System.Globalization
@using StirCrazy.Core.Utilities
@model StirCrazy.Admin.Models.Party.CorporateEventModel
@{
    var startTime = DateTime.ParseExact(Model.StartTime, "HH:mm:ss", CultureInfo.InvariantCulture);
    var endTime = DateTime.ParseExact(Model.EndTime, "HH:mm:ss", CultureInfo.InvariantCulture);
}
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            font: 9pt/1.2 Arial, sans-serif;
        }

        .content {
            width: 9.5in;
        }

        .floating-div {
            float: left;
            margin: 1%;
            -moz-page-break-inside: avoid;
            page-break-inside: avoid;
        }

        .floating-div-left {
            width: 55%;
        }

        .floating-div-right {
            width: 40%;
        }

        .page-break {
            page-break-after: always;
        }
    </style>
</head>
<body onload="window.print()">
    <div class="content">
        <img src="/img/logo.png" />
        <br>
        <div class="floating-div floating-div-left">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Customer</strong> Information</h3></div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="controls">
                                <h3>@Model.Customer.FullName</h3>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Address</label>
                            <div class="controls">
                                @Model.Customer.Address<br />
                                @Model.Customer.City, @Model.Customer.Province @Model.Customer.PostalCode<br />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Phone Number</label>
                            <div class="controls">
                                @HtmlHelperExtensions.PhoneNumber(Model.Customer.PhoneNumber)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Email Address</label>
                            <div class="controls">
                                @Model.Customer.Email
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="floating-div floating-div-right">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Event</strong> Overview</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <h1>
                                        @(string.IsNullOrEmpty(Model.Customer.BusinessName) ? Model.Customer.FullName : Model.Customer.BusinessName)
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="controls">
                                    <h3>@Model.Date.ToString("ddd MMM dd, yyyy").ToUpper()</h3>
                                    <b>Event Time</b><br /> @startTime.ToString("h:mm tt") - @endTime.ToString("h:mm tt")<br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="controls">
                                    @if (Model.Notes != null)
                                    {
                                        <br /> @Html.Raw(Model.Notes.Replace(Environment.NewLine, "<br/>"))
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Thank You For Ordering!</h2>
                    <p>
                        Your order is on it's way to our team and we look forward to seeing you soon.<br />
                        Should you wish to change your order please feel free to email us at partycoordinator@("@")stircrazy.ca.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both">
    </div>
</body>
</html>
